<div class="invest-formalization-index-tab">
    <ul id="invest-formalization-index-tab" class="nav nav-tabs">
        <li ng-class="">
            <a ui-sref="">Protocolos Assinados no Ano</a>
        </li>
        <li ng-class="">
            <a ui-sref="">Projetos no Ano (Cadeia produtiva)</a>
        </li>
        <li ng-class="">
            <a ui-sref="">Relatório de Projetos em DF</a>
        </li>
    </ul>
    <div class="tab-content">        
        <div ui-view=""></div>
    </div>
</div>
