<div growl></div>
<form name="formTrackingStage" class="form-horizontal" novalidate>
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6 text-center text-left-sm"><i class="fa fa-table page-header-icon"></i> {{'reportTrackingFormalizationInstrument.title' | translate}}</h1>
        </div>
    </div>

    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-if="!(isGerente() || isPromocao())">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select id="manageMultiSelect" name="manageMultiSelect" class="form-control" ng-model="filtro.gerencias" multiple="true" ng-change="changeManageMultiSelect()">
                            <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias" ng-selected="{{manageMultiSelect.indexOf(gerencia.id) > -1}}">{{gerencia.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-if="!isPromocao()">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.analyst' | translate }}</label>
                        <select id="analystMultiSelect" name="analystMultiSelect" class="form-control" ng-model="filtro.analistas" multiple="true">
                            <option title="{{analista.nome}}" ng-value="analista.id" ng-repeat="analista in analistas" ng-selected="{{analystMultiSelect.indexOf(analista.id) > -1}}">{{analista.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'formalizationInstrument.type' | translate }}</label>
                        <select id="typeMultiSelect" name="typeMultiSelect" class="form-control" ng-model="filtro.tipos" multiple="true">
                            <option title="{{tipo.descricao}}" ng-value="tipo.id" ng-repeat="tipo in tiposInstrumento" ng-selected="{{typeMultiSelect.indexOf(tipo.id) > -1}}">{{tipo.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.local' | translate }}</label>
                        <select id="localMultiSelect" name="localMultiSelect" class="form-control" ng-model="filtro.locais" multiple="true" >
                            <option title="{{local.descricao}}" ng-value="local.id" ng-repeat="local in locais" ng-selected="{{localMultiSelect.indexOf(local.id) > -1}}">{{local.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- Início Previsão de Assinatura -->
                <div class="col-sm-8">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'reportTrackingFormalizationInstrument.signaturePrediction' | translate }}</label>
                        <div class="row">
                            <div class="form-group no-margin-hr col-md-4">
                                <datepicker-custom id="startPredictionDatepicker" date="filtro.previsaoAssinaturaDe" configs="configsDatepickers"></datepicker-custom>
                            </div>
                            <div class="form-group padding-sm text-center col-md-1">
                                a
                            </div>
                            <div class="form-group no-margin-hr col-md-4">
                                <datepicker-custom id="endPredictionDatepicker" date="filtro.previsaoAssinaturaAte" configs="configsDatepickers"></datepicker-custom>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim Previsão de Assinatura -->
            </div>
        </div>
        <!-- Início botões filtro -->
        <div class="panel-footer text-right">
            <button id="searchButton" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="resetButton" ng-click="clean()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
        <!-- Fim botões filtro -->
    </div>
</form>

<!-- Início Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <!-- Início botões grid -->
                <div class="grid-header">
                    <button id="exportExcelButton" ng-click="export('xls')" ng-disabled="disabledExport()" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-excel-o"></span>{{ 'common.exportExcel' | translate }}
                    </button>
                    <button id="exportPdfButton" ng-click="export('pdf')" ng-disabled="disabledExport()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-pdf-o"></span>{{ 'common.exportPdf' | translate }}
                    </button>
                </div>
                <!-- Fim botões grid -->
                <!-- Início Grid -->
                <ng-grid-custom data-model="data" column-defs="columnDefs" selected-items="selectedItems" disable-header="disableHeader" grid-scope="gridScope" sort-info="sortInfo"></ng-grid-custom>
                <!-- Fim Grid -->
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->