<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen() || disableGrid()">
    <form id="formMonitor" name="formMonitor" class="form-horizontal" novalidate form-check-changes>
        <!-- Início Projetos Relacionados -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{'publication.related.project' | translate}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <strong>{{'publication.company.name' | translate}}:</strong>
                    </div>
                    <div class="col-sm-3">
                        <div ng-repeat="empresa in instrumento.empresas">{{empresa}}</div>
                    </div>

                    <div class="col-sm-3">
                        <strong>{{'formalizationInstrument.type' | translate}}:</strong>
                    </div>
                    <div class="col-sm-3">
                        <div>{{instrumento.tipoInstrFormalizacao}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <strong>{{'publication.project.name' | translate}}:</strong>
                    </div>
                    <div class="col-sm-6">
                        <div ng-repeat="projeto in instrumento.projetos">{{projeto}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Projetos Relacionados -->

        <!-- Início panel Informações da Publicação do Instrumento de Formalização -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="common.current.location"></span>
            </div>
            <div class="grid-header">
            </div>

        <div class="table-responsive">
            <table class="table table-bordered table-gpi" style="border-bottom:0">
                <thead>
                    <tr>
                        <th class="text-center" data-title="{{'common.local' | translate}}"><strong translate>common.local</strong></th>
                        <th class="text-center" data-title="{{'common.activity' | translate}}"><strong translate> common.activity</strong></th>
                        <th class="text-center" data-title="{{'common.start' | translate}}"><strong translate>activity.date.start</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center yellowRow">
                        <td>{{gridScope.currentLocation.atividadeLocal.local.descricao}}</td>
                        <td>{{gridScope.currentLocation.atividadeLocal.descricao}}</td>
                        <td>{{gridScope.currentLocation.dataInicio | dateTransformFilter}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        </div>
        <!-- Fim panel Informações da Publicação do Instrumento de Formalização -->

        <!-- Tabela Histórico Situacao Instrumento de Formalização  -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title">Historico de Situação</span>
            </div>
            <div class="grid-header">
            </div>
            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0">
                    <tbody>
                        <tr class="text-center" ng-repeat="situacao in instrumento.situacoes">
                            <td ng-class="{yellowRow: true}" data-title="'Status'">{{situacao.situacao.descricao}}</td>
                            <td data-title="'Data'">
                                {{situacao.dataInicioSituacao | dateTransformFilter}}
                            </td>
                            <td data-title="'Justificativa'">
                                {{situacao.justificativa != null? situacao.justificativa : " - "}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Início Grid Atividades -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate>common.activities</span>
            </div>
            <div class="grid-header">
                <button id="addActivity" type="file" class="btn btn-primary btn-labeled" ng-click="gridScope.addActivity(true)">
                    <span class="btn-label icon fa fa-plus"></span>{{'common.new.paralel.activity' | translate}}</button>

                <button id="addActivity" type="file" class="btn btn-primary btn-labeled" ng-click="gridScope.addActivity(false)">
                    <span class="btn-label icon fa fa-plus"></span>{{'common.new.activity' | translate}}</button>
            </div>
            <ng-grid-activities data-model="atividades" column-defs="columnDefs" column-defs-on-end="columnDefsOnEnd" selected-items="selectedItems" has-all="{{true}}" grid-scope="gridScope" delete-service-path="deleteServicePath" save-service-path="saveServicePath"></ng-grid-activities>
        </div>
        <!-- Fim Grid Atividades -->

        <responsible-for-information usuario="instrumento.usuarioResponsavelPelaInformacao" data="instrumento.dataUltimaAlteracao"></responsible-for-information>

</fieldset>
<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="backButton" ui-sref="base.formalizationInstrumentSearch" class="btn btn-labeled btn-danger">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->
</form>
