<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen()">
    <form id="formFormalizationInstrument" name="formFormalizationInstrument" class="form-horizontal" novalidate form-check-changes>
        <!-- Início Informacoes do Instrumento de Formalizacao -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="formalizationInstrument.informations"></span>
            </div>
            <div class="panel-body">

                <div class="row">
                    <!-- Início campo Tipo de Instrumento de Formalização -->
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="formalizationType">{{'formalizationInstrument.type' | translate}} *</label>
                            <div ng-class="{'has-error': checkValidation(formFormalizationInstrument.formalizationType)}">
                                <select ng-disabled="disableEditInstrumentoFormalizacaoTipo(formFormalizationInstrument)" id="formalizationType" name="formalizationType" ng-model="instrumentoFormalizacao.tipo" class="form-control" ng-options="tipo.id as tipo.descricao for tipo in formalizationTypes" required>
                                    <option value="" translate="common.select"></option>
                                </select>
                                <div ng-if="checkValidation(formFormalizationInstrument.formalizationType)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim campo Tipo de Instrumento de Formalização -->
                    <!-- Início campo Titulo do Instrumento de Formalização -->
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="formalizationInstrumentTitleInput">{{ 'formalizationInstrument.title' | translate }} *</label>

                            <div ng-class="{'has-error': checkValidation(formFormalizationInstrument.formalizationInstrumentTitleInput)}">
                                <input type="text" id="formalizationInstrumentTitleInput" name="formalizationInstrumentTitleInput" ng-model="instrumentoFormalizacao.titulo" class="form-control" placeholder="{{ 'formalizationInstrument.title' | translate }}" maxlength="200" required>
                                <div ng-if="checkValidation(formFormalizationInstrument.formalizationInstrumentTitleInput)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Início campo Titulo do Instrumento de Formalização -->
                </div>

                <div class="row">
                    <div class="col-sm-4" ng-if="instrumentoFormalizacao.tipo === tipoInstrumentoConstant.TERMO_ADITIVO.id">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="protocolIntentionCode">{{ 'formalizationInstrument.protocolIntentionCode' | translate }} *</label>
                            <div ng-class="{'has-error': checkValidation(formFormalizationInstrument.protocolIntentionCode)}">
                                <input type="text" ng-blur="checkProtocoloIntecoes()" id="protocolIntentionCode" name="protocolIntentionCode" ng-model="instrumentoFormalizacao.protocolo" class="form-control" ui-mask="999/9999" required>
                                <div ng-if="checkValidation(formFormalizationInstrument.protocolIntentionCode)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'formalizationInstrument.financialCounterpart' | translate }} *</label>
                            <br>
                            <input name="user-status-radio" id="user-status-radio" type="radio" ng-value="{{true}}" ng-model="instrumentoFormalizacao.possuiContrapartidaFincGoverno">
                            <span class="lbl">{{ 'common.yes' | translate }}</span>
                            <input name="user-status-radio" id="user-status-radio" type="radio" ng-value="{{false}}" ng-model="instrumentoFormalizacao.possuiContrapartidaFincGoverno">
                            <span class="lbl">{{ 'common.no' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Informacoes do Instrumento de Formalizacao -->
        <!-- Inicio Empresas Relacionadas -->
        <fieldset ng-disabled="disabledProjetoEmpresa()">
            <div class="panel ng-scope">
                <div class="panel-heading">
                    <span class="panel-title" translate="formalizationInstrument.relatedCompaniesUnits"></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" for="companyInput">{{ 'common.company' | translate }} *
                                    <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.company' | translate }}"></span>
                                </label>

                                <div ng-class="{'has-error': checkValidation(formFormalizationInstrument.companyInput)}">
                                    <input type="text" id="companyInput" name="companyInput" class="form-control" placeholder="{{ 'common.company' | translate }}" typeahead-on-select="empresaSelected($item)" ng-model="empresaUnidadeSelecionadaTxt" typeahead="empresa.nomeExibicao for empresa in updateCompanies($viewValue) | filter:$viewValue" typeahead-min-length="3" />

                                    <div ng-if="checkValidation(formFormalizationInstrument.companyInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr no-label">
                                <button id="newCompanyButton" class="btn btn-labeled btn-info" ng-click="addCompany()" ng-disabled="!empresaUnidadeSelecionadaPrev">
                                    <span class="btn-label icon fa fa-plus-circle"></span>{{'company.new' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" for="companyOrUnitInput">{{'project.company.unit' | translate}} *</label>
                                <div ng-repeat="company in addedCompanies" class="form-group no-margin-hr">
                                    <div class="col-sm-10" style="padding: 0">
                                        <input type="text" ng-model="company.nomeExibicao" class="form-control" ng-disabled="true">
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="newCompanyButton" class="btn btn-labeled btn-danger" ng-click="removeCompany(company)">
                                            <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
        <!-- Fim Empresas Relacionadas -->

        <!-- Inicio Projetos Relacionados -->
        <fieldset ng-disabled="disabledProjetoEmpresa()">
            <div class="panel ng-scope">
                <div class="panel-heading">
                    <span class="panel-title" translate="formalizationInstrument.relatedProjects"></span>
                </div>
                <div class="panel-body">
                    <div class="row form-group no-margin-hr">
                        <div controller="MultiselectCtrl" class="col-sm-12">
                            <div ng-class="{'has-error' : projectSelectValidation(formFormalizationInstrument.currentRoles)}">
                                <multi-select id="project-select" ng-model="instrumentoFormalizacao.projetos" available="projetos" selected-label="{{ 'common.selected' | translate }}" available-label="{{ 'common.project' | translate }}*" display-attr="nomeProjeto" required></multi-select>
                                <div class="help-block" ng-if="projectSelectValidation(formFormalizationInstrument.currentRoles)">
                                    {{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Fim Projetos Relacionados -->
        <!-- Inicio Dados Instrumento Formalizacao -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="formalizationInstrument.data"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.situation" for="situationSelect"></label>
                            <select ng-disabled="screenService.isNewScreen()" id="situationSelect" name="situationSelect" ng-change="situationChanged()" ng-model="instrumentoFormalizacao.situacaoEnum" class="form-control" ng-options="situacao.id as situacao.descricao for situacao in situacaoInstrumentoFormalizacaoList" required>
                                <option value="" translate="common.select"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="signatureScheduledDateInput">{{'formalizationInstrument.signatureScheduledDate' | translate}} *</label>
                            <datepicker-custom id="signatureScheduledDateInput" date="instrumentoFormalizacao.dataAssinaturaPrevista" configs="configsDatepickerScheduledDate" form-submitted="formSubmitted"></datepicker-custom>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.signDate" for="signatureDateSpan"></label>
                            <span type="text" id="signatureDateSpan" name="signatureDateSpan" class="form-control">{{instrumentoFormalizacao.dataAssinatura | dateTransformFilter}}</span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="showJustificative()" ng-class="{'has-error' : checkValidation(formFormalizationInstrument.situationJustificative)}">
                    <div class="col-sm-12">
                        <div>
                            <textarea class="form-control" id="situationJustificative" ng-disabled="disableJustificative" name="situationJustificative" ng-model="instrumentoFormalizacao.justificativa" placeholder="{{ 'common.justificative' | translate }}" maxlength="1000" required></textarea>
                            <div class="help-block" ng-if="checkValidation(formFormalizationInstrument.situationJustificative)">
                                {{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Fim Dados Instrumento Formalizacao -->

        <!-- Início Dados do Signatario -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="formalizationInstrument.subscriberData"></span>
            </div>
            <ng-grid-custom data-model="signatarios" column-defs="columnDefs" small="true" buttons-config="buttonsConfig" selected-items="selectedItems" injection-functions="injectFuncion" sort-info="sortInfo"></ng-grid-custom>
        </div>
        <!-- Fim Dados do Signatario -->

        <responsible-for-information usuario="instrumentoFormalizacao.usuarioResponsavel.nome" data="instrumentoFormalizacao.dataUltimaAlteracao"></responsible-for-information>

</fieldset>
<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">

        <button id="saveButton" ng-click="submit(formFormalizationInstrument.$valid)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>

        <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.formalizationInstrumentSearch', formFormalizationInstrument)" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>

        <button id="backButton" class="btn btn-labeled btn-danger" ui-sref="base.formalizationInstrumentSearch" ng-if="screenService.isShowScreen()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>

        <button id="generateDraftButton" class="btn btn-labeled btn-warning" ng-disabled="true">
            <span class="btn-label icon fa fa-thumbs-o-up"></span>{{'formalizationInstrument.generateDraft' | translate}}
        </button>
        <button id="sendTechnicalNoteButton" ng-click="sendTechnicalNote()" class="btn btn-labeled btn-info">
            <span class="btn-label icon fa fa-print"></span>{{'formalizationInstrument.sendTechnicalNote' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->
</form>
