<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen() || isPromocaoOuGerente()">
    <form id="formPublication" name="formPublication" class="form-horizontal" novalidate form-check-changes>
        <!-- Início Projetos Relacionados -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{'publication.related.project' | translate}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <strong>{{'publication.company.name' | translate}}:</strong>
                    </div>
                    <div class="col-sm-6">
                        <div ng-repeat="empresa in publicacao.empresas">{{empresa}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <strong>{{'publication.project.name' | translate}}:</strong>
                    </div>
                    <div class="col-sm-6">
                        <div ng-repeat="projeto in publicacao.projetos">{{projeto}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Projetos Relacionados -->

        <!-- Início panel Informações da Publicação do Instrumento de Formalização -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="publication.information.instrument.formalization"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="publicationDatepicker">{{'publication.date' | translate}} *</label>
                            <datepicker-custom id="publicationDatepicker" date="publicacao.dataPublicacao" configs="configsDatepickerPublication" form-submitted="formSubmitted"></datepicker-custom>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-if="showProtocolCode">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="protocolCodeInput">{{'formalizationInstrument.protocolCode' | translate}} *</label>
                            <div ng-class="{'has-error': checkValidation(formPublication.protocolCodeInput)}">
                                <input type="text" id="protocolCodeInput" name="protocolCodeInput" ng-model="publicacao.protocolo" class="form-control" required ui-mask="999/9999" ng-disabled="disableProtocolCode">
                                <div ng-if="checkValidation(formPublication.protocolCodeInput)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-if="showProtocolCode">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="titulo-input">Titulo</label>
                                <input type="text" id="titulo-input" name="titulo-input" ng-model="publicacao.titulo" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim panel Informações da Publicação do Instrumento de Formalização -->

        <!-- Início Arquivos Anexados -->
        <div class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="PublicationAttachedFilesGridCtrl as attachedFilesCtrl">
            <div class="panel-heading">
                <span class="panel-title" translate="common.attached.files"></span>
            </div>
            <div class="grid-header">
                <button id="attachFileButton" type="file" class="btn btn-success btn-labeled" flow-btn>
                    <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                    <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                        <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                    </button>
                </div>
                <file-uploader grid-scope="gridScope" flow-drop data-model="publicacao.anexos" column-defs="attachedFilesColumnDefs" selected-items="attachedSelectedFiles"></file-uploader>
        </div>
        <!-- Fim Arquivos Anexados -->

        <responsible-for-information usuario="publicacao.usuarioResponsavel.nome" data="publicacao.dataUltimaAlteracao"></responsible-for-information>

</fieldset>
<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="saveButton" ng-disabled="disableNewFn()" ng-click="save(formPublication.$valid)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isPromocaoOuGerente()">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.formalizationInstrumentSearch', formPublication)" ng-if="!screenService.isShowScreen() && !isPromocaoOuGerente()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" ui-sref="base.formalizationInstrumentSearch" class="btn btn-labeled btn-danger" ng-if="screenService.isShowScreen() || isPromocaoOuGerente()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->
</form>