<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen()">
    <form id="formSatisfactionSurvey" name="formSatisfactionSurvey" class="form-horizontal" novalidate form-check-changes>
		<div class="page-header">
		    <!-- Page header, center on small screens -->
		    <h1 class="col-xs-12 col-sm-8 text-center text-left-sm"><i class="fa {{screenService.getScreen(screenType).icon}} page-header-icon"></i>&nbsp;&nbsp;{{screenService.getScreen(screenType).translationKey | translate}}</h1>
		</div>

    	<!-- Projetos Relacionados -->
	    <div class="panel ng-scope">
	        <div class="panel-heading">
	            <span class="panel-title" translate="satisfactionSurvey.related.projects"></span>
	        </div>
	        <div class="panel-body">
		        <div class="row">
		            <div class="col-sm-3"><strong>Nome da Empresa: </strong></div>
					<div class="col-sm-7">
						<div ng-repeat="empresa in instrumento.empresasSelecionadas">{{empresa.nomePrincipal}}<br></div>
					</div>
		        </div>
		        <div class="row">
		            <div class="col-sm-3"><strong>Nome dos Projetos: </strong></div>
					<div class="col-sm-7">
						<div ng-repeat="projeto in instrumento.projetosSelecionados">{{projeto.nomeProjeto}}<br></div>
					</div>
		        </div>
			</div>
		</div>

		<!-- Avaliação dos Serviços Prestados pelo INDI -->
	    <div class="panel ng-scope">
	        <div class="panel-heading">
	            <span class="panel-title" translate="satisfactionSurvey.services.avaliation"></span>
	        </div>
	        <div class="panel-body">
		        <div class="row">
		            <div class="col-sm-3"><strong>Empresa: </strong></div>
					<div class="col-sm-7">{{pesquisa.empresa.nomePrincipal}}</div>
		        </div>
		        <div class="row">
		            <div class="col-sm-3"><strong>Instrumento de Formalização: </strong></div>
					<div class="col-sm-7">{{instrumento.titulo}}</div>
		        </div>
			</div>
	        <div class="panel-footer">
	            Considerando a atuação do INDI até a assinatura do protocolo de intenções, pedimos que responda
	             à seguinte Avaliação de Atendimento do INDI ao Investidor.
	        </div>
		</div>

		<!-- Inicio do questionário -->
	    <div class="panel ng-scope">
	        <div class="panel-body">
	            <div class="col-sm-12">
			        <div class="row">
			        	<survey-panel-dir pesquisa="pesquisa" tipo-pergunta="tipoPergunta"></survey-panel-dir>
		            </div>
		        </div>
	            <div class="col-sm-12">
			        <div class="row">
			            <div class='form-group no-margin-hr'>
			            	<label class='control-label'>6 - Sugestões de melhoria / comentários:</label>
			            	<textarea class='form-control' rows="6" maxlength="8000" ng-model="pesquisa.comentario"></textarea>
			            </div>
		            </div>
		        </div>
			</div>
		</div>

        <!-- Início Arquivos Anexados  -->
        <div class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="AttachedFilesSatisfactionSurveyGridCtrl as AttachedFilesSatisfactionSurvey">
            <div class="panel-heading">
                <span class="panel-title" translate="common.attached.files"></span>
            </div>
            <div class="grid-header">
                <button id="attachFileButton" type="file" class="btn btn-primary btn-labeled" flow-btn>
                    <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                    <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                </button>
            </div>
            <file-uploader flow-drop data-model="anexosPesquisaSatisfacao" column-defs="anexosPesquisaSatisfacaoColumnDefs" selected-items="anexosPesquisaSatisfacaoSelectedFiles"></file-uploader>
        </div>
        <!-- Fim Arquivos Anexados -->

	</form>
</fieldset>

<!-- Botões -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="send-button" ng-click="send(formSatisfactionSurvey.$valid)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-check-circle-o"></span>Enviar
        </button>
        <button id="cancel-button" ng-click="cancelar(formUser)" class="btn btn-labeled btn-danger" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.userSearch" ng-if="screenService.isShowScreen()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>


