<ul class="breadcrumb breadcrumb-page">
  <div class="breadcrumb-label text-light-gray">Você está em: </div>
  <li ng-repeat="crumb in breadcrumbs" ng-class="{ active: $last }">
  	<a ui-sref="{{ crumb.getRoute() }}" ng-if="!$last">{{ crumb.displayName }}&nbsp;</a>
  	<span ng-show="$last">{{ crumb.displayName }}</span>
  </li>
</ul>