<div growl></div>
<div class="page-signin">
    <div id="page-signin-bg">
        <!-- Background overlay -->
        <div class="overlay"></div>
        <!-- Replace this with your bg image -->
        <img src="images/login-bg.jpg" alt="">
    </div>
    <!-- / Page background -->
    <!-- Container -->
    <div class="signin-container">
        <!-- Left side -->
        <div class="signin-info">
            <div class="logo">
                <!--GPI-->
                <img src="images/indi.png" alt="" />
            </div>
            <div class="versionNumber">{{versionNumber}}</div>
            <!-- / Info list -->
        </div>
        <!-- / Left side -->

        <!-- Right side -->
        <div class="signin-form">

            <!-- Form -->
            <form id="loginForm" name="loginForm" ng-submit="login(loginForm.$valid, credentials)" novalidate>
                <div ng-show="!resetPasswordVisible()" class="signin-text">
                    <span>Identificação do Usuário Interno</span>
                </div>
                <div ng-show="resetPasswordVisible()" class="signin-text">
                    <span>Identificação do Usuário Externo</span>
                </div>
                <!-- / .signin-text -->

                <div class="form-group" ng-class="{'has-error': checkValidation(loginForm.username)}">
                    <div class="form-group w-icon">
                        <input type="text" name="username" class="form-control input-lg" placeholder="Login" ng-model="credentials.username" required maxlength="75">
                        <span class="fa fa-user signin-form-icon"></span>
                    </div>
                    <div ng-show="checkValidation(loginForm.username)" class="help-block">{{'common.field.required' | translate}}</div>
                </div>
                <!-- / Username -->

                <!-- Password -->
                <div class="form-group" ng-class="{'has-error': checkValidation(loginForm.password)}">
                    <div class="form-group w-icon">
                        <input type="password" name="password" class="form-control input-lg" placeholder="Senha" ng-model="credentials.password" required maxlength="40">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <div ng-show="checkValidation(loginForm.password)" class="help-block">{{'common.field.required' | translate}}</div>
                </div>
                <!-- / Password -->

                <!-- Captcha-->
                <div class="signin-with" ng-if="showCaptcha()">
                    <client-captcha challenge-valid="challengeValid" check-validation="checkValidation" login-form="loginForm" clear-functions="clearFunctions"></client-captcha>
                </div>
                <!-- / Captcha-->

                <div class="form-actions btnEnter row">
                    <div class="text-center">
                        <input type="submit" value="ENTRAR" class="signin-btn bg-primary">
                        <input type="button" value="LIMPAR" class="signin-btn bg-default" ng-click="clearScreen()">
                    </div>
                </div>
            </form>
            <!-- / .form-actions -->
            <!-- / Form -->
            <!-- Não sei minha senha-->
            <form name="resetForm" id="resetForm" ng-submit="requestNewPassword(resetForm)" novalidate>
                <div class="form-group" ng-show="resetPasswordVisible()">
                    </br>
                    <div ng-show="!showResetArea" class="form-group w-icon">
                        <a tabindex="-1" ui-sref="login" ng-click="forceShowResetArea();"><i class="menu-icon fa"></i><span class="mm-text">{{'common.notKnowPass' | translate}}</span></a>
                    </div>

                    <div ng-show="showResetArea" class="form-group w-icon">
                        <input name="newPass-Check" id="newPassCheck" type="checkbox" ng-checked="{{true}}" ng-model="newPassword" ng-click="hideResetArea();">{{'common.notKnowPass' | translate}}
                        <br/>
                        <span>Para redefinir sua senha, digite o endereço de e-mail que você usa para fazer login no INDI.</span>
                        <br/>
                        <br/>{{'common.email' | translate}} {{userEmail}}
                        <div class="form-group" ng-class="{'has-error': resetForm.userEmailInput.$error}">
                            <input type="email" name="userEmailInput" id="userEmailInput" class="form-control input-lg" placeholder="example@example.com" ng-model="userEmail" required>

                            <div ng-show="resetForm.userEmailInput.$error.required" class="help-block">{{'common.field.required' | translate}}</div>
                            <div ng-show="resetForm.userEmailInput.$error.email" class="help-block">{{ 'message.error.MSG24_E-MAIL_INVALIDO' | translate}}</div>
                        </div>
                        <div class="text-center">
                            <br/>
                            <input type="submit" value="Enviar" class="btn btn-labeled btn-success">
                        </div>
                    </div>
                </div>
                <!-- / Não sei minha senha-->

                <!-- Reset success  -->
                <div class="signin-with bg-success" ng-show="resetMessage">
                    {{resetMessage}}
                </div>
                <!-- Reset success  -->

                <!-- Login errors -->
                <div class="signin-with bg-danger" ng-show="errorMessage">
                    {{errorMessage}}
                </div>
                <!-- / Login errors -->
            </form>
        </div>
        <!-- Right side -->
    </div>
</div>
<script type="text/javascript">
var $ph = $('#page-signin-bg'),
    $img = $ph.find('> img');

$(window).on('resize', function() {
    $img.attr('style', '');
    if ($img.height() < $ph.height()) {
        $img.css({
            height: '100%',
            width: 'auto'
        });
    }
});
</script>
