<!-- 4. $MAIN_MENU =================================================================================

   Main menu

   Notes:
   * to make the menu item active, add a class 'active' to the <li>
     example: <li class="active">...</li>
   * multilevel submenu example:
     <li class="mm-dropdown">
       <a href="#"><span class="mm-text">Submenu item text 1</span></a>
       <ul>
       <li>...</li>
       <li class="mm-dropdown">
         <a href="#"><span class="mm-text">Submenu item text 2</span></a>
         <ul>
         <li>...</li>
         ...
         </ul>
       </li>
       ...
       </ul>
     </li>
-->
<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
        <ul class="navigation">
            <!-- <li>
                <a ui-sref="base.home"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
            </li> -->
            <li class="mm-dropdown">
                <a ng-if="disableNewFnUser()" href="#"><i class="menu-icon fa fa-briefcase"></i><span class="mm-text">Empresas</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.searchCompany"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-if="!disableNewFnCompany() && !disableExternalUser()" ui-sref="base.company.companyTpl({screen : 'incluir'})"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Cadastrar</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-if="disableExternalUser()" ui-sref="base.company.registerExternalContact"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Cadastrar Usuários</span></a>
                    </li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a ng-if="disableExternalUser()" href="#"><i class="menu-icon fa fa-edit"></i><span class="mm-text">Registro Usuário</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.registerUser"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Trocar Senha</span></a>
                    </li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a ng-if="disableNewFnUser()" href="#"><i class="menu-icon fa fa-folder-open"></i><span class="mm-text">Projetos</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.projectSearch"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-if="!disableNewFnProject() && !disableExternalUser()" ui-sref="base.project.projectTpl({screen : 'incluir'})"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Cadastrar</span></a>
                    </li>
                   <!--  <li>
                        <a tabindex="-1" ng-if="disableExternalUser()" ><i class="menu-icon fa fa-list-ul"></i><span class="mm-text">Pesquisa de Satisfação</span></a>
                    </li> -->
                </ul>
            </li>
            <li class="mm-dropdown">
                <a ng-if="disableNewFnUser() && !disableExternalUser()" href="#"><i class="menu-icon fa fa-file-text"></i><span class="mm-text">Instrumento de Formalização</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.formalizationInstrumentSearch"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-if="disableFnNewFormalizationInstrument()" ui-sref="base.formalizationInstrument.formalizationInstrumentTpl({screen : 'incluir'})"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Cadastrar</span></a>
                    </li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a ng-if="!disableFnActivityTemplate() && !disableExternalUser()" href="#"><i class="menu-icon fa fa-check-square"></i><span class="mm-text">Template de Atividades</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ng-if="!disableFnActivityTemplate()" ui-sref="base.activitySearch"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-if="!disableFnActivityTemplate()" ui-sref="base.activity({screen : 'incluir'})"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Cadastrar</span></a>
                    </li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a ng-if="disableNewFnUser() && !disableExternalUser()" href='#'><i class="menu-icon fa fa-search-plus"></i><span class="mm-text">Busca Avançada</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.advancedSearch"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a ng-if="!disableNewFnUser() && !disableExternalUser()" href="#"><i class="menu-icon fa fa-user"></i><span class="mm-text">Usuário Interno</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ng-if="!disableNewFnUser()" ui-sref="base.userSearch"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-if="!disableNewFnUser()" ui-sref="base.user({screen : 'incluir'})"><i class="menu-icon fa fa-plus"></i><span class="mm-text">Cadastrar</span></a>
                    </li>
                </ul>
            </li>

            <li class="mm-dropdown">
                <a ng-if="disableNewFnUser() && !disableExternalUser()" href="#"><i class="menu-icon fa fa-table"></i><span class="mm-text">Relatórios Gerenciais</span></a>
                <ul>
                    <li>
                        <a ng-if="!disableFnReportProject()" tabindex="-1" ui-sref="base.reportCarteiraProject"><i class="menu-icon fa fa-search"></i><span class="mm-text">Carteira de Projetos</span></a>
                    </li>
                    <li>
                        <a ng-if="!disableFnReportProject()" tabindex="-1" ui-sref="base.reportProjectStage"><i class="menu-icon fa fa-search"></i><span class="mm-text">Acompanhamento de Datas dos Estágios</span></a>
                    </li>
                    <li>
                        <a ng-if="showReportTrackingFormalizationInstrument()" tabindex="-1" ui-sref="base.reportTrackingFormalizationInstrument"><i class="menu-icon fa fa-search"></i><span class="mm-text">Acompanhamento dos Instrumentos de Formalização</span></a>
                    </li>
                    <li>
                        <a ng-if="!disableFnReportPositiveSchedule()" tabindex="-1" ui-sref="base.reportPositiveSchedule"><i class="menu-icon fa fa-search"></i><span class="mm-text">Agenda Positiva</span></a>
                    </li>
                    <li>
                        <a ng-if="showReportEnvironment()" tabindex="-1" ui-sref="base.reportProjectEnvironment"><i class="menu-icon fa fa-search"></i><span class="mm-text">Acompanhamento Ambiental dos Projetos</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ui-sref="base.managementMeetingsPanel.investFormalizationIndex.protocolsInYear"><i class="menu-icon fa fa-search"></i><span class="mm-text">Painel para Reuniões Gerenciais</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ui-sref="base.weeklyMeetingsPanel.goalsDashboard"><i class="menu-icon fa fa-search"></i><span class="mm-text">Painel para Reuniões Semanais</span></a>
                    </li>
                    <li>
                        <a tabindex="-1" ui-sref="base.reportProjectTracking"><i class="menu-icon fa fa-search"></i><span class="mm-text">Relatório de Acompanhamento</span></a>
                    </li>
                </ul>
            </li>

            <li class="mm-dropdown" ng-if="disableExternalUser()">
                <a href="#"><i class="menu-icon fa fa-users"></i><span class="mm-text">Pesquisa de Satisfação</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.satisfactionSurveySearch"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                </ul>
            </li>

            <li class="mm-dropdown" ng-if="disableNewFnUser() && disableReportAnnualMonitoringFnUser() && !disableExternalUser()">
                <a ng-if="true" href="#"><i class="menu-icon fa fa-list-alt"></i><span class="mm-text">Consultar Relatórios Anuais de Acompanhamento</span></a>
                <ul>
                    <li>
                        <a tabindex="-1" ui-sref="base.reportAnnualMonitoring"><i class="menu-icon fa fa-search"></i><span class="mm-text">Consultar</span></a>
                    </li>
                </ul>
            </li>

        </ul> <!-- / .navigation -->
    </div> <!-- / #main-menu-inner -->
</div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->