<div ng-if="showLoading" class="loading-background"><i class="fa fa-spinner fa-spin"></i>
</div>
<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <!-- Main menu toggle -->
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span>
    </button>

    <div class="navbar-inner">
        <!-- Main navbar header -->
        <div class="navbar-header">

            <!-- Logo -->
            <a ui-sref="base.home" class="navbar-brand" style="font-size: 20px;">
                <img alt="Versão 1.0" src="images/gpi-mini.png" title="Versão 1.0">
            </a>


            <!-- Main navbar toggle -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i>
            </button>

        </div>
        <!-- / .navbar-header -->

        <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" translate="common.home"></a>
                    </li>
                    <li class="dropdown" ng-click="getProjetoRecentes()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" translate>common.recent.projects</a>

                        <ul class="dropdown-menu">
                            <li ng-repeat="projeto in projetosRecentes">
                                <a href="#/projeto/cadastro/editar?id={{projeto.id}}">{{projeto.nomeProjeto}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- / .navbar-nav -->

                <div class="right clearfix">
                    <ul class="nav navbar-nav pull-right right-navbar-nav">
                        <li>
                            <div class="btn-group idioma">
                                <button type="button" class="btn btn-default" ng-class="{active: langKey === 'pt'}" ng-click="changeLanguage('pt')">PT</button>
                                <button type="button" class="btn btn-default" ng-class="{active: langKey === 'en'}" ng-click="changeLanguage('en')">EN</button>
                            </div>
                        </li>
                        <!--<li>
                <a id="enIcon" class="btn-link" ng-click="changeLanguage('en')">EN</a>
              </li>
              <li>
                <a id="ptIcon" class="btn btn-danger btn-sm" ng-click="changeLanguage('pt')">PT</a>
              </li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                <span>{{loggedUser.name}}</span>
                                <i class="dropdown-icon fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="logout()" class="no-href"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- 3. $NAVBAR_ICON_BUTTONS =======================================================================

              Navbar Icon Buttons

              NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.

              Classes:
              * 'nav-icon-btn-info'
              * 'nav-icon-btn-success'
              * 'nav-icon-btn-warning'
              * 'nav-icon-btn-danger'
-->
                        <li class="nav-icon-btn nav-icon-btn-danger dropdown">
                            <a href="data/help/BHZ14F002-MAN-Manual_Do_Usuario.htm" target="_blank">
                                <span class="label" style="right: 4px; top: 6px; font-size: 12px;"></span>
                                <i class="nav-icon fa fa-question" style="font-size: 20px"></i>
                                <span class="small-screen-text">Help</span>
                            </a>
                        </li>

                        <li class="nav-icon-btn nav-icon-btn-danger dropdown">
                            <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="label" style="right: 4px; top: 6px; font-size: 12px;">{{alertas.length}}</span>
                                <i class="nav-icon fa fa-bullhorn" style="font-size: 20px"></i>
                                <span class="small-screen-text">Notifications</span>
                            </a>

                            <!-- NOTIFICATIONS -->

                            <!-- Javascript -->
                            <script>
                            init.push(function() {
                                $('#main-navbar-notifications').slimScroll({
                                    height: 300,
                                    wheelStep: 1,
                                    size: 1,
                                    touchScrollStep: 100
                                });
                            });
                            </script>
                            <!-- / Javascript -->

                            <div class="dropdown-menu widget-notifications" style="width: 400px">
                                <div class="notifications-list" id="main-navbar-notifications">

                                    <div ng-repeat="alerta in alertas" class="notification">
                                        <button type="button" class="close" data-dismiss="alert" ng-click="alertas.splice(alertas.indexOf(alerta),1)">×</button>
                                        <div class="notification-title text-warning">
                                            <i class="notification-icon-sm fa fa-exclamation-triangle">
                                            </i>
                                            &nbsp;{{alerta.titulo}}
                                            <a ng-repeat="descricaoTO in alerta.alertas" class="notification-description text-warning" href="{{descricaoTO.link}}">{{descricaoTO.descricao}}</a>
                                        </div>
                                        <!-- <div class="notification-ago">12h ago</div> -->
                                    </div>
                                    <!-- / .notification -->

                                </div>
                                <!-- / .notifications-list -->
                                <!-- <a href="#" class="notifications-link">MORE NOTIFICATIONS</a> -->
                            </div>
                            <!-- / .dropdown-menu -->
                        </li>

                    </ul>
                    <!-- / .navbar-nav -->
                </div>
                <!-- / .right -->
            </div>
        </div>
        <!-- / #main-navbar-collapse -->
    </div>
    <!-- / .navbar-inner -->
</div>
<!-- / #main-navbar -->
