<div growl></div>

<form name="formReportAnnual" class="form-horizontal" novalidate>
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6 text-center text-left-sm"><i class="fa fa-table page-header-icon"></i> {{'reportAnnualMonitoring.title' | translate}}</h1>
        </div>
    </div>

    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">

                <div class="col-sm-2">
                    <div ng-class="{'has-error': checkValidation(formReportAnnual.yearinput)}">
                        <label class="control-label">{{ 'common.year' | translate }} *</label>
                        <input type="numeric" id="yearinput" name="yearinput" class="form-control" ng-model="filtro.ano" maxlength="4" required>
                        <div ng-if="checkValidation(formReportAnnual.yearinput)" class="help-block">{{'common.field.required' | translate}}</div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.situation' | translate }}</label>
                        <br>
                        <input name="unsolicitedRadio" id="unsolicitedRadio" type="radio" value="NAO_SOLICITADO " ng-model="filtro.situacao">
                        {{ 'reportAnnualMonitoring.unsolicited' | translate }}
                        <input name="notAnsweredRadio" id="notAnsweredRadio" type="radio" value="NAO_RESPONDIDO" ng-model="filtro.situacao">
                        {{ 'reportAnnualMonitoring.notAnswered' | translate }}
                        <input name="validationPendingRadio" id="validationPendingRadio" type="radio" value="PENDENTE_VALIDACAO" ng-model="filtro.situacao">
                        {{ 'reportAnnualMonitoring.validationPending' | translate }}
                        <input name="validationRadio" id="validationRadio" type="radio" value="VALIDADO" ng-model="filtro.situacao">
                        {{ 'reportAnnualMonitoring.validation' | translate }}
                        <input name="allSituationsRadio" id="allSituationsRadio" type="radio" value="TODOS" ng-model="filtro.situacao">
                        {{ 'reportAnnualMonitoring.allSituations' | translate }}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" translate="common.company"></label>
                        <input type="text" id="companyInput" name="companyInput" ng-model="filtro.nomeEmpresa" class="form-control" placeholder="{{ 'common.company' | translate }}" maxlength="200">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" translate="common.project"></label>
                        <input type="text" id="projectNameInput" name="projectNameInput" ng-model="filtro.nomeProjeto" class="form-control" placeholder="{{ 'project.name' | translate }}" maxlength="200">
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.stage' | translate }}</label>
                        <select id="stageMultiSelect" class="form-control" name="estagios" ng-model="filtro.estagios" multiple="true" >
                            <option title="{{estagios.descricao}}" ng-value="estagios.id" ng-repeat="estagios in estagios" ng-selected="{{stageMultiSelect.indexOf(estagios.id) > -1}}">{{estagios.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                     <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.productive.chain' | translate }}</label>
                        <select id="productiveChainMultiSelect" name="cadeiasProdutivas" class="form-control" ng-model="filtro.cadeiasProdutivas" multiple="true">
                            <option title="{{cadeiaProdutiva.descricao}}" ng-value="cadeiaProdutiva.id" ng-selected="filtro.cadeiasProdutivas.indexOf(cadeiaProdutiva.id) > -1" ng-repeat="cadeiaProdutiva in cadeiasProdutivas" >{{cadeiaProdutiva.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select id="manageMultiSelect" name="gerencias" class="form-control" ng-model="filtro.departamentos" multiple="true" ng-change="changeManageMultiSelect()">
                            <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias">{{gerencia.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- Visível somente quando o usuário logado for um gerente. -->
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr" ng-if="isGerente()">
                        <label class="control-label">{{ 'common.analyst' | translate }}</label>
                        <select id="analystMultiSelect" name="analistas" class="form-control" ng-model="filtro.usuarioResponsavel" multiple="true">
                            <option title="{{analista.nome}}" ng-value="analista.id" ng-repeat="analista in analistas">{{analista.nome}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Início botões filtro -->
        <div class="panel-footer text-right">
            <button id="searchButton" ng-click="search(formReportAnnual.$valid)" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="resetButton" ng-click="clean()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
        <!-- Fim botões filtro -->
    </div>
</form>

<!-- Início Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <!-- Início botões grid -->
                <div class="grid-header">
                    <button id="sendFirstCampaignButton" ng-click="sendFirstCampaign()" ng-disabled="disabledSendFirstCampaign()" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-external-link"></span>{{ 'reportAnnualMonitoring.sendFirstCampaign' | translate }}
                    </button>
                    <button id="sendSecondCampaignButton" ng-click="sendSecondCampaign()" ng-disabled="disabledSendSecondCampaign()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-external-link"></span>{{ 'reportAnnualMonitoring.sendSecondCampaign' | translate }}
                    </button>
                </div>
                <!-- Fim botões grid -->

                <!-- Início Grid -->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <ng-grid-custom data-model="relatorioAnualAcompanhamentoList" column-defs="relatorioAnualAcompanhamentoColumnDefs" sort-info="relatorioAnualAcompanhamentoSortInfo" buttons-config="relatorioAnualAcompanhamentoButtonsConfig" selected-items="relatorioAnualAcompanhamentoSelectedItems" ng-controller="ReportAnnualMonitoringGridCtrl" grid-scope="gridScope"></ng-grid-custom>
                    </div>
                </div>
                <!-- Fim Grid -->
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->