<div growl></div>

<form name="formTrackingStage" class="form-horizontal" novalidate>
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6 text-center text-left-sm"><i class="fa fa-table page-header-icon"></i> {{'reportPositive.title' | translate}}</h1>
        </div>
    </div>

    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">

                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'reportPositive.providedStage' | translate }}</label>
                        <select id="stageMultiSelect" class="form-control" name="estagios" ng-model="filtro.estagios" multiple="true" >
                            <option title="{{estagios.descricao}}" ng-value="estagios.id" ng-repeat="estagios in estagios" ng-selected="{{stageMultiSelect.indexOf(estagios.id) > -1}}">{{estagios.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.period' | translate }}</label>
                        <datepicker-custom id="datepickerIni" name="dataIni" date="filtro.dataIni" configs="configsDatepicker" form-submitted="formSubmitted"></datepicker-custom>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr no-label">
                        <datepicker-custom id="datepickerFim" date="filtro.dataFim" configs="configsDatepicker" form-submitted="formSubmitted"></datepicker-custom>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'location.planing.region' | translate }}</label>
                        <select id="planningRegionMultiSelect" name="regioesPlanejamento" class="form-control" ng-model="filtro.regioesPlanejamento" multiple="true">
                            <option title="{{regioesPlanejamento.nome}}" ng-value="regioesPlanejamento.id" ng-repeat="regioesPlanejamento in regioesPlanejamento" ng-selected="{{stageMultiSelect.indexOf(regioesPlanejamento.id) > -1}}">{{regioesPlanejamento.nome}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-show="!(isGerente() || isPromocao())">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select id="manageMultiSelect" name="gerencias" class="form-control" ng-model="filtro.departamentos" multiple="true" ng-change="changeManageMultiSelect()">
                            <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias">{{gerencia.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-show="!isPromocao()">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.analyst' | translate }}</label>
                        <select id="analystMultiSelect" name="analistas" class="form-control" ng-model="filtro.usuariosResponsaveis" multiple="true">
                            <option title="{{analista.nome}}" ng-value="analista.id" ng-repeat="analista in analistas">{{analista.nome}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                     <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.productive.chain' | translate }}</label>
                        <select id="productiveChainMultiSelect" name="cadeiasProdutivas" class="form-control" ng-model="filtro.cadeiasProdutivas" multiple="true">
                            <option title="{{cadeiaProdutiva.descricao}}" ng-value="cadeiaProdutiva.id" ng-selected="filtro.cadeiasProdutivas.indexOf(cadeiaProdutiva.id) > -1" ng-repeat="cadeiaProdutiva in cadeiasProdutivas" >{{cadeiaProdutiva.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- Início Versão -->
                <div class="col-sm-12">
                    <div class="form-group no-margin-hr text-right">
                        <label class="control-label">{{ 'common.version' | translate }}</label>
                        <br>
                        <input name="versionCurrentRadio" id="versionCurrentRadio" type="radio" ng-value="true" ng-model="filtro.versao">
                        {{ 'common.current' | translate }}
                        <input name="versionFrozenRadio" id="versionFrozenRadio" type="radio" ng-value="false" ng-model="filtro.versao">
                        {{ 'common.frozen' | translate }}
                    </div>
                </div>
                <!-- Fim Versão -->
            </div>
        </div>
        <!-- Início botões filtro -->
        <div class="panel-footer text-right">
            <button id="searchButton" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="resetButton" ng-click="clean()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
        <!-- Fim botões filtro -->
    </div>
</form>

<!-- Início Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <!-- Início botões grid -->
                <div class="grid-header">
                    <button id="exportExcelButton" ng-click="export('xlsx')" ng-disabled="disabledExport()" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-excel-o"></span>{{ 'common.exportExcel' | translate }}
                    </button>
                    <button id="exportPdfButton" ng-click="export('pdf')" ng-disabled="disabledExport()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-pdf-o"></span>{{ 'common.exportPdf' | translate }}
                    </button>
                </div>
                <!-- Fim botões grid -->
            <!-- Início Grid -->
            <div class="table-responsive search-table-outter">
                <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="dataDF.length > 2">
                    <tdead>
                        <tr class="lightGrayRow">
                            <td data-title="'Decisão Formalizada'" colspan="12">{{ 'reportPositive.DFStage' | translate }}</td>
                        </tr>
                        <tr class="tableGrayRow">
                            <td class="text-center" data-title="'DataPrevista'">Data Prevista</td>
                            <td class="text-center" data-title="'Empresa'">Empresa</td>
                            <td class="text-center" data-title="'Projeto'">Projeto</td>
                            <td class="text-center" data-title="'Cidade'">Cidade</td>
                            <td class="text-center" data-title="'RegiãoPlanejamento'">Região de Planejamento</td>
                            <td class="text-center" data-title="'Invest'">Invest. (R$ mil)</td>
                            <td class="text-center" data-title="'FatInicial'">Fat. Inicial (R$ mil)</td>
                            <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos</td>
                            <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
                            <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
                            <td class="text-center" data-title="'Analista'">Analista</td>
                            <td class="text-center" data-title="'Gerencia'">Gerência</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="row in dataDF" ng-class="{tableLightRow: (dataDF.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}">

                        <td data-title="'DataPrevista'">
                            {{row.dataPrevisao | dateTransformFilter:'MMM/yyyy'}}
                        </td>
                        <td data-title="'Empresa'">
                            {{row.nomeEmpresa}}
                        </td>
                        <td data-title="'Projeto'">
                            {{row.nomeProjeto}}
                        </td>
                        <td data-title="'Cidade'">
                            {{row.municipio}}
                        </td>
                        <td data-title="'RegiãoPlanejamento'">
                            {{row.regiaoPlanejamento}}
                        </td>
                        <td data-title="'Invest'" class="text-right">
                            {{row.totalInvestimentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'FatInicial'" class="text-right">
                            {{row.totalFaturamentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'EmpregosDiretos'" class="text-right">
                            {{row.totalEmpregoDireto}}
                        </td>
                        <td data-title="'CadeiaProdutiva'">
                            {{row.cadeiaProdutivaDesc}}
                        </td>
                        <td data-title="'EstagioAtual'">
                            {{row.estagioAtual}}
                        </td>
                        <td data-title="'Analista'">
                            {{row.usuarioResponsavel}}
                        </td>
                        <td data-title="'Gerencia'">
                            {{row.departamento}}
                        </td>
                        <tr class="text-center" ng-class="{yellowRow: isCI()}">
                        </tr>
                    </tbody>
                </table>
                <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="dataII.length > 2">
                    <tdead>
                        <tr class="lightGrayRow">
                            <td data-title="'Implantação Iniciada'" colspan="12">{{ 'reportPositive.IIStage' | translate }}</td>
                        </tr>
                        <tr class="tableGrayRow">
                            <td class="text-center" data-title="'DataPrevista'">Data Prevista</td>
                            <td class="text-center" data-title="'Empresa'">Empresa</td>
                            <td class="text-center" data-title="'Projeto'">Projeto</td>
                            <td class="text-center" data-title="'Cidade'">Cidade</td>
                            <td class="text-center" data-title="'RegiãoPlanejamento'">Região de Planejamento</td>
                            <td class="text-center" data-title="'Invest'">Invest. R$ (mil)</td>
                            <td class="text-center" data-title="'FatInicial'">Fat. Inicial (mil)</td>
                            <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos</td>
                            <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
                            <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
                            <td class="text-center" data-title="'Analista'">Analista</td>
                            <td class="text-center" data-title="'Gerencia'">Gerência</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="row in dataII" ng-class="{tableLightRow: (dataII.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}">

                        <td data-title="'DataPrevista'" class="d0">
                            {{row.dataPrevisao | dateTransformFilter:'MMM/yyyy'}}
                        </td>
                        <td data-title="'Empresa'">
                            {{row.nomeEmpresa}}
                        </td>
                        <td data-title="'Projeto'">
                            {{row.nomeProjeto}}
                        </td>
                        <td data-title="'Cidade'">
                            {{row.municipio}}
                        </td>
                        <td data-title="'RegiãoPlanejamento'">
                            {{row.regiaoPlanejamento}}
                        </td>
                        <td data-title="'Invest'" class="text-right">
                            {{row.totalInvestimentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'FatInicial'" class="text-right">
                            {{row.totalFaturamentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'EmpregosDiretos'" class="text-right">
                            {{row.totalEmpregoDireto}}
                        </td>
                        <td data-title="'CadeiaProdutiva'">
                            {{row.cadeiaProdutivaDesc}}
                        </td>
                        <td data-title="'EstagioAtual'">
                            {{row.estagioAtual}}
                        </td>
                        <td data-title="'Analista'">
                            {{row.usuarioResponsavel}}
                        </td>
                        <td data-title="'Gerencia'">
                            {{row.departamento}}
                        </td>
                        <tr class="text-center">
                        </tr>
                    </tbody>
                </table>
                <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="dataOI.length > 2">
                    <tdead>
                        <tr class="lightGrayRow">
                            <td data-title="'Operação Iniciada'" colspan="12">{{ 'reportPositive.OIStage' | translate }}</td>
                        </tr>
                        <tr class="tableGrayRow">
                            <td class="text-center" data-title="'DataPrevista'">Data Prevista</td>
                            <td class="text-center" data-title="'Empresa'">Empresa</td>
                            <td class="text-center" data-title="'Projeto'">Projeto</td>
                            <td class="text-center" data-title="'Cidade'">Cidade</td>
                            <td class="text-center" data-title="'RegiãoPlanejamento'">Região de Planejamento</td>
                            <td class="text-center" data-title="'Invest'">Invest. R$ (mil)</td>
                            <td class="text-center" data-title="'FatInicial'">Fat. Inicial (mil)</td>
                            <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos</td>
                            <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
                            <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
                            <td class="text-center" data-title="'Analista'">Analista</td>
                            <td class="text-center" data-title="'Gerencia'">Gerência</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="row in dataOI" ng-class="{tableLightRow: (dataOI.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}">

                        <td data-title="'DataPrevista'">
                            {{row.dataPrevisao | dateTransformFilter:'MMM/yyyy'}}
                        </td>
                        <td data-title="'Empresa'">
                            {{row.nomeEmpresa}}
                        </td>
                        <td data-title="'Projeto'">
                            {{row.nomeProjeto}}
                        </td>
                        <td data-title="'Cidade'">
                            {{row.municipio}}
                        </td>
                        <td data-title="'RegiãoPlanejamento'">
                            {{row.regiaoPlanejamento}}
                        </td>
                        <td data-title="'Invest'" class="text-right">
                            {{row.totalInvestimentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'FatInicial'" class="text-right">
                            {{row.totalFaturamentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'EmpregosDiretos'" class="text-right">
                            {{row.totalEmpregoDireto}}
                        </td>
                        <td data-title="'CadeiaProdutiva'">
                            {{row.cadeiaProdutivaDesc}}
                        </td>
                        <td data-title="'EstagioAtual'">
                            {{row.estagioAtual}}
                        </td>
                        <td data-title="'Analista'">
                            {{row.usuarioResponsavel}}
                        </td>
                        <td data-title="'Gerencia'">
                            {{row.departamento}}
                        </td>
                        <tr class="text-center" ng-class="{yellowRow: isCI()}">
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Fim Grid -->
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->