<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
    <form id="formClaim" name="formClaim" class="form-horizontal" ng-init="initialize()" novalidate form-check-changes>
        <!-- Início panel Pleitos da Empresa -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="claims.company"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="claimTextArea">{{ 'project.claims' | translate }}</label>
                        <textarea class="form-control" id="claimTextArea" name="claimTextArea" ng-model="pleito.pleitos" placeholder="{{ 'project.claims' | translate }}" maxlength="10000" ng-class="{'styleBackGroundRed' : changes[change_pleito.PLEITOS.posicao]}"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="observationsTextArea">{{ 'common.observations' | translate }}</label>
                        <textarea class="form-control" id="observationsTextArea" name="observationsTextArea" ng-model="pleito.observacoes" placeholder="{{ 'common.observations' | translate }}" maxlength="10000"ng-class="{'styleBackGroundRed' : changes[change_pleito.OBSERVACOES.posicao]}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim panel Pleitos da Empresa -->

        <responsible-for-information usuario="pleito.usuarioResponsavel.nome" data="pleito.dataUltimaAlteracao"></responsible-for-information>
</fieldset>
	<!-- Início Botoes -->
	<div class="panel ng-scope">
	    <div class="panel-footer text-right">

            <button id="saveButton" ng-click="save()" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>

            <button id="cancelar" ng-click="screenService.cancelar('base.projectSearch', formClaim)" class="btn btn-labeled btn-danger" ng-if="!screenService.isShowScreen() && !isAnalistaInfra()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>

            <button id="backButton" ui-sref="base.projectSearch" class="btn btn-labeled btn-danger" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
	        <button id="acceptIceButton" class="btn btn-labeled btn-success" ng-if="screenService.isEditScreen() && !isExternalUser && !isAnalistaInfra()" ng-disabled="!isAceite" ng-click="acceptICE()">
	            <span class="btn-label icon fa fa-check"></span>{{'project.accept.ice' | translate}}
            </button>
	        <button id="validateIceButton" class="btn btn-labeled btn-warning" ng-if="screenService.isEditScreen() && !isExternalUser && !isAnalistaInfra()" ng-disabled="!isPendenteValidacao || disabledICEStageIP()" ng-click="validateICE()">
	            <span class="btn-label icon fa fa-thumbs-o-up"></span>{{'project.validate.ice' | translate}}
            </button>
            <button id="printIceButton" ng-click="printICEfn()" class="btn btn-labeled btn-info">
                <span class="btn-label icon fa fa-print"></span>{{'project.print.ice' | translate}}
            </button>
	    </div>
	</div>
	<!-- Fim Botoes -->
</form>
