<div growl></div>
<form name="formEnvironment" novalidate form-check-changes>

    <fieldset ng-disabled="screenService.isShowScreen() || !canEditProject()">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'common.environment' | translate }}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.LICENCIAMENTOINICIADO.posicao]}">
                        <div class="form-group no-margin-hr text-left">
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{ 'environment.licensingHasStarted' | translate }}</label>
                                </div>
                            </div>
                            <label class="radio-inline">
                                <input name="licensingHasStartedYesRadio" id="licensingHasStartedYesRadio" type="radio" ng-value="true" ng-model="meioAmbiente.licenciamentoIniciado">{{ 'common.yes' | translate }}
                            </label>

                            <label class="radio-inline">
                                <input name="licensingHasStartedNoRadio" id="licensingHasStartedNoRadio" type="radio" ng-value="false" ng-model="meioAmbiente.licenciamentoIniciado">{{ 'common.no' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr text-left">
                            <label class="control-label" translate="environment.eterpriseClass" for="eterpriseClassSelect"></label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select id="eterpriseClassSelect" name="eterpriseClassSelect" ng-model="meioAmbiente.classeEmpreendimento" class="form-control" ng-options="classe.id as classe.id for classe in classesEmpreendimentos" ng-change="onChangeClasseEmpreendimento()" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.CLASSEEMPREENDIMENTO.posicao]}">
                                        <option value="" translate="common.select"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- disable external user-->
                <fieldset ng-if="!isExternalUser">
    				<div class="row">
    				    <div class="col-sm-6">
    				        <div class="form-group no-margin-hr text-left">
    				            <label class="control-label">{{ 'environment.deliveryDateStudies' | translate }}</label>
    				            <span class="fa fa-question-circle padding-xs-hr" data-toggle="tooltip" data-placement="top" title="{{ 'environment.tooltip.deliveryDateStudies' | translate }}"></span>
    				            <div class="row" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.DATAENTREGAESTUDOS.posicao]}">
    				                <div class="col-md-6">
    				                    <datepicker-custom id="deliveryDateStudiesDatepicker" date="meioAmbiente.dataEntregaEstudos" configs="configsDatepickersEnviroment"></datepicker-custom>
    				                </div>
    				                    <div class="form-group no-margin-hr col-md-5 text-left" ng-if="showScheduleThumbs">
    				                        <i class="fa fa-thumbs-o-up fa-2x" style="color: green;" data-toggle="tooltip" data-placement="top" title="{{ 'environment.tooltip.onSchedule' | translate }}" ng-if="isOnSchedule"></i>
    				                        <i class="fa fa-thumbs-o-down fa-2x" style="color: red;" data-toggle="tooltip" data-placement="top" title="{{ 'environment.tooltip.offSchedule' | translate }}" ng-if="!isOnSchedule"></i>
    				                    </div>
    				            </div>
    				        </div>
    				    </div>
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr text-left" ng-if="!isOnSchedule && showScheduleThumbs">
                                <label class="control-label" translate="environment.outOfTime" for="outOfTimeInput"></label>
                                <span class="fa fa-question-circle padding-xs-hr" data-toggle="tooltip" data-placement="top" title="{{ 'environment.tooltip.outOfTime' | translate }}"></span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input name="outOfTimeInput" id="outOfTimeInput" type="text" class="form-control" ng-model="meioAmbiente.dataEntradaForaPrazo" ng-disabled="true" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.DATAENTRADAFORAPRAZO.posicao]}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr text-left" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.NECESSIDADEEIARIMA.posicao]}">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label">{{ 'environment.needEiaRima' | translate }}
                                        </label>
                                        <span class="fa fa-question-circle padding-xs-hr" data-toggle="tooltip" data-placement="top" title="{{ 'environment.tooltip.needEiaRima' | translate }}"></span>
                                    </div>
                                </div>

                                <label class="radio-inline">
                                    <input name="needEiaRimaYesRadio" id="needEiaRimaYesRadio" type="radio" ng-value="true" ng-model="meioAmbiente.necessidadeEIARIMA">{{ 'common.yes' | translate }}</label>
                                <label class="radio-inline">
                                    <input name="needEiaRimaNoRadio" id="needEiaRimaNoRadio" type="radio" ng-value="false" ng-model="meioAmbiente.necessidadeEIARIMA">{{ 'common.no' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr text-left">
                                <label class="control-label" translate="environment.whichStep" for="whichStepSelect"></label>
                                <select id="whichStepSelect" name="whichStepSelect" ng-model="meioAmbiente.selectedEtapasMeioAmbiente" class="form-control" multiple ng-multiple="true" >

                                    <option title="{{etapa.descricao}}" ng-value="etapa.tipoMeioAmbiente" ng-repeat="etapa in etapasMeioAmbiente" ng-selected="{{meioAmbiente.selectedEtapasMeioAmbiente.indexOf(etapa.tipoMeioAmbiente) !== -1}}" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.ETAPASMEIOAMBIENTE.posicao]}">{{etapa.descricao}}</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr text-left" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.REALIZADAVISTORIA.posicao]}">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label">{{ 'environment.wasInspectionPerformed' | translate }}</label>
                                    </div>
                                </div>
                                <label class="radio-inline">
                                    <input name="wasInspectionPerformedYesRadio" id="wasInspectionPerformedYesRadio" type="radio" ng-value="true" ng-model="meioAmbiente.realizadaVistoria">{{ 'common.yes' | translate }}</label>
                                <label class="radio-inline">
                                    <input name="wasInspectionPerformedNoRadio" id="wasInspectionPerformedNoRadio" type="radio" ng-value="false" ng-model="meioAmbiente.realizadaVistoria">{{ 'common.no' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-if="meioAmbiente.realizadaVistoria" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.DATAREALIZADAVISTORIA.posicao]}">
                            <div class="form-group no-margin-hr text-left">
                                <label class="control-label" translate="environment.when" for="wasInspectionPerformedDatepicker"></label>
                                <datepicker-custom id="wasInspectionPerformedDatepicker" date="meioAmbiente.dataRealizadaVistoria" configs="configsDatepickersEnviroment"></datepicker-custom>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr text-left" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.PEDIDOINFORMACOESCOMPLEMENTAR.posicao]}">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label">{{ 'environment.additionalInformationRequest' | translate }}</label>
                                    </div>
                                </div>
                                <label class="radio-inline">
                                    <input name="additionalInformationRequestYesRadio" id="additionalInformationRequestYesRadio" type="radio" ng-value="true" ng-model="meioAmbiente.pedidoInformacoesComplementar">{{ 'common.yes' | translate }}</label>
                                <label class="radio-inline">
                                    <input name="additionalInformationRequestNoRadio" id="additionalInformationRequestNoRadio" type="radio" ng-value="false" ng-model="meioAmbiente.pedidoInformacoesComplementar">{{ 'common.no' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-if="meioAmbiente.pedidoInformacoesComplementar" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.DATAPEDIDOINFORMACAO.posicao]}">
                            <div class="form-group no-margin-hr text-left">
                                <label class="control-label" translate="environment.when" for="additionalInformationRequestDatepicker"></label>
                                <datepicker-custom id="additionalInformationRequestDatepicker" date="meioAmbiente.dataPedidoInformacao" configs="configsDatepickersEnviroment"></datepicker-custom>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group no-margin-hr text-left">
                                <label class="control-label" for="observationTextArea">{{ 'common.observation' | translate }}</label>
                                <textarea class="form-control" id="observationTextArea" name="observationTextArea" ng-model="meioAmbiente.observacao" placeholder="{{ 'common.observation' | translate }}" maxlength="10000" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.OBSERVACAO.posicao]}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="meioAmbiente.pedidoInformacoesComplementar" ng-class="{'styleBackGroundRed' : changes[change_meioAmbiente.DATAENTREGAINFORMACAO.posicao]}">
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr text-left">
                                <label class="control-label" translate="environment.additionalInformationDelivery" for="additionalInformationDeliveryDatepicker"></label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <datepicker-custom id="additionalInformationDeliveryDatepicker" date="meioAmbiente.dataEntregaInformacao" configs="configsDatepickersEnviroment"></datepicker-custom>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Início Arquivos Anexados -->
                    <div class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="EnvironmentAttachedFilesGridCtrl as attachedFilesCtrl" ng-class="{'styleColorRed' : changes[change_meioAmbiente.ANEXOS.posicao]}">
                        <div class="panel-heading">
                            <span class="panel-title" translate="common.attached.files"></span>
                        </div>
                        <div class="grid-header">
                            <button id="attachFileButton" type="file" class="btn btn-success btn-labeled" flow-btn>
                                <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                            <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                                <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                            </button>
                        </div>
                        <file-uploader grid-scope="gridScope" flow-drop data-model="meioAmbiente.anexos" column-defs="attachedFilesColumnDefs" selected-items="attachedSelectedFiles"></file-uploader>
                    </div>
                    <!-- Fim Arquivos Anexados -->
                </fieldset>
                <!-- Fim disable external user-->
            </div>
        </div>

        <!-- Responsável pelas Informações -->
        <responsible-for-information usuario="meioAmbiente.usuarioResponsavel.nome" data="meioAmbiente.dataUltimaAlteracao"></responsible-for-information>
    </fieldset>
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="saveButton" ng-disabled="disableNewFn()" ng-click="saveEnvironment()" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && (canEditProject() || isAnalistaInfra())">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.projectSearch', formEnvironment)" ng-if="!screenService.isShowScreen()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
            <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen()">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
        </div>
    </div>
</form>
