<div growl></div>

<fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
	<form name="formFinancial" id="formFinancial" class="form-horizontal" novalidate form-check-changes>
        <!-- Início Investimento previsto 1 -->
        <!-- Utilizado para todas as Cadeias Produtivas, exceto para Sucroenergético -->

        <div class="panel ng-scope" ng-if="!isCadeiaProdutivaSucroEnergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate="project.planned.investment"></span>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.planned.investiment' | translate }}"></span>
            </div>

            <div class="panel-body">
                <!-- Grid -->
                <div class="col-sm-12" ng-controller="PlannedInvestmentsGridCtrl" ng-class="{'styleColorRed' : changes[change_financeiro.INVESTIMENTOPREVISTO.posicao]}">
                   <ng-grid-custom data-model="investimentoPrevisto" small="true" column-defs="investimentoPrevistoColumnDefs" sort-info="investimentoPrevistoSortInfo" selected-items="investimentoPrevistoSelectedItems" buttons-config="investimentoPrevistoButtonsConfig" disable-footer="disableFooter"></ng-grid-custom>

                    <!-- Início footer com totais -->
                    <div class="col-sm-12 grid-footer clearfix">
                        <div class="form-group no-margin-hr text-left">
                            <div class="row">
                                <div class="col-sm-3 text-left">
                                    <h4>{{'common.sum' | translate}}</h4>
                                </div>
                                <div class="col-sm-3 text-left">
                                    <h4>{{somatorioMaquinasEquip | currency: ''}}</h4>
                                </div>
                                <div class="col-sm-3 text-left">
                                    <h4>{{somatorioCapitalGiroEOutros | currency: ''}}</h4>
                                </div>
                                <div class="col-sm-3 text-left">
                                    <h4>{{somatorioInvestimentoTotal | currency: ''}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim footer com totais -->
                </div>
            </div>
        </div>
        <!-- Fim Investimento previsto 1 -->

        <!-- Início Investimento previsto 2 -->
        <!-- Utilizado para a Cadeia Produtiva Sucroenergético -->
        <div class="panel ng-scope" ng-if="isCadeiaProdutivaSucroEnergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate="project.planned.investment"></span>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.planned.investiment.sucroenergetico' | translate }}"></span>
            </div>

            <div class="panel-body">
                <!-- Grid -->
                <div class="col-sm-12" ng-controller="PlannedInvestments2GridCtrl">
                   <ng-grid-custom data-model="investimentoPrevisto2" small="true" column-defs="investimentoPrevisto2ColumnDefs" sort-info="investimentoPrevisto2SortInfo" selected-items="investimentoPrevisto2SelectedItems" buttons-config="investimentoPrevisto2ButtonsConfig" disable-footer="disableFooter"></ng-grid-custom>

                    <!-- Início footer com totais -->
                    <div class="col-sm-12 grid-footer clearfix">
                        <div class="form-group no-margin-hr text-left">
                            <div class="row">
                                <div class="col-sm-2 text-left">
                                    <h4>{{'common.sum' | translate}}</h4>
                                </div>
                                <div class="col-sm-2 text-left" style="margin-left: 50px;">
                                    <h4>{{somatorioIndustrial | currency: ''}}</h4>
                                </div>
                                <div class="col-sm-2 text-left" style="margin-left: 30px;">
                                    <h4>{{somatorioAgricola | currency: ''}}</h4>
                                </div>
                                <div class="col-sm-2 text-left" style="margin-left: 30px;">
                                    <h4>{{somatorioCapacitacao | currency: ''}}</h4>
                                </div>
                                <div class="col-sm-2 text-left" style="margin-left: 30px;">
                                    <h4>{{somatorioProprios | currency: ''}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fim footer com totais -->
                </div>
            </div>
        </div>
        <!-- Fim Investimento previsto 2 -->

        <!-- Início Origem dos recursos -->
        <div class="panel ng-scope" ng-class="{'styleColorRed' : changes[change_financeiro.ORIGEMIDENTIFICADA.posicao]}">
            <div class="panel-heading">
                <span class="panel-title" translate="project.features.resource"></span>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.features.resource' | translate }}"></span>
            </div>

            <div class="panel-body">
                <!-- Origem identificada? -->
                <div class="row">
                    <label>
                        <span class="lbl">{{'project.source.identified' | translate}}?</span>
                    </label>

                    <p>
                        <label>
                            <input type="radio" ng-model="origemIdentificada" ng-value="{{true}}">
                            <span class="lbl">{{'common.yes' | translate}}</span>
                        </label>

                        <label>
                            <input type="radio" ng-model="origemIdentificada" ng-value="{{false}}">
                            <span class="lbl">{{'common.no' | translate}}</span>
                        </label>
                    </p>
                </div>

                <!-- Grid -->
                <div class="col-sm-12" ng-show="origemIdentificada" ng-controller="SourceOfFundsGridCtrl">
                   <ng-grid-custom data-model="origemRecurso" small="true" column-defs="origemRecursoColumnDefs" sort-info="origemRecursoSortInfo" selected-items="origemRecursoSelectedItems" buttons-config="origemRecursoButtonsConfig" disable-footer="disableFooter" grid-scope="gridScope"></ng-grid-custom>

                    <!-- Início footer com totais -->
                    <div class="col-sm-12 grid-footer clearfix">
                        <div class="form-group no-margin-hr text-left">
                            <div class="row">
                                <div class="col-sm-2 text-left">
                                    <h4>{{'common.sum' | translate}}</h4>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <h4></h4>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <h4></h4>
                                </div>
                                <div class="col-sm-2 text-center" style="margin-left: 50px;">
                                    <h4>{{somatorioTotalPercentual | currency: ''}}</h4>
                                </div>
                                <div class="col-sm-2 text-center" style="margin-left: 60px;">
                                    <h4>{{somatorioTotalValor | currency: ''}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim footer com totais -->
                </div>
            </div>
        </div>
        <!-- Fim Origem dos recursos -->

        <!-- Início Quadro de usos e fontes (R$) -->
        <div class="panel ng-scope" ng-class="{'styleColorRed' : changes[change_financeiro.TABUSOFONTE1.posicao]}">
            <div class="panel-heading">
                <span class="panel-title" translate="project.board.uses.sources"></span>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.board.uses.sources' | translate }}"></span>
            </div>

            <!-- NgTable 1-->
            <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0">
                <tbody>
                    <tr ng-repeat="row in tabUsoFonte1">
                        <td data-title="'Uso ou aplicação de Recursos'" class="row-label">{{row.descricao}}</td>
                        <td data-title="'Realizado'"><input type="text" ng-model="row.valorRealizado" maxlength="21" format="currency"/></td>
                        <td data-title="'A Realizar'"><input type="text" ng-model="row.valorARealizar" maxlength="21" format="currency"/></td>
                        <td data-title="'Total'"><input type="text" ng-model="row.valorTotal" ng-disabled="true" format="currency"/></td>
                    </tr>
                    <tr class="row-aggregate">
                        <td class="row-label">Total</td>
                        <td>{{somatoriotabUsoFonte1TotalRealizado | currency: ''}}</td>
                        <td>{{somatoriotabUsoFonte1TotalARealizar | currency: ''}}</td>
                        <td>{{somatoriotabUsoFonte1TotalGeral | currency: ''}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- NgTable 2-->
            <table ng-table="tableParams" class="table table-bordered table-gpi" style="margin-top:0">
                <tbody>
                    <tr ng-repeat="row in tabUsoFonte2">
                        <td data-title="'Fontes de Recursos'" class="row-label">{{row.descricao}}</td>
                        <td data-title="'Realizado'"><input type="text" ng-model="row.valorRealizado" maxlength="21" format="currency"/></td>
                        <td data-title="'A Realizar'"><input type="text" ng-model="row.valorARealizar" maxlength="21" format="currency"/></td>
                        <td data-title="'Total'"><input type="text" ng-model="row.valorTotal" ng-disabled="true" format="currency"/></td>
                    </tr>
                </tbody>
            </table>

            <!-- NgTable 3-->
            <table ng-table="tableParams" class="table table-bordered table-gpi">
                <tbody>
                    <tr ng-repeat="row in tabUsoFonte3">
                        <td data-title="'Recursos de Terceiros'" class="row-label">{{row.descricao}}</td>
                        <td data-title="'Realizado'"><input type="text" ng-model="row.valorRealizado" maxlength="21" format="currency"/></td>
                        <td data-title="'A Realizar'"><input type="text" ng-model="row.valorARealizar" maxlength="21" format="currency"/></td>
                        <td data-title="'Total'"><input type="text" ng-model="row.valorTotal" ng-disabled="true" format="currency"/></td>
                    </tr>
                    <tr  class="row-aggregate">
                        <td class="row-label">Total</td>
                        <td>{{somatoriotabUsoFonte3TotalRealizado | currency: ''}}</td>
                        <td>{{somatoriotabUsoFonte3TotalARealizar | currency: ''}}</td>
                        <td>{{somatoriotabUsoFonte3TotalGeral | currency: ''}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Fim Quadro de usos e fontes (R$) -->


        <!-- Início Dados do faturamento -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="project.billing.data"></span>
            </div>

            <!-- Início Faturamento anterior -->
            <div class="panel-body" ng-class="{'styleColorRed' : changes[change_financeiro.FATURAMENTOANTERIOR.posicao]}">
                <!-- Título grid -->
                <div class="panel-footer text-left col-sm-12">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'project.previous.billing' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.previous.billing' | translate }}"></span>
                    </h4>
                </div>

                <!-- Grid -->
                <div class="col-sm-12" ng-controller="PreviousBillingGridCtrl">
                   <ng-grid-custom data-model="faturamentoAnterior" small="true" column-defs="faturamentoAnteriorColumnDefs" sort-info="faturamentoAnteriorSortInfo" selected-items="faturamentoAnteriorSelectedItems" buttons-config="faturamentoAnteriorButtonsConfig"></ng-grid-custom>
                </div>
            </div>
            <!-- Fim Faturamento anterior -->

            <!-- Início Faturamento previsto 1 -->
            <!-- Utilizado para todas as Cadeias produtivas do Cadastro de Projeto, exceto Eletroeletrônico -->
            <div class="panel-body" ng-if="isCadeiaProdutivaEletricoEletroeletronico()" ng-class="{'styleColorRed' : changes[change_financeiro.FATURAMENTOPREVISTO.posicao]}">
                <!-- Título grid -->
                <div class="panel-footer text-left col-sm-12">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'project.predicted.billing' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.predicted.billing1' | translate }}"></span>
                    </h4>
                </div>

                <div class="col-sm-12" ng-controller="PredictedBilling1GridCtrl" >
                   <ng-grid-custom data-model="faturamentoPrevisto1" small="true" column-defs="faturamentoPrevisto1ColumnDefs" sort-info="faturamentoPrevisto1SortInfo" selected-items="faturamentoPrevisto1SelectedItems" buttons-config="faturamentoPrevisto1ButtonsConfig"></ng-grid-custom>
                </div>
            </div>
            <!-- Fim Faturamento previsto 1 -->

            <!-- Início Faturamento previsto 2 -->
            <!-- Utilizado quando a Cadeia Produtiva do Cadastro de Projeto for Eletroeletrônico -->
            <div class="panel-body" ng-if="!isCadeiaProdutivaEletricoEletroeletronico()" ng-class="{'styleColorRed' : changes[change_financeiro.FATURAMENTOPREVISTO.posicao]}">
                <!-- Título grid -->
                <div class="panel-footer text-left col-sm-12">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'project.predicted.billing' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.predicted.billing2' | translate }}"></span>
                    </h4>
                </div>


                <!-- Grid -->
                <div class="col-sm-12" ng-controller="PredictedBilling2GridCtrl">
                   <ng-grid-custom data-model="faturamentoPrevisto2" small="true" column-defs="faturamentoPrevisto2ColumnDefs" sort-info="faturamentoPrevisto2SortInfo" selected-items="faturamentoPrevisto2SelectedItems" buttons-config="faturamentoPrevisto2ButtonsConfig"></ng-grid-custom>
                </div>
            </div>
            <!-- Fim Faturamento previsto 2 -->
        </div>
        <!-- Fim Dados do faturamento -->

        <!-- Início Demonstração financeira -->
        <!-- Utilizado quando a Cadeia Produtiva do Cadastro de Projeto for Sucroenergético -->
        <div class="panel ng-scope" ng-if="isCadeiaProdutivaSucroEnergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate="project.financial.statement"></span>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.financial.grid.financial.statement' | translate }}"></span>
            </div>

            <div class="panel-body">

                <!-- Observações -->
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label" for="observationsTextArea">{{ 'common.observations' | translate }}</label>
                        <textarea class="form-control" id="observationsTextArea" name="observationsTextArea" ng-model="financeiro.observacao" placeholder="{{ 'common.observations' | translate }}" maxlength="10000"></textarea>
                    </div>
                </div>

                <!-- Início Arquivos Anexados  -->
                <div class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="AttachedFilesFinancialGridCtrl as AttachedFilesFinancial">
                    <div class="panel-heading">
                        <span class="panel-title" translate="common.attached.files"></span>
                    </div>
                    <div class="grid-header">
                        <button id="attachFileButton" type="file" class="btn btn-primary btn-labeled" flow-btn>
                            <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                        <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                            <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                        </button>
                    </div>
                    <file-uploader flow-drop data-model="anexosFinanceiro" column-defs="anexosFinanceiroColumnDefs" selected-items="anexosFinanceiroSelectedFiles"></file-uploader>
                </div>
                <!-- Fim Arquivos Anexados -->

            </div>
        </div>
        <!-- Fim Demonstração financeira -->

        <responsible-for-information usuario="financeiro.usuarioResponsavel.nome" data="financeiro.dataUltimaAlteracao"></responsible-for-information>

    </fieldset>
    <!-- Botões -->
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="save-button" ng-click="save(formFinancial)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="cancel-button" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.projectSearch', formFinancial)" ng-if="!screenService.isShowScreen() && !isAnalistaInfra()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
            <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
        </div>
    </div>
</form>