<div growl></div>
<form name="formInfrastructure" novalidate form-check-changes>
    <fieldset ng-disabled="screenService.isShowScreen() || !canEditProject()">    
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'infrastructure.information' | translate }}</span>
            </div>
            <div class="panel-body">
                <div class="row form-group">

                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'infrastructure.area.required' | translate }}</label>
                            <br>
                            <input name="infrastructure-needarea-input" id="infrastructure-needarea-input" type="text" ng-model="infraestrutura.areaNecessaria" class="form-control" format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.AREANECESSARIA.posicao]}">
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{ 'infrastructure.own.land' | translate }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.POSSUITERRENO.posicao]}">
                                    <div>
                                        <label class="radio-inline">
                                            <input name="infrastructure-ownland-radio" id="infrastructure-ownland-radio" type="radio" ng-model="infraestrutura.possuiTerreno" ng-value="{{true}}">{{'common.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input name="infrastranexosture-ownland-radio" id="infrastructure-ownland-radio" type="radio" ng-model="infraestrutura.possuiTerreno" ng-value="{{false}}">{{'common.no' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'infrastructure.floor.area' | translate }}</label>
                            <br>
                            <input name="infrastructure-builtarea-input" id="infrastructure-builtarea-input" type="text" ng-model="infraestrutura.areaConstruida" class="form-control"  format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.AREACONSTRUIDA.posicao]}">
                        </div>
                    </div>
                    <div class="col-sm-1"></div>

                    <!-- Informações de Infraestrutura (Utilizado para a Cadeia Produtiva Energias Hídricas) -->
                    <div class="col-sm-5" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id">
                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{ 'infrastructure.wetland' | translate }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.AREAALAGADA.posicao]}">
                                    <div>
                                        <label class="radio-inline">
                                            <input name="infrastructure-wetland-radio" id="infrastructure-wetland-radio" type="radio" ng-model="infraestrutura.areaAlagada" ng-value="{{true}}">{{'common.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input name="infrastructure-wetland-radio" id="infrastructure-wetland-radio" type="radio" ng-model="infraestrutura.areaAlagada" ng-value="{{false}}">{{'common.no' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim trecho restrito -->

                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">

                            <!-- Informações de Infraestrutura (Utilizado para a Cadeia Produtiva Energias Hídricas) -->
                            <label class="control-label" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id">{{ 'infrastructure.estimated.demand' | translate }}</label>
                            <br>
                            <input name="infrastructure-estimatedrequireddpower-input" id="infrastructure-estimatedrequireddpower-input" type="text" ng-model="infraestrutura.demandaEnergiaEstimada" class="form-control" format="number" maxlength="13" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.DEMANDAENERGIAESTIMADA.posicao]}">
                            <!-- Fim trecho restrito -->

                            <!-- Informações de Infraestrutura (Utilizado para todas as Cadeias Produtivas, exceto para Energias Hídricas) -->
                            <label class="control-label" ng-if="projeto.cadeiaProdutiva.id !== cadeiaProdutiva.ENERGIAS_HIDRICAS.id">{{ 'infrastructure.estimation.power' | translate }}</label>
                            <br>
                            <input name="infrastructure-estimatedrequireddpower-input" id="infrastructure-estimatedrequireddpower-input" type="text" ng-model="infraestrutura.potenciaEnergeticaEstimada" class="form-control"  format="number" maxlength="13" ng-if="projeto.cadeiaProdutiva.id !== cadeiaProdutiva.ENERGIAS_HIDRICAS.id" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.POTENCIAENERGETICAESTIMADA.posicao]}">
                            <!-- Fim trecho restrito -->

                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{ 'infrastructure.contact.cemig' | translate }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.CONTATOCEMIG.posicao]}">
                                    <div>
                                        <label class="radio-inline">
                                            <input name="infrastructure-contactcemig-radio" id="infrastructure-contactcemig-radio" type="radio" ng-model="infraestrutura.contatoCemig" ng-value="{{true}}">{{'common.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input name="infrastructure-contactcemig-radio" id="infrastructure-contactcemig-radio" type="radio" ng-model="infraestrutura.contatoCemig" ng-value="{{false}}">{{'common.no' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">

                    <!-- Informações de Infraestrutura (Utilizado para a Cadeia Produtiva Energias Hídricas) -->
                    <div class="col-sm-5" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'infrastructure.eletricity.sale' | translate }}</label>
                            <br>
                            <input name="infrastructure-estimatedselledenergy-input" id="infrastructure-estimatedselledenergy-input" type="text" ng-model="infraestrutura.ofertaEnergiaVendaEstimada" class="form-control"  format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.OFERTAENERGIAVENDAESTIMADA.posicao]}">
                        </div>
                    </div>
                    <div class="col-sm-1" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id"></div>
                    <!-- Fim trecho restrito-->

                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'infrastructure.estimated.water' | translate }}</label>
                            <br>
                            <input name="infrastructure-estimatedwater-input" id="infrastructure-estimatedwater-input" type="text" ng-model="infraestrutura.consumoAguaEstimado" class="form-control" format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.CONSUMOAGUAESTIMADO.posicao]}">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'infrastructure.estimated.gas' | translate }}</label>
                            <br>
                            <input name="infrastructure-estimatedgas-input" id="infrastructure-estimatedgas-input" type="text" ng-model="infraestrutura.consumoGasEstimado" class="form-control" format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.CONSUMOGASESTIMADO.posicao]}">
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'infrastructure.estimated.other' | translate }}</label>
                            <br>
                            <input name="infrastructure-othercombustibles-input" id="infrastructure-othercombustibles-input" type="text" ng-model="infraestrutura.consumoCombustivelEstimado" class="form-control" format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.CONSUMOCOMBUSTIVELESTIMADO.posicao]}">
                        </div>
                    </div>
                </div>

                <!-- Co-geração -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'infrastructure.cogeneration' | translate }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label">{{ 'infrastructure.own.consumption' | translate }}</label>
                                    <br>
                                    <input name="infrastructure-energygenerationownconsume-input" id="infrastructure-energygenerationownconsume-input" type="text" ng-model="infraestrutura.geracaoEnergiaPropria" class="form-control" format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.GERACAOENERGIAPROPRIA.posicao]}">
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label">{{ 'infrastructure.surplus.energy' | translate }}</label>
                                    <br>
                                    <input name="infrastructure-energygenerationsell-input" id="infrastructure-energygenerationsell-input" type="text" ng-model="infraestrutura.geracaoEnergiaVenda" class="form-control" format="number" maxlength="13" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.GERACAOENERGIAVENDA.posicao]}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Informações de Infraestrutura (Utilizado para a Cadeia Produtiva Energias Hídricas) -->
                <div class="row form-group" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id">
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{ 'infrastructure.energy.contracted' | translate }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.ENERGIAJACONTRATADA.posicao]}">
                                    <div>
                                        <label class="radio-inline">
                                            <input name="infrastructure-contractedeenergy-radio" id="infrastructure-contractedeenergy-radio" type="radio" ng-model="infraestrutura.energiaJaContratada" ng-value="{{true}}">{{'common.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input name="infrastructure-contractedeenergy-radio" id="infrastructure-contractedeenergy-radio" type="radio" ng-model="infraestrutura.energiaJaContratada" ng-value="{{false}}">{{'common.no' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim trecho restrito -->

                <!-- Informações de Infraestrutura (Utilizado para a Cadeia Produtiva Energias Hídricas) -->
                <!-- Dados contratos -->
                <div class="row form-group" ng-controller="ContractsGridCtrl" ng-if="projeto.cadeiaProdutiva.id === cadeiaProdutiva.ENERGIAS_HIDRICAS.id">
                    <div class="col-sm-12">
                        <ng-grid-custom data-model="energiaContratadas" column-defs="energiaContratadasColumnDefs" sort-info="energiaContratadasSortInfo" selected-items="energiaContratadasSelectedItems" buttons-config="energiaContratadasButtonsConfig" ng-class="{'styleBackGroundRed' : changes[change_infraestrutura.ENERGIACONTRATADAS.posicao]}"></ng-grid-custom>
                    </div>
                </div>
                <!-- Fim trecho restrito -->

            </div>
        </div>
        <!-- Responsável pelas Informações -->
        <responsible-for-information usuario="infraestrutura.usuarioResponsavel.nome" data="infraestrutura.dataUltimaAlteracao"></responsible-for-information>

    </fieldset>
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="save-button" ng-click="saveInfra()" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !disableNewFn() && (canEditProject() || isAnalistaInfra())">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="cancel-button" class="btn btn-labeled btn-danger"  ng-click="screenService.cancelar('base.projectSearch', formInfrastructure)" ng-if="!screenService.isShowScreen() && !disableNewFn()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
            <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen() || disableNewFn()">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
        </div>
    </div>
</form>
