<form name="formInputsAndProducts" form-check-changes>
    <fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
        <!-- Dados dos insumos (Utilizado para todas as Cadeias Produtivas do Cadastro de Projeto, exceto para Serviços e Comercialização) -->
        <span ng-if="showMainInputsGrid()">
            <div class="page-header">
                <h1>{{ 'inputsandproducts.inputs.data' | translate }}</h1>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.inputs' | translate }}"></span>
            </div>

            <!-- panel main inputs -->
            <div class="panel" ng-controller="InputsAndProductsMainInputsGridCtrl as iapmigCtrl">
                <div class="panel-heading">
                    <span class="panel-title" translate>inputsandproducts.major.inputs</span>

                </div>
                <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.INSUMOS.posicao]}">
                    <ng-grid-custom data-model="insumos" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>

                </div>
            </div>
            <!-- panel main inputs-->

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'inputsandproducts.origin.inputs.perc' | translate }}</span>
                </div>
                <div class="panel-body">
                    <div class="alert alert-page alert-danger alert-dark" style="margin-bottom: 25px !important;" ng-show="showSumErrorOrigin">
                        <strong>A soma percentual dos campos desta seção não deve ser diferente de 100%</strong>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="control-label">{{ 'inputsandproducts.minasgerais.perc' | translate }}</label>
                            <input name="inputsanproducts-originminasgerais-input" id="inputsanproducts-originminasgerais-input" type="text" ng-model="insumoProduto.percentualOrigemMinas" class="form-control" maxlength="6" ng-change="verifyOriginSumError()" placeholder="{{ 'inputsandproducts.minasgerais.perc' | translate }}" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALORIGEMMINAS.posicao]}">
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">{{ 'inputsandproducts.other.states.perc' | translate }}</label>
                            <input name="inputsanproducts-originotherstates-input" id="inputsanproducts-originotherstates-input" type="text" ng-model="insumoProduto.percentualOrigemOutros" class="form-control" maxlength="6" ng-change="verifyOriginSumError()" placeholder="{{ 'inputsandproducts.other.states.perc' | translate }}" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALORIGEMOUTROS.posicao]}">
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">{{ 'inputsandproducts.imported.perc' | translate }}</label>
                            <input name="inputsanproducts-originimported-input" id="inputsanproducts-originimported-input" type="text" ng-model="insumoProduto.percentualOrigemImportado" class="form-control" maxlength="6" ng-change="verifyOriginSumError()"  placeholder="{{ 'inputsandproducts.imported.perc' | translate }}" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALORIGEMIMPORTADO.posicao]}">
                        </div>
                    </div>
                </div>
            </div>
        </span>

        <!-- Produtos a serem fabricados e comercializados por Minas Gerais (Utilizado para todas as Cadeias produtivas do Cadastro de Projeto, exceto Sucroenergético, Serviços e Comercialização) -->
        <div class="page-header">
            <h1>{{ 'inputsandproducts.product.data' | translate }}
                <span ng-show="excetoServicosComercializacaoESucroEnergetico()" class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.products' | translate }}"></span>
            </h1>

        </div>

        <!-- panel made in minas -->
        <div class="panel" ng-controller="InputsAndProductsMadeInMinasProductsGridCtrl as iapmimpgCtrl" ng-if="showMadeInMinasProductsGrid()">
            <div class="panel-heading">
                <span class="panel-title" translate>inputsandproducts.product.made.and.marketedin.minasgerais</span>

            </div>
            <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.PRODUTOSFABECOMPORMINAS.posicao]}">
                <ng-grid-custom data-model="produtosFabEComPorMinas" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>

            </div>
        </div>
        <!-- panel made in minas-->

        <!-- Produção (Utilizado quando a Cadeia produtiva do Cadastro de Projeto for Sucroenergetico) -->
        <div class="panel" ng-controller="InputsAndProductsProductionsGridCtrl" ng-if="isCadeiaProdutivaSucroEnergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate>inputsandproducts.production</span>

            </div>
            <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.PRODUCOES.posicao]}">
                <ng-grid-custom data-model="producoes" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>

            </div>
        </div>

        <!-- Produtos a serem adquiridos e comercializados por Minas Gerais -->
        <div class="panel" ng-controller="InputsAndProductsAcquiredInMinasProductsGridCtrl as iapaimpgCtrl">
            <div class="panel-heading">
                <span class="panel-title" translate>inputsandproducts.products.purchasedin.minasgerais</span>
            </div>
            <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.PRODUTOSADQECOMPORMINAS.posicao]}">
                <ng-grid-custom data-model="produtosAdqEComPorMinas" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>

            </div>
        </div>

        <!-- Produtos adquiridos de outros estados para comercialização (Utilizado para todas as Cadeias Produtivas do Cadastro de Projeto, exceto Sucroenergetico, Energias Hídricas e Serviços) -->
        <div class="panel" ng-if="showAcquiredInOtherStatesProducts()" ng-controller="InputsAndProductsAcquiredInOtherStatesProductsGridCtrl">
            <div class="panel-heading">
                <span class="panel-title">{{ 'inputsandproducts.products.purchasedin.otherstates.forsale' | translate }}</span>
                 <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.otherstates' | translate }}"></span>

            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group" ng-class="{'styleBackGroundRed' : changes[change_insumos.AQUISICAOOUTROESTADO.posicao]}">
                            <label class="control-label">{{ 'inputsandproducts.products.purchasedin.otherstates' | translate }}</label>
                            <br>
                            <input name="inputsanproducts-aquiredotherstates-radio" id="inputsandproducts-aquiredotherstates-radio" type="radio" class="px" ng-value="{{true}}" ng-model="insumoProduto.aquisicaoOutroEstado">
                            <span class="lbl">{{ 'common.yes' | translate }}</span>
                            <input name="inputsandproducts-aquiredotherstates-radio" id="inputsandproducts-aquiredotherstates-radio" type="radio" class="px" ng-value="{{false}}" ng-model="insumoProduto.aquisicaoOutroEstado">
                            <span class="lbl">{{ 'common.no' | translate }}</span>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group" ng-class="{'styleColorRed' : changes[change_insumos.PRODUTOSADQOUTROSESTADOSPARACOM.posicao]}">
                    <ng-grid-custom ng-show="insumoProduto.aquisicaoOutroEstado" data-model="produtosAdqOutrosEstadosParaCom" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>
                </div>
            </div>
        </div>

        <!-- Produtos importados para comercialização (Utilizado para todas as Cadeias Produtivas do Cadastro de Projeto, exceto Sucroenergetico, Energias Hídricas e Serviços) -->
        <div class="panel" ng-if="showAcquiredInOtherCountriesProducts()" ng-controller="InputsAndProductsAcquiredInOtherCountriesProductsGridCtrl">
            <div class="panel-heading">
                <span class="panel-title">{{ 'inputsandproducts.products.importedfor.commercialization' | translate }}</span>
                 <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.imported' | translate }}"></span>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group" ng-class="{'styleBackGroundRed' : changes[change_insumos.IMPORTACAOPRODUTO.posicao]}">
                            <label class="control-label">{{ 'inputsandproducts.products.imported' | translate }}</label>
                            <br>
                            <input ng-change="importacaoProdutoChanged()" name="inputsandproducts-aquiredothercountries-radio" id="inputsandproductsAquiredothercountriesRadio" type="radio" class="px" ng-value="{{true}}" ng-model="insumoProduto.importacaoProduto">
                            <span class="lbl">{{ 'common.yes' | translate }}</span>
                            <input ng-change="importacaoProdutoChanged()" name="inputsandproducts-aquiredothercountries-radio" id="inputsandproductsAquiredothercountriesRadio" type="radio" class="px" ng-value="{{false}}" ng-model="insumoProduto.importacaoProduto">
                            <span class="lbl">{{ 'common.no' | translate }}</span>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group" ng-class="{'styleColorRed' : changes[change_insumos.PRODUTOSIMPPARACOM.posicao]}">
                    <ng-grid-custom ng-show="insumoProduto.importacaoProduto" data-model="produtosImpParaCom" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>
                </div>
            </div>
        </div>

        <!-- Percentual dos Produtos (Utilizado para todas as Cadeias Produtivas do Cadastro de Projeto, exceto Sucroenergetico, Energias Hídricas e Serviços) -->
        <div class="panel" ng-if="excetoServicosEnergiasHidricasESucroEnergetico()">
            <div class="panel-heading">
                <span class="panel-title">{{ 'inputsandproducts.products.perc' | translate }}</span>
            </div>

            <div class="alert alert-page alert-danger alert-dark" style="margin-bottom: 25px !important;" ng-show="showSumErrorPercentAllChain">
                <strong>A soma percentual dos campos desta seção não deve ser diferente de 100%</strong>
            </div>

            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.madein.minasgerais' | translate }}</label>
                        <input name="inputsandproducts-madeinminasgerais-input" id="inputsandproducts-madeinminasgerais-input" type="text" ng-model="insumoProduto.percentualFabricaMinas" class="form-control" ng-change="verifySumErrorPercentAllChain()" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALFABRICAMINAS.posicao]}">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.acquiredfrom.otherstates' | translate }}</label>
                        <input name="inputsandproducts-aquiredotherstates-input" id="inputsandproducts-aquiredotherstates-input" type="text" ng-model="insumoProduto.percentualAdquiridoOutro" class="form-control" ng-change="verifySumErrorPercentAllChain()" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALADQUIRIDOOUTRO.posicao]}">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.imported.perc' | translate }}</label>
                        <input name="inputsandproducts-imported-input" id="inputsandproducts-imported-input" type="text" ng-model="insumoProduto.percentualImportado" class="form-control" ng-change="verifySumErrorPercentAllChain()" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALIMPORTADO.posicao]}">
                    </div>
                </div>
            </div>
        </div>

        <!-- Serviços a serem prestados  (Utilizado quando a Cadeia produtiva do Cadastro de Projeto for Serviços)-->
        <div class="panel" ng-controller="InputsAndProductsServicesToBeProvidedGridCtrl" ng-if="isCadeiaProdutivaServicos()">
            <div class="panel-heading">
                <span class="panel-title" translate>inputsandproducts.services.provided</span>
            </div>
            <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.SERVICOS.posicao]}">
                <ng-grid-custom data-model="servicos" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>

            </div>
        </div>

        <!-- Principais concorrentes em Minas Gerais (Utilizado para todas as Cadeias Produtivas do Cadastro de Projeto, exceto Sucroenergético) -->
        <span ng-if="excetoSucroEnergetico()">
            <div class="page-header">
                <h1>{{ 'inputsandproducts.competitors.data' | translate }}</h1>
            </div>
            <div class="panel" ng-controller="InputsAndProductsMainCompetitorsGridCtrl">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'inputsandproducts.competitors.minasgerais' | translate }}</span>
                    <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.maincontenders' | translate }}"></span>
                </div>
                <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.CONCORRENTES.posicao]}">
                    <ng-grid-custom data-model="concorrentes" column-defs="columnDefs" small="true" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>
                </div>
            </div>
        </span>

        <div class="page-header">
            <h1>{{ 'inputsandproducts.complementary.information' | translate }}</h1>
            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.complement.others' | translate }}" ng-if="excetoServicosComercializacaoESucroEnergetico()"></span>
            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.complement.suggar' | translate }}" ng-if="isCadeiaProdutivaSucroEnergetico()"></span>
            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'inputsandproducts.notes.hint.complement.services' | translate }}" ng-if="isCadeiaProdutivaComercializacaoOuServicos()"></span>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="row form-group">

                    <!-- Percentual valor agregado (Utilizado para todas as Cadeias Produtivas do Cadastro de Projeto, exceto Comercialização e Serviços) -->
                    <div ng-if="excetoServicosEComercializacao()" class="col-sm-6">
                        <label class="control-label">{{ 'inputsandproducts.ratio.cost.selling' | translate }}</label>
                        <input name="inputsandproducts-ratcostsell-input" id="inputsandproducts-ratcostsell-input" type="text" ng-model="insumoProduto.percentualValorAgregado" class="form-control" placeholder="{{ 'inputsandproducts.ratio.cost.selling' | translate }}" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALVALORAGREGADO.posicao]}">
                    </div>

                    <div class="col-sm-6">
                        <label ng-if="excetoServicosComercializacaoESucroEnergetico()" class="control-label">{{ 'inputsandproducts.tax.icms' | translate }}</label>
                        <label ng-if="!excetoServicosComercializacaoESucroEnergetico()" class="control-label">{{ 'inputsandproducts.effective.tax' | translate }}</label>
                        <input name="inputsandproducts-icms-input" id="inputsandproducts-icms-input" type="text" ng-model="insumoProduto.percentualICMS" class="form-control" placeholder="{{ 'inputsandproducts.tax.icms' | translate }}" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALICMS.posicao]}">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'inputsandproducts.customers.major' | translate }}</span>
            </div>
            <div class="panel-body">
                <div class="alert alert-page alert-danger alert-dark" style="margin-bottom: 25px !important;" ng-show="showSumErrorMainClients">
                    <strong>A soma percentual dos campos desta seção não deve ser diferente de 100%</strong>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.industrial.perc' | translate }}</label>
                        <input name="inputsandproducts-industrialcustomers-input" id="inputsandproducts-industrialcustomers-input" type="text" ng-model="insumoProduto.percentualClienteIndustria" class="form-control" placeholder="{{ 'inputsandproducts.industrial.perc' | translate }}" ng-change="verifySumErrorMainClients()" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALCLIENTEINDUSTRIA.posicao]}">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.sales.perc' | translate }}</label>
                        <input name="inputsandproducts-commercialcustomers-input" id="inputsandproducts-commercialcustomers-input" type="text" ng-model="insumoProduto.percentualClienteComercial" class="form-control" placeholder="{{ 'inputsandproducts.sales.perc' | translate }}" ng-change="verifySumErrorMainClients()" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALCLIENTECOMERCIAL.posicao]}">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.final.consumers.perc' | translate }}</label>
                        <input name="inputsandproducts-finalconsumer-input" id="inputsandproducts-finalconsumer-input" type="text" ng-model="insumoProduto.percentualClienteConsumidor" class="form-control" placeholder="{{ 'inputsandproducts.final.consumers.perc' | translate }}" ng-change="verifySumErrorMainClients()" maxlength="6" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALCLIENTECONSUMIDOR.posicao]}">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'inputsandproducts.markets.major' | translate }}</span>
            </div>
            <div class="alert alert-page alert-danger alert-dark" style="margin: 15px 15px 5px 15px !important;" ng-show="showSumErrorMainMarkets">
                <strong>A soma percentual dos campos desta seção não deve ser diferente de 100%</strong>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.minasgerais.perc' | translate }}</label>
                        <input name="inputsandproducts-marketminasgerais-input" id="inputsandproducts-marketminasgerais-input" type="text" ng-model="insumoProduto.percentualMercadoMinas" class="form-control" placeholder="{{ 'inputsandproducts.minasgerais.perc' | translate }}" maxlength="6" ng-change="verifySumErrorMainMarkets()" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALMERCADOMINAS.posicao]}">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.national.perc' | translate }}</label>
                        <input name="inputsandproducts-marketotherstates-input" id="inputsandproducts-marketotherstates-input" type="text" ng-model="insumoProduto.percentualMercadoNacional" class="form-control" placeholder="{{ 'inputsandproducts.national.perc' | translate }}" maxlength="6" ng-change="verifySumErrorMainMarkets()" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALMERCADONACIONAL.posicao]}">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">{{ 'inputsandproducts.foreign.perc' | translate }}</label>
                        <input name="inputsandproducts-marketexterior-input" id="inputsandproducts-marketexterior-input" type="text" ng-model="insumoProduto.percentualMercadoExterior" class="form-control" placeholder="{{ 'inputsandproducts.foreign.perc' | translate }}" maxlength="6" ng-change="verifySumErrorMainMarkets()" ui-number-mask ng-class="{'styleBackGroundRed' : changes[change_insumos.PERCENTUALMERCADOEXTERIOR.posicao]}">
                    </div>
                </div>
            </div>
        </div>

        <!-- Seção Parcerias (Utilizado para a Cadeia Produtiva Sucroenergético) -->
        <div class="panel" ng-if="isCadeiaProdutivaSucroEnergetico()" ng-controller="InputsAndProductsInterestPartnershipsGridCtrl">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'styleBackGroundRed' : changes[change_insumos.INTERESSEPARCERIA.posicao]}">
                            <label class="control-label">{{ 'inputsandproducts.interesting.public.service.question' | translate }}</label>
                            <br>
                            <input name="inputsandproducts-interestpartnerships-radio" id="inputsandproducts-interestpartnerships-radio" type="radio" class="px" ng-value="{{true}}" ng-model="insumoProduto.interesseParceria">
                            <span class="lbl">{{ 'common.yes' | translate }}</span>
                            <input name="inputsandproducts-interestpartnerships-radio" id="inputsandproducts-interestpartnerships-radio" type="radio" class="px" ng-value="{{false}}" ng-model="insumoProduto.interesseParceria">
                            <span class="lbl">{{ 'common.no' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-class="{'styleColorRed' : changes[change_insumos.PARCERIAS.posicao]}">
                    <ng-grid-custom data-model="parcerias" column-defs="columnDefs" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig" ng-if="insumoProduto.interesseParceria"></ng-grid-custom>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'inputsandproducts.state.registration' | translate }}</span>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-12" ng-class="{'styleBackGroundRed' : changes[change_insumos.CONTRIBUINTESUBSTITUTO.posicao]}">
                        <div class="form-group" >
                            <label class="control-label">{{ 'inputsandproducts.exclusive.registration.question' | translate }}</label>
                            <br>
                            <input name="inputsandproducts-stateregistrationexclusive-radio" id="inputsandproducts-stateregistrationexclusive-radio" type="radio" class="px" ng-value="{{true}}" ng-model="insumoProduto.contribuinteSubstituto" >
                            <span class="lbl">{{ 'common.yes' | translate }}</span>
                            <input name="inputsandproducts-stateregistrationexclusive-radio" id="inputsandproducts-stateregistrationexclusive-radio" type="radio" class="px" ng-value="{{false}}" ng-model="insumoProduto.contribuinteSubstituto">
                            <span class="lbl">{{ 'common.no' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <responsible-for-information usuario="insumoProduto.usuarioResponsavel.nome" data="insumoProduto.dataUltimaAlteracao"></responsible-for-information>
    </fieldset>
    <div class="panel ng-scope">
        <div class="panel-footer text-right">

            <button id="save-button" ng-click="save(formInputsAndProducts.$valid)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="cancel-button" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.projectSearch', formInputsAndProducts)" ng-if="!screenService.isShowScreen() && !isAnalistaInfra()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
            <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
        </div>
    </div>
</form>
