<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
    <form name="formJobs" class="form-horizontal" novalidate form-check-changes>

        <!-- Início Dados dos Empregos -->
        <!-- Se não hover nenhuma grid esconde a seção -->
        <div class="panel ng-scope" ng-show="isNotSucroenergeticoEnergiasHidricasMineracaoFerroSiderurgia() || isSucroenergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate="jobs.data"></span>
            </div>

            <div class="panel-body">

                <!-- Início Empregos temporários a serem gerados -->
                <!-- Utilizado para todas as Cadeias Produtivas, exceto Sucroenergético, Energias Hídricas, Mineração Ferro e Siderurgia -->
                <div class="row" ng-show="isNotSucroenergeticoEnergiasHidricasMineracaoFerroSiderurgia()" ng-class="{'styleColorRed' : changes[change_emprego.TEMPORARIO.posicao]}">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'jobs.temporary.generated' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid.title' | translate }}"></span>
                    </h4>

                    <ng-grid-jobs id="temporaryJobsGeneratedGrid" tipo-emprego="tipoEmprego.TEMPORARIO.chave" lista-empregos="temporariosList" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid' | translate }}"></ng-grid-jobs>

                </div>
                <!-- Fim Empregos temporários a serem gerados -->

                <!-- Início Empregos permanentes a serem gerados -->
                <!-- Utilizado para todas as Cadeias Produtivas, exceto Sucroenergético, Energias Hídricas, Mineração Ferro e Siderurgia -->
                <div class="row" ng-show="isNotSucroenergeticoEnergiasHidricasMineracaoFerroSiderurgia()" ng-class="{'styleColorRed' : changes[change_emprego.PERMANENTE.posicao]}">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'jobs.permanent.generated' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid.title' | translate }}"></span>
                    </h4>
                    <ng-grid-jobs id="permanentJobsGeneratedGrid" tipo-emprego="tipoEmprego.PERMANENTE.chave" lista-empregos="permantentesList" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid' | translate }}"></ng-grid-jobs>
                </div>
                <!-- Fim Empregos permanentes a serem gerados -->

                <!-- Início Empregos temporários a serem gerados - Durante implantação -->
                <!-- Utilizado para a Cadeia produtiva sucroenergetico -->
                <div class="row" ng-show="isSucroenergetico()" ng-class="{'styleColorRed' : (changes[change_emprego.TEMPORARIO_IMPLANTACAO_AGRICOLA.posicao] || changes[change_emprego.TEMPORARIO_IMPLANTACAO_INDUSTRIAL.posicao])}">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'jobs.temporary.generated' | translate}} - {{'jobs.during.implantation' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid.title' | translate }}"></span>
                    </h4>

                    <!-- Início Grid -->
                    <ng-grid-jobs-agricultural-industry id="temporaryJobsDuringImplantationGrid" tipo-emprego="'TEMPORARIO'" lista-empregos="temporariosImplantacaoList"></ng-grid-jobs-agricultural-industry>
                    <!-- Fim Grid -->
                </div>
                <!-- Fim Empregos temporários a serem gerados - Durante implantação -->

                <!-- Início Empregos permanentes a serem gerados - Após maturação -->
                <!-- Utilizado para a Cadeia produtiva sucroenergetico -->
                <div class="row" ng-show="isSucroenergetico()" ng-class="{'styleColorRed' : (changes[change_emprego.PERMANENTE_MATURACAO_AGRICOLA.posicao] || changes[change_emprego.PERMANENTE_MATURACAO_INDUSTRIAL.posicao])}">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'jobs.permanent.generated' | translate}} - {{'jobs.after.maturation' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid.title' | translate }}"></span>
                    </h4>

                    <!-- Início Grid -->
                    <ng-grid-jobs-agricultural-industry id="permanentJobsGeneratedAfterMaturationGrid" tipo-emprego="'PERMANENTE'" lista-empregos="permantentesMaturacaoList"></ng-grid-jobs-agricultural-industry>
                    <!-- Fim Grid -->
                </div>
                <!-- Fim Empregos permanentes a serem gerados - Após maturação -->
            </div>
        </div>
        <!-- Fim Dados dos Empregos -->

        <!-- Início Empregos a serem gerados -->
        <!-- Utilizado para as Cadeias produtivas Energias Hídricas, Mineração e Siderurgia -->
        <!-- Se não hover nenhuma grid esconde a seção -->
        <div class="panel ng-scope" ng-show="isEnergiaHidricaMineracaoFerroSiderurgia()">
            <div class="panel-heading">
                <span class="panel-title" translate="jobs.generated"></span>
            </div>

            <div class="panel-body">

                <!-- Início Durante a obra - Temporário -->
                <div class="row" ng-class="{'styleColorRed' : changes[change_emprego.TEMPORARIO_OBRA.posicao]}">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'jobs.during.work' | translate}} - {{'common.temporary' | translate}}
                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'jobs.tooltip.grid.title' | translate }}"></span>
                    </h4>

                    <ng-grid-jobs id="duringWorkTemporaryGrid" tipo-emprego="tipoEmprego.TEMPORARIO_OBRA.chave" lista-empregos="temporariosObraList"></ng-grid-jobs>
                </div>
                <!-- Fim Durante a obra - Temporário -->

                <!-- Início Após início operação - Permanente -->
                <div class="row" ng-class="{'styleColorRed' : changes[change_emprego.PERMANENTE_OPERACAO.posicao]}">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'jobs.after.operation.start' | translate}} - {{'common.permanent' | translate}}</h4>

                    <ng-grid-jobs id="afterOperationStartPermanentGrid" tipo-emprego="tipoEmprego.PERMANENTE_OPERACAO.chave" lista-empregos="permantentesOperacaoList"></ng-grid-jobs>
                </div>
                <!-- Fim Após início operação - Permanente -->

            </div>
        </div>
        <!-- Fim Empregos a serem gerados -->

        <responsible-for-information usuario="empregos.usuarioResponsavel.nome" data="empregos.dataUltimaAlteracao"></responsible-for-information>

</fieldset>
<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="saveButton" ng-click="save()" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>

        <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.projectSearch', formJobs)" ng-if="!screenService.isShowScreen() && !isAnalistaInfra()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>

        <button id="backButton" class="btn btn-labeled btn-danger" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->
</form>
