<!-- Início Grid -->
<ng-grid-custom data-model="data" column-defs="columnDefs" selected-items="selectedItems" buttons-config="buttonsConfig" disable-footer="disableFooter"></ng-grid-custom>
<!-- Fim Grid -->
<!-- Início footer com totais -->
<div class="col-sm-12 grid-footer clearfix">
    <div class="form-group no-margin-hr text-left">
        <div class="row">
            <div class="col-md-4 text-left">
                <h4 class="padding-xs-hr">{{'jobs.predicted.years' | translate}}</h4>
            </div>
            <div class="col-md-2 text-left">
                <h4>{{totalDiretoIndustria}}</h4>
            </div>
            <div class="col-md-2 text-left">
                <h4>{{totalIndiretoIndustria}}</h4>
            </div>
            <div class="col-md-2 text-left">
                <h4>{{totalDiretoAgricola}}</h4>
            </div>
            <div class="col-md-2 text-left">
                <h4>{{totalIndiretoAgricola}}</h4>
            </div>
        </div>
    </div>
</div>
<!-- Fim footer com totais -->