<div growl></div>
<form name="formLocation" form-check-changes>
    <fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
        <!-- Localização do Empreendimento -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'location.enterprise.location' | translate }}</span>
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'location.note.info' | translate }}"></span>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr" ng-class="{'styleBackGroundRed' : changes[change_localizacao.ADEFINIR.posicao]}">
                            <label class="control-label">{{ 'location.city.region.not.defined' | translate }}</label><br>
                            <input ng-model="localizacao.aDefinir" name="location-define-checkbox" id="location-define-checkbox" type="checkbox" class="px" ng-value="{{true}}">
                            <span class="lbl">{{ 'common.yes' | translate }}</span>
                        </div>
                    </div>
                </div>

                <!-- Localização do Empreendimento -->
                <span id="region-span" ng-hide="defineRegion || localizacao.aDefinir == true">
                    <div class="row form-group">
                        <div class="col-sm-10">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'location.city.region.microplaning' | translate }}</label>
                                <input ng-model="filtro" ng-class="{'styleBackGroundRed' : changes[change_localizacao.MICROREGIAO.posicao]}" name="EnterpriseLocation" id="EnterpriseLocation" type="text" class="form-control" typeahead="reg.formatedName for reg in updateLocationRegions($viewValue) | filter:$viewValue" typeahead-on-select="locationSelected($item)" maxlength="200" typeahead-min-length="3">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group no-margin-hr no-label">
                                <button id="seachButton" ng-click="includeEnterpriseLocation()" class="form-control btn btn-secondary" ng-if="!screenService.isShowScreen()" ng-disabled="!filtro || !$item.formatedName">
                                    {{'common.include' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group" ng-controller="EnterpriseLocationGridCtrl">
                        <div class="col-sm-12">
                           <ng-grid-custom data-model="localizacoesEmpreendimento" small="true" column-defs="localizacoesEmpreendimentoColumnDefs" sort-info="localizacoesEmpreendimentoSortInfo" selected-items="localizacoesEmpreendimentoSelectedItems" buttons-config="localizacoesEmpreendimentoButtonsConfig" disable-footer="disableFooter"></ng-grid-custom>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'location.secondary.region' | translate }}</label>
                                <input name="location-address-input" id="location-address-input" type="text" ng-model="localizacao.localizacaoSecundaria" class="form-control" placeholder="{{ 'location.secondary.region' | translate }}" maxlength="200">
                            </div>
                        </div>
                    </div>
                </span>

                <!-- Informações da empresa -->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'location.company.unit.address' | translate }}</label>
                            <input name="location-address-input" id="location-address-input" type="text" ng-model="projeto.empresaUnidadeDTO.nomeExibicao" class="form-control" placeholder="{{ 'location.company.unit.address' | translate }}" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Informações da latitude e longitude -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'location.coords.info' | translate }}</span>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'location.latitude' | translate }}</label>
                            <input name="location-latitude-input" id="location-latitude-input" type="text" ng-model="localizacao.latitude" ng-class="{'styleBackGroundRed' : changes[change_localizacao.LATITUDE.posicao]}" class="form-control" ui-mask="99&deg;99'99&quot; S">
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'location.longitude' | translate }}</label>
                            <input name="location-longitude-input" id="location-longitude-input" type="text" ng-model="localizacao.longetude" ng-class="{'styleBackGroundRed' : changes[change_localizacao.LONGITUDE.posicao]}" class="form-control" ui-mask="99&deg;99'99&quot; W">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Informações do polígono -->
        <!-- O GPI somente deverá exibir a seção "Informações do Polígono" se a Cadeia Produtiva informada no Cadastro do   Projeto for Energias Hídricas. -->
        <div class="panel" ng-if="isCadeiaProdutivaEnergiasHidricas()">
            <div class="panel-heading">
                <span class="panel-title">{{ 'location.polygon.info' | translate }}</span>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-11">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{ 'location.polygon' | translate }}</label>
                            <textarea name="location-polygon-textarea" id="location-polygon-textarea" rows="4" ng-model="localizacao.poligono" class="form-control" placeholder="{{ 'location.polygon' | translate }}" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim informações do polígono -->

        <!-- O GPI somente deverá exibir a seção "Área de Abrangência do Empreendimento (Decreto 45.041/2009) e Localização da Planta Industrial"  se a Cadeia Produtiva informada no Cadastro do Projeto for Sucroenergético. -->
        <h4 class="page-title" ng-if="isCadeiaProdutivaSucroEnergetico()">Área de abrangência do empreendimento (Decreto 45.041/2009) e Localização da Planta Industrial.
        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'location.note.attachments' | translate }}"></span></h4>

        <!-- Início Arquivos Anexados da àrea de Abrangência do Empreendimento (Decreto 45.041/2009) e Localização da Planta Industria -->
        <div ng-if="isCadeiaProdutivaSucroEnergetico()" class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="AttachedFilesAreaGridCtrl as attachedFilesCtrl">
            <div class="panel-heading">
                <span class="panel-title" translate="common.attached.files"></span>
            </div>
            <div class="grid-header">
                <button id="attachFileButton" type="file" class="btn btn-success btn-labeled" flow-btn>
                    <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                    <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                </button>
            </div>
            <file-uploader flow-drop data-model="anexosAreaAbrangencia" column-defs="anexosLocalizacaoColumnDefs" selected-items="anexosLocalizacaoSelectedItems"></file-uploader>
        </div>
        <!-- Fim Arquivos Anexados -->

        <!-- Início Arquivos Anexados  -->
        <div class="panel ng-scope" ng-class="{'styleColorRed' : changes[change_localizacao.ANEXOS.posicao]}" flow-init="{testChunks:false}" ng-controller="AttachedFilesAreaLocalGridCtrl as attachedFilesLocalCtrl">
            <div class="panel-heading">
                <span class="panel-title" translate="common.attached.files"></span>
            </div>
            <div class="grid-header">
                <button id="attachFileButton" type="file" class="btn btn-success btn-labeled" flow-btn>
                    <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                    <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                </button>
            </div>
            <file-uploader flow-drop data-model="anexosAreaLocalAbrangencia" column-defs="anexosAreaLocalColumnDefs" selected-items="anexosAreaLocalSelectedFiles"></file-uploader>
        </div>
        <!-- Fim Arquivos Anexados -->

        <!-- Responsável pelas Informações -->
        <responsible-for-information usuario="localizacao.usuarioResponsavel.nome" data="localizacao.dataUltimaAlteracao"></responsible-for-information>
    </fieldset>

    <!-- Botões -->
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="save-button" ng-click="save(formLocation)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="cancel-button" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.projectSearch', formLocation)" ng-if="!screenService.isShowScreen() && !isAnalistaInfra()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
            <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
        </div>
    </div>
</form>