<div growl></div>
<fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
    <form id="formSchedule" name="formSchedule" class="form-horizontal" novalidate form-check-changes>
        <!-- Início panel Cronograma 1 -->
        <!-- Exibido para todas as Cadeia Produtiva informada no Cadastro do Projeto, exceto sucroenergético -->
        <div class="panel ng-scope" ng-show="!isSucroenergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate="common.schedule"></span>
            </div>

            <div class="panel-body">
                <!-- Início do Projeto -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOPROJETO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="projectStartDateInput" translate="schedule.start"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="projectStartDatepicker" date="cronograma.inicioProjeto" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Início de Implantação -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOIMPLANTACAO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="implantationStartDateInput" translate="schedule.implantation.start"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="implantationStartDatepicker" date="cronograma.inicioImplantacao" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Início de Operação -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOOPERACAO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="operationStartDateInput" translate="schedule.operation.start"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="operationStartDatepicker" date="cronograma.inicioOperacao" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Término do Projeto -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.TERMINOPROJETO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="projectEndDateInput" translate="schedule.project.end"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="projectEndDatepicker" date="cronograma.terminoProjeto" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim panel Cronograma 1 -->

        <!-- Início panel Cronograma 2 -->
        <!-- Exibido para a Cadeia Produtiva sucroenergético informada no Cadastro do Projeto -->
        <div class="panel ng-scope" ng-show="isSucroenergetico()">
            <div class="panel-heading">
                <span class="panel-title" translate="common.schedule"></span>
            </div>
            <div class="panel-body">

                <!-- Início do projeto executivo -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOPROJETOEXECUTIVO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="executiveProjectStartDateInput" translate="schedule.project.executive.project.start"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="executiveProjectStartDatepicker" date="cronograma.inicioProjetoExecutivo" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Término do projeto executivo -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.TERMINOPROJETOEXECUTIVO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="executiveProjectEndDateInput" translate="schedule.project.executive.project.end"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="executiveProjectEndDatepicker" date="cronograma.terminoProjetoExecutivo" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Início de Implantação -->
                <div class="panel-footer text-left col-sm-12">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'schedule.implantation.start' | translate}}</h4>
                </div>

                <!-- Agrícola (Início de Implantação) -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOIMPLANTACAOAGRICOLA.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="agriculturalImplantationStartDateInput" translate="schedule.agricultural"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="agriculturalImplantationStartDatepicker" date="cronograma.inicioImplantacaoAgricola" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Industrial (Início de Implantação) -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOIMPLANTACAOINDUSTRIAL.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="industrialImplantationStartDateInput" translate="schedule.industrial"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="industrialImplantationStartDatepicker" date="cronograma.inicioImplantacaoIndustrial" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Término de Implantação -->
                <div class="panel-footer text-left col-sm-12">
                    <h4 class="padding-sm no-padding-t padding-xs-hr">{{'schedule.implantation.end' | translate}}</h4>
                </div>

                <!-- Agrícola (Término de Implantação) -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.TERMINOIMPLANTACAOAGRICOLA.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="agriculturalImplantationEndDate" translate="schedule.agricultural"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="agriculturalImplantationEndDatepicker" date="cronograma.terminoImplantacaoAgricola" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Industrial (Término de Implantação) -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.TERMINOIMPLANTACAOINDUSTRIAL.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="industrialImplantationEndDateInput" translate="schedule.industrial"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="industrialImplantationEndDatepicker" date="cronograma.terminoImplantacaoIndustrial" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Início de contratação de equipamentos -->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOCONTRATACAOEQUIPAMENTOS.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="hiringEquipmentStartDateInput" translate="schedule.hiring.equipment.start"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="hiringEquipmentStartDatepicker" date="cronograma.inicioContratacaoEquipamentos" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

                <!-- Início de operação (Término de implantação)-->
                <div class="row">
                    <div class="col-sm-3" ng-class="{'styleBackGroundRed' : changes[change_cronograma.INICIOOPERACAOSUCROENERGETICO.posicao]}">
                        <div class="form-group no-margin-hr text-right">
                            <label class="control-label" for="implantationEndOperationStartDateInput" translate="schedule.operation.start"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <datepicker-custom id="implantationEndOperationStartDatepicker" date="cronograma.inicioOperacaoSucroenergetico" configs="configsDatepickerSchedule"></datepicker-custom>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Fim panel Cronograma 2 -->

        <responsible-for-information usuario="cronograma.usuarioResponsavel.nome" data="cronograma.dataUltimaAlteracao"></responsible-for-information>

</fieldset>
<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="saveButton" ng-disabled="disableNewFn()" ng-click="save()" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.projectSearch', formSchedule)" ng-if="!screenService.isShowScreen() && !isAnalistaInfra()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" class="btn btn-labeled btn-danger" ui-sref="base.projectSearch" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->
</form>