<div class="form-group no-margin-hr">
	<div class="input-group date">
		<input id="dateInput" ng-model="formattedDate" placeholder="{{placeholder}}" type="text" class="form-control" readonly required="required">
		<span id="clearDateSpan" class="input-group-addon" ng-click="clearDate()"><i class="fa fa-eraser"></i></span>
		<span id="showDateSpan" class="input-group-addon" ng-class="{'btn-info': !configs.disabled}" ng-click="showDatepicker()"><i class="fa fa-calendar"></i></span>
	</div>
	<span ng-class="{'has-error': checkInvalidDate()}"> <div ng-show="checkInvalidDate()" class="help-block">{{'common.field.required' | translate}}</div></span>
</div>