<div growl></div>

<!-- Filtros de pesquisa -->
<div class="panel colourable">
    <form class="form-horizontal" novalidate>
    <div class="panel-heading">
        <span class="panel-title">
            <div class="row">
                <div ng-class="{'col-sm-3': filterOptions.estagioNotMultiple, 'col-sm-5': !filterOptions.estagioNotMultiple}">
                    <strong>Diretoria:</strong>{{!filtro.diretoria ? 'Todas' : diretorias[filtro.diretoria.id].sigla }}
                    <span ng-repeat="diretoria in diretorias" ng-if="filtro.diretoria == diretoria.id">{{diretoria.sigla}}</span>
                </div>
                <div ng-class="{'col-sm-5': filterOptions.estagioNotMultiple, 'col-sm-6': !filterOptions.estagioNotMultiple}" ng-if="filterOptions.intervaloDatas || filterOptions.mesAno">
                    <strong>Período de Análise:</strong>
                    <span ng-if="filterOptions.intervaloDatas">{{filtro.dataInicio | date:"dd/MM/yyyy"}} a {{filtro.dataFim | date:"dd/MM/yyyy"}}</span>
                    <span ng-if="filterOptions.mesAno">{{filtro.mesAno | date:"MM/yyyy"}}</span>
                </div>
                <div class="col-sm-3" ng-if="filterOptions.estagioNotMultiple">
                    <strong>Estagio: </strong>{{estagioSelecionado.descricao}} - {{filtro.dataInicio | date: "yyyy"}}
                </div>

                <!-- Inicio filtros do header do painel -->
                <div class="col-sm-1" style="float:right">
                    <div class="dropdown btn-group btn-group-xs">
                        <button class="btn btn-success dropdown-toggle" type="button"><span class="fa fa-cog"></span>&nbsp;<span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">
                                {{ 'common.board' | translate }}
                            </li>
                            <li class="dropdown-header">
                                <select id="boardSelect" name="diretoria" ng-model="filtro.diretoria" class="form-control input-sm" ng-change="changeDiretoriaMultiselect()" data-toggle="dropdown" ng-options="diretoria.id as diretoria.sigla for diretoria in diretorias">
                                   <option value="" ng-selected="{{filtro.diretoria ? false : true}}">Todos</option>
                                </select>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header" ng-if="filterOptions.intervaloDatas || filterOptions.mesAno">
                                Período de Análise
                            </li>
                            <li width="200" ng-if="filterOptions.intervaloDatas || filterOptions.mesAno" class="dropdown-header">
                                <datepicker-custom id="monthDatepicker" name="monthDatepicker" date="filtro.mesAno" configs="configMonthYearDatePicker" form-submitted="formSubmitted" ng-if="filterOptions.mesAno" data-toggle="dropdown" class="panel-filter-datepicker"></datepicker-custom>
                                <span ng-if="filterOptions.intervaloDatas">
                                    <datepicker-custom id="initialDatepicker" name="dataInicio" date="filtro.dataInicio" configs="configsIntervalDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="panel-filter-datepicker"></datepicker-custom>
                                    a
                                    <datepicker-custom id="finalDatepicker" date="filtro.dataFim" configs="configsIntervalDatepicker" form-submitted="formSubmitted" ng-if="filterOptions.intervaloDatas" data-toggle="dropdown" class="panel-filter-datepicker"></datepicker-custom>
                                </span>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">
                                <a ng-click="searchFromPanel()"><span class="fa fa-search"></span>&nbsp;&nbsp;Pesquisar</a>
                            </li>
                            <li class="dropdown-header">
                                <a ng-click="toggleDisplaySearchFilters()" ng-if="hasBodyPanelFilters()"><span class="fa fa-pencil-square-o"></span>&nbsp;&nbsp;Pesquisa Avançada</a>
                            </li>
                        </ul> <!-- / .dropdown-menu -->
                    </div>
                </div>
                <!-- Fim filtros do header do painel -->
            </div>
        </span>
    </div>
    <div class="panel-body" ng-if="displaySearchFilters && hasBodyPanelFilters()">
        <div class="row form-group" ng-if="displaySearchFilters">
            <div class="col-sm-4" ng-if="filterOptions.estagio">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'common.stage' | translate }}</label>
                    <select id="stageMultiSelect" class="form-control" name="estagios" ng-model="filtro.estagios" ng-options="e.id as e.descricao for e in estagios" multiple="true"></select>
                </div>
            </div>
            <div class="col-sm-4" ng-if="filterOptions.estagioNotMultiple">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'common.stage' | translate }}</label>
                    <select id="stageSelect" class="form-control" name="estagio" ng-model="filtro.estagio" size="4" ng-options="e.id as e.descricao for e in estagios" ng-change="changeStageSelect()"></select>
                </div>
            </div>
            <div class="col-sm-4" ng-if="filterOptions.regiaoPlanejamento">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'location.planing.region' | translate }}</label>
                    <select id="planningRegionMultiSelect" name="regioesPlanejamento" class="form-control" ng-model="filtro.regioesPlanejamento" multiple="true">
                        <option title="{{regioesPlanejamento.nome}}" ng-value="regioesPlanejamento.id" ng-repeat="regioesPlanejamento in regioesPlanejamento" ng-selected="{{stageMultiSelect.indexOf(regioesPlanejamento.id) > -1}}">{{regioesPlanejamento.nome}}</option>
                    </select>
                </div>
            </div>
            <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
            não exibe os campos Gerência e Analista -->
            <div class="col-sm-4" ng-if="filterOptions.gerencia">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'common.manage' | translate }}</label>
                    <select id="manageMultiSelect" name="gerencias" class="form-control" ng-model="filtro.departamentos" multiple="true" ng-change="changeManageMultiSelect()">
                        <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias">{{gerencia.descricao}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4" ng-if="filterOptions.cadeiaProdutiva">
                 <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'common.productive.chain' | translate }}</label>
                    <select id="productiveChainMultiSelect" name="cadeiasProdutivas" class="form-control" ng-model="filtro.cadeiasProdutivas" multiple="true">
                        <option title="{{cadeiaProdutiva.descricao}}" ng-value="cadeiaProdutiva.id" ng-selected="filtro.cadeiasProdutivas.indexOf(cadeiaProdutiva.id) > -1" ng-repeat="cadeiaProdutiva in cadeiasProdutivas" >{{cadeiaProdutiva.descricao}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4" ng-if="filterOptions.tipoInstrumentoFormalizacao">
                 <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'reunionPanelReport.formalization.instrument.type' | translate }}</label>
                    <select id="formalizationInstrumentTypeMultiSelect" name="tiposInstrumentoFormalizacao" class="form-control" ng-model="filtro.tiposInstrumentoFormalizacao" multiple="true">
                        <option title="{{cadeiaProdutiva.descricao}}" ng-value="tipoInstrumentoFormalizacao.id" ng-selected="filtro.tiposInstrumentoFormalizacao.indexOf(tipoInstrumentoFormalizacao.id) > -1" ng-repeat="tipoInstrumentoFormalizacao in tiposInstrumentoFormalizacao" >{{tipoInstrumentoFormalizacao.descricao}}</option>
                    </select>
                </div>
            </div>

            <!-- Inicio Periodo -->
            <div class="col-sm-12" ng-if="filterOptions.anual">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Período</label>
                    <br>
                    <input name="AnualRadio" id="AnualRadio" type="radio" ng-value="false" ng-model="filtro.anual">
                    Mês de referência
                    <input name="AnualRadio" id="AnualRadio" type="radio" ng-value="true" ng-model="filtro.anual">
                    Anual
                </div>
            </div>
            <!-- Fim Periodo -->

            <!-- Início prospecção -->
            <div class="col-sm-12" ng-if="filterOptions.prospeccao">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'common.project' | translate }}</label>
                    <br>
                    <input name="activeProspectionRadio" id="activeProspectionRadio" type="radio" ng-model="filtro.prospeccaoAtiva">
                    {{ 'common.all' | translate }}
                    <input name="activeProspectionRadio" id="activeProspectionRadio" type="radio" ng-value="true" ng-model="filtro.prospeccaoAtiva">
                    {{ 'reunionPanelReport.only.active.prospection' | translate }}
                    <input name="activeProspectionRadio" id="activeProspectionRadio" type="radio" ng-value="false" ng-model="filtro.prospeccaoAtiva">
                    {{ 'reunionPanelReport.except.active.prospection' | translate }}
                </div>
            </div>
            <!-- Fim prospecção -->

        </div>
        <!-- Fim filtros de pesquisa -->

    </div>

    <!-- Início botões filtro -->
    <div class="panel-footer text-right" ng-if="displaySearchFilters && hasBodyPanelFilters()">
        <button id="searchButton" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
            <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
        </button>
    </div>
    <!-- Fim botões filtro -->
    </form>

</div>

<!-- Início Resultados da Pesquisa -->
<div class="panel" ng-show="columnsName">

    <div class="panel-heading">
        <span ng-switch on="data.length">
            <span ng-switch-when="0">Nenhum registro encontrado</span>        
            <span ng-switch-default>
                <span class="panel-title">{{'common.results' | translate}}</span>            
            </span>
        </span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12" style="overflow: auto">
                <table ng-table="tableParams" show-filter="true" class="table table-striped table-light table-bordered" style="border-bottom:0">
                    <thead>
                    <tr>
                        <th ng-repeat="column in columnsName" ng-show="column.visible"
                            class="text-center sortable" ng-class="{
                                'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                'sort-desc': tableParams.isSortBy(column.field, 'desc')
                              }"
                            ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                            {{column.title | translate}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in $data" ng-if="data">
                        <td ng-repeat="column in columnsName" ng-show="column.visible" sortable="column.field">
                            <span ng-switch on="column.format">
                                <span ng-switch-when="date">{{user[column.field] | date:'dd/MM/yyyy'}}</span>
                                <span ng-switch-when="currency">{{user[column.field] | currency:''}}</span>
                                <span ng-switch-default>{{user[column.field]}}</span>
                            </span>
                        </td>
                    </tr>
                    <tr class="darkGrayRow">
                        <td ng-repeat="column in columnsName" class="ng-binding">
                            <span ng-if="column.field === 'projeto'">{{numeroProjetos}}</span>
                            <span ng-if="column.field === 'investimentoPrevisto'">{{totalInvestimentoPrevisto | currency:''}}</span>
                            <span ng-if="column.field === 'faturamentoInicial'">{{totalFaturamentoInicial | currency:''}}</span>
                            <span ng-if="column.field === 'faturamentoPleno'">{{totalFaturamentoPleno | currency:''}}</span>
                            <span ng-if="column.field === 'empregosDiretos'">{{totalEmpregosDiretos}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->