<div growl></div> 
<div class="page-header ng-scope">
    <h1 class="col-xs-12 col-sm-8 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i>&nbsp;&nbsp;{{'activity.find' | translate}}</h1>
</div>
<form name="formSearchTemplate" class="form-horizontal" novalidate>  

    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">                
            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.name' | translate }}</label>
                        <input name="template-nome-input" id="template-nome-input" type="text" ng-model="filtro.nome" class="form-control" placeholder="{{ 'common.name' | translate }}" maxlength="100">
                    </div>                                          
                </div>                      
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.type' | translate }}</label>
                        <select name="template-type-select" id="template-type-select" ng-model="filtro.tipo" class="form-control" ng-options="k as v.descricao for (k,v) in tiposTemplate">
                            <option value="">{{ 'common.select' | translate }}</option>                            
                        </select>
                    </div>                        
                </div>                    
            </div>
            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.status' | translate }}</label>
                        <select name="template-status-input" id="template-status-input" ng-model="filtro.status" class="form-control" ng-options="k as v for (k,v) in statusTemplate">
                            <option value="">{{ 'common.select' | translate }}</option>
                        </select>
                    </div>                        
                </div>                
            </div>
        </div>
        <div class="panel-footer text-right">
            <button id="search-button" ng-click="search(formSearchTemplate)" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="reset-button" ng-click="reset()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>     
    </div>
</form>


<!-- Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body" ng-controller="SearchTemplateGridCtrl">              
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="grid-header">
<!-- Em caso de necessídade de usar botões personalizados -->
                </div>
                <ng-grid-custom data-model="atividadeTemplatesEncontrados" column-defs="atividadeTemplatesEncontradosColumnDefs" sort-info="atividadeTemplatesEncontradosSortInfo" buttons-config="atividadeTemplatesEncontradosButtonsConfig" selected-items="atividadeTemplatesEncontradosSelectedItems" grid-scope="gridScope"></ng-grid-custom>
            </div>
        </div>        
    </div>
</div>