<div growl></div>
<div class="page-header ng-scope">
    <h1 class="col-xs-12 col-sm-8 text-center text-left-sm"><i class="fa {{screenService.getScreen(type).icon}} page-header-icon"></i>&nbsp;&nbsp;{{screenType.titlePath | translate}}</h1>
</div>
<fieldset ng-disabled="screenService.isShowScreen()">
<form name="formActivityTemplate" class="form-horizontal" novalidate>

    <!-- Dados do Template -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'activity.data' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.name' | translate }} *</label>
                        <div ng-class="{'has-error': checkValidation(formActivityTemplate.templateNomeInput)}">
                            <input name="templateNomeInput" id="templateNomeInput" type="text" ng-model="template.nome" class="form-control" placeholder="{{ 'common.name' | translate }}" maxlength="100" required>
                            <div ng-if="checkValidation(formActivityTemplate.templateNomeInput)" class="help-block">{{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.type' | translate }} *</label>
                        <div ng-class="{'has-error': checkValidation(formActivityTemplate.templateTypeSelect)}">
                            <select name="templateTypeSelect" id="templateTypeSelect" ng-model="template.tipo" class="form-control" ng-options="k as v.descricao for (k,v) in tiposTemplate" required>
                                <option value="">{{ 'common.select' | translate }}</option>
                            </select>
                            <div ng-if="checkValidation(formActivityTemplate.templateTypeSelect)" class="help-block">{{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">{{ 'common.status' | translate }} *</label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                        <label class="radio-inline">
                            <input name="template-status-radio" id="template-status-radio" type="radio" class="px" ng-value="{{true}}" ng-model="template.status" ng-checked="screenType === type.INCLUIR || template.status === true">
                            <span class="lbl">{{ 'common.active' | translate }}</span>
                        </label>
                        <label class="radio-inline">
                            <input name="template-status-radio" id="template-status-radio" type="radio" class="px" ng-value="{{false}}" ng-model="template.status" ng-checked="template.status == false">
                            <span class="lbl">{{ 'common.inactive' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Início Grid Atividades -->
<div class="panel ng-scope" ng-controller="TemplateGridCtrl">
    <div class="panel-heading">
        <span class="panel-title">Atividades</span>
    </div>
    <div class="grid-header">
        <button id="addActivity" type="file" class="btn btn-primary btn-labeled" ng-click="addActivity()">
            <span class="btn-label icon fa fa-paperclip"></span>Nova Atividade</button>
    </div>
    <ng-grid-activities data-model="atividadesTemplate" column-defs="atividadesTemplateColumnDefs" selected-items="atividadesTemplateSelectedItems" grid-scope="gridScope" grid-type="'TEMPLATE'" has-delete="{{!screenService.isShowScreen()}}" ></ng-grid-activities>
</div>
<!-- Fim Grid Atividades -->

</fieldset>


<!-- Responsavel pelas informações -->
<responsible-for-information usuario="template.usuarioResponsavel.nome" data="template.dataUltimaAlteracao"></responsible-for-information>

<!-- Botões -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="save-button" ng-click="save(formActivityTemplate.$valid)" class="btn btn-labeled btn-success" ng-if="!disabled">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="cancel-button" ng-click="screenService.cancelar('base.activitySearch', formActivityTemplate)" class="btn btn-labeled btn-danger" ng-if="!disabled">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.activitySearch" ng-if="disabled">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>