@import"config_variables";
 $icon-font-path: $fonts-path +"/";
 @import'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
 // bower:scss
 @import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
 // endbower
 .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Space out content a bit */
 body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 390px;
}
.gridStyleSmall {
    border: 1px solid rgb(212, 212, 212);
    height: 170px;
}
.grid-style {
    border: 1px solid rgb(212, 212, 212);
    height: 390px;
}
.styleBackGroundRed {
    background: #f2dede;
}
.styleColorRed {
    color: red;
    background: #f2dede;
}
.styleBackGroundYellow {
    background: #F2F5A9;
}
.grid-one-row-style {
    border: 1px solid rgb(212, 212, 212);
    height: 65px;
}
div > .no-label {
    position: relative;
    top: 25px;
}
.grid-footer {
    min-height: 20px;
    border: 1px solid rgb(212, 212, 212);
    position: relative;
    font-size: small;
    padding-top: 10px;
    background: #fafafa;
}
.grid-header {
    min-height: 10px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background: #fafafa;
    text-align: right;
}
.logoSquare {
    width: 120px;
    height: 120px;
    position: relative;
}
.page-signin {
    background: #666 !important;
    .signin-info {
        background: #a71b22;
        .logo {
            font-size: 28px;
        }
    }
}

.no-href:hover {
 cursor:pointer;
}

.versionNumber {
 position: absolute;
 left: 0;
 bottom: 0;
 font-size: .9em;
}

/* Real Person jQuery plugin styles v2.0.0. */
.realperson-challenge {
 display: block;
 color: #000;
}
.realperson-text {
 font-family: "Courier New",monospace;
 font-size: 6px;
 font-weight: bold;
 letter-spacing: -1px;
 line-height: 3px;
 text-align: center;
}
.realperson-regen {
 padding-top: 4px;
 font-size: 12px;
 text-align: right;
}
.realperson-regen > span{
 cursor: pointer;
}

.btnEnter {
 padding-top: 20px;
}

#loading-bar .bar {
 height: 5px;
}

/* Fancy blur effect */
#loading-bar .peg {
 top: 46px;
}

.loading-background {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 9999;
 background-color:rgba(0,0,0,.8);
 .fa-spinner {
  position: absolute;
  z-index: 10002;
  top: 50%;
  left: 50%;
  marging-top: -52px;
  marging-left: -52px;
  font-size: 50px;
  color: #CCC;
 }
}

.yellowRow {
    background-color: #FFFFCC;
    color: black;
}

.brownRow {
    background-color: #D1C2B2;
    color: black;
}

.brownLightRow {
    background-color: #EEE9E9;
    color: black;
}

.lightGrayRow{
  background-color: #D8D8D8;
  color: black;
  font-weight: bold;
}

.boldRow{
  color: black;
  font-weight: bold;
}

.darkGrayRow{
  background-color: #BEBEBE;
  color: black;
  font-weight: bold;
}
.tableGrayRow{
  background-color: #EBEBEB;
  color: #555555;
  font-weight: bold;
}
.tableLightRow {
    background-color: #F9F9F9;
    color: black;
}

/* */
#main-navbar .navbar-brand{
  line-height: 40px !important;
}

.theme-clean #main-navbar form.navbar-form .form-control{
  width: auto;
}

.nav.navbar-nav.pull-right.right-navbar-nav .dropdown-toggle .dropdown-icon{
  margin-left: 10px;
}

.page-signin .form-actions{
  text-align: right;
}

.font-minus {font-size: 11px;}

.btn-group.idioma{
  margin-top: 7px;
}

.page-signin .signin-info {
  height: 280px;
  display: block;
  width: 100%;
}

.page-signin .signin-info .logo {
  font-size: 28px;
  line-height: 193px;
  text-align: center;
}

.versionNumber {
  position: relative;
  font-size: .9em;
  line-height: normal;
  color: #fff;
  text-align: center;
}

.gridChevrons {
  line-height: 0.3 !important;
}

.ng-table-pager {
    display: none;
}

.search-table-outter { overflow-x: scroll; }

.table-gpi{
  $spotlight-table-color: #EEE;
  .output, input {
    font-size: 10pt; height: 1.2em; /*width: 50pt;*/ height: 16pt; overflow: hidden; padding-left: 4pt;
    }

  input {
      border: none;
  }
  .output {
        background: white; pointer-events: none; padding-top: 2pt; height: 14pt;
        }

  input:focus + .output {
    display: none;
  }

  table {
    border-collapse: collapse;
  }

  td > div {
    /*width: 55pt;*/ height: 16pt;
  }

  td {
    border: 1px solid #EEE;
  }
  .column-label > td,

  .row-label {
    text-align: center; background: $spotlight-table-color;
  }

  .row-label {
    width: 40%;
  }

  .row-aggregate {
    background: $spotlight-table-color;
    font-weight: bold;
  }
}

.panel-filter-datepicker {
  input{
    height: 30px !important;
    width: 150px !important;
  }
}

.advanced-search-datepicker {
  input{
    font-size: 10px;
    height: 30px !important;
    width: 85px !important;
  }
}

.div-treemap {
  margin: auto;
  position: relative;
  width: 100%;
}

.div-treemap form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#tooltip-treemap {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip-treemap.hidden {
  display: none;
}

#tooltip-treemap p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#main-navbar li div a {
  line-height: normal;
  padding-top: 2px;
  padding-bottom: 2px;
}

.popover {
  max-width: 1000px !important;
}
