 <input type="text" id="companyInput" name="companyInput" class="form-control" placeholder="{{ 'common.company' | translate }}" typeahead-on-select="empresaSelected($item)" ng-model="empresaUnidadeSelecionadaTxt" typeahead="empresa.nomeExibicao for empresa in updateCompanies($viewValue) | filter:$viewValue" />

<button id="ncm-button" data-toggle="modal" data-target="#archive-modal" class="btn btn-labeled btn-info">
    <span class="btn-label icon fa fa-archive"></span>{{'common.archive.register' | translate}}
</button>
<div id="ncm-modal" class="modal fade modal-blur">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h4 class="col-xs-8 text-center text-left-sm"><i class="fa fa-archive page-header-icon"></i>&nbsp;&nbsp;{{'common.archive.register' | translate}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="panel" ng-click="logar(this)">
                    <div class="panel-heading">
                        <span class="panel-title" translate>common.data.archive.register</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label">{{'common.justificative' | translate}}*</label>
                                    <textarea id="justificative-input" name="justificative-input" class="form-control" ng-model="insumoProduto.ncm" maxlength="1000" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-right">
                                <button id="save-button" class="btn btn-labeled btn-success" data-dismiss="modal" ng-click="archiveEmpresa(companyForm.$valid)">
                                    <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
                                </button>
                                <button id="close-button" class="btn btn-labeled btn-danger" data-dismiss="modal" ng-click="cleanJustificative()">
                                    <span class="btn-label icon fa fa-times-circle"></span>{{'common.close' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / .panel -->
            </div>
        </div>
        <!-- / .modal-content -->
    </div>
    <!-- / .modal-dialog -->
</div>
