<div class="ice-tab">
    <ul id="ice-tab" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.project.ice.locationTpl'), 'styleBackGroundYellow' : changeLocalizacao}">
            <a ui-sref="base.project.ice.locationTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.location' | translate }}</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.project.ice.financialTpl'), 'styleBackGroundYellow' : changeFinanceiro}">
            <a ui-sref="base.project.ice.financialTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.financial' | translate }}</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.project.ice.jobsTpl'), 'styleBackGroundYellow' : changeEmprego}">
            <a ui-sref="base.project.ice.jobsTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.jobs' | translate }}</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.project.ice.scheduleTpl'), 'styleBackGroundYellow' : changeCronograma}">
            <a ui-sref="base.project.ice.scheduleTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.schedule' | translate }}</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.project.ice.infrastructureTpl'), 'styleBackGroundYellow' : changeInfraestrutura}">
            <a ui-sref="base.project.ice.infrastructureTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.infrastructure' | translate }}</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.project.ice.environmentTpl'), 'styleBackGroundYellow' : changeMeioAmbiente}">
            <a ui-sref="base.project.ice.environmentTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.environment' | translate }}</a>
        </li>        
        <li ng-class="{active: screenService.isStateActive('base.project.ice.insumosProdutosTpl'), 'styleBackGroundYellow' : changeInsumoProduto}">
            <a ui-sref="base.project.ice.insumosProdutosTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'common.supplies.and.products' | translate }}</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.project.ice.claimTpl'), 'styleBackGroundYellow' : changePleito}">
            <a ui-sref="base.project.ice.claimTpl({screen: screenService.getScreenName(), id: getId()})">{{ 'claims.company' | translate }}</a>
        </li>
    </ul>
    <div class="tab-content">
        <project-information nomeEmpresa="projetoTO.nomeEmpresa" nomeProjeto="projetoTO.nomeProjeto" versaoProjeto="projetoTO.versao" estagioAtualProjeto="estagioProjeto.descricao" situacaoProjeto="situacaoProjeto.descricao"></project-information>
        
        <div ui-view=""></div>
    </div>
</div>
