<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.project' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <strong>{{'projectInformation.companyName' | translate}}: </strong>{{nomeEmpresa}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <strong>{{'projectInformation.projectName' | translate}}: </strong>{{nomeProjeto}}</div>
            <div class="col-sm-6">
                <strong>{{'projectInformation.projectCurrentVersion' | translate}}: </strong>{{versaoProjeto}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <strong>{{'projectInformation.projectCurrentStage' | translate}}: </strong>
                {{estagioAtualProjeto}} 
            </div>
            <div class="col-sm-6">
                <strong>{{'projectInformation.projectCurrentStatus' | translate}}: </strong>{{situacaoProjeto}}</div>
        </div>
    </div>
</div>
