<!-- Inicio abas do painel de reuniões semanais-->
<div class="weekly-meetings-panel-tab">
    <ul id="weekly-meetings-panel-tab" class="nav nav-tabs">
        <li ng-class="{active: screenService.isParentStateActive('base.weeklyMeetingsPanel.goalsDashboard')}">
            <a ui-sref="base.weeklyMeetingsPanel.goalsDashboard">Painel de Metas</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.weeklyMeetingsPanel.positiveSchedule')}">
            <a ui-sref="base.weeklyMeetingsPanel.positiveSchedule">Agenda Positiva</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.weeklyMeetingsPanel.statusReport')}">
            <a ui-sref="base.weeklyMeetingsPanel.statusReport">Status Report</a>            
        </li>
    </ul>
    <div class="tab-content">        
        <div ui-view=""></div>
    </div>
</div>
<!-- Fim abas do painel de reuniões semanais-->
