<div growl></div>
<form name="formAnnualMonitorProject" novalidate form-check-changes>
    <fieldset ng-disabled="!canEdit() || screenService.isShowScreen() || !hasReport">

		<!-- Painel com dados do projeto -->
		<div class="tab-content">
		    <project-information nomeEmpresa="projetoTO.nomeEmpresa" nomeProjeto="projetoTO.nomeProjeto" versaoProjeto="projetoTO.versao" estagioAtualProjeto="estagioProjeto.descricao" situacaoProjeto="situacaoProjeto.descricao"></project-information>
		</div>

        <div class="page-header">
		<h4 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-briefcase page-header-icon"></i>&nbsp;&nbsp;Relatório de Acompanhamento</h4>
		</div>

		<!-- Seção relatórios anteriores -->
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Relatórios Anteriores</span>
			</div>
			<div class="panel-body" ng-controller="CompleteReportAnnualMonitoringCtrl">
				<!-- Grid de relatorios anteriores -->
	            <ng-grid-activities data-model="relatorioAcompanhamentoList" small="true" column-defs="columnDefs" selected-items="selectedItems" grid-scope="gridScope" grid-type="gridType" sort-info="sortInfo"></ng-grid-activities>
			</div>
		</div>

		<!-- Seção cronograma -->
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Cronograma</span>
			</div>
			<!-- Grid de cronograma -->
			<div class="panel-body" ng-controller="SchedulerGridCtrl">
               <ng-grid-custom data-model="schedulerList" small="true" column-defs="schedulerColumnDefs" selected-items="schedulerSelectedItems" buttons-config="schedulerButtonsConfig" grid-scope="gridScope"></ng-grid-custom>
			</div>
		</div>

		<!-- Seção compromissos assumidos no protocolo -->
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Realização dos Compromissos Assumidos no Protocolo</span>
			</div>

			<!-- Grid de investimentos -->
			<div class="panel-body" ng-controller="InvestmentsGridCtrl">
               <ng-grid-custom data-model="investmentsList" small="true" column-defs="investmentsColumnDefs" selected-items="investmentsSelectedItems" buttons-config="investmentsButtonsConfig" grid-scope="gridScope" sort-info="sortInfo" disable-footer="disableFooter"></ng-grid-custom>

                <!-- Início footer com totais -->
                <div class="col-sm-12 grid-footer clearfix">
                    <div class="form-group no-margin-hr text-left">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <strong>TOTAL</strong>
                            </div>
                            <div class="col-sm-3 text-left">
                                <strong>{{totalInvestimentoPrevisto | currency: ''}}</strong>
                            </div>
                            <div class="col-sm-3 text-left">
                                <strong>{{totalInvestimentoRealizado | currency: ''}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim footer com totais -->
			</div>

			<!-- Grid de faturamentos -->
			<div class="panel-body" ng-controller="BillingsGridCtrl">
               <ng-grid-custom data-model="billingsList" small="true" column-defs="billingsColumnDefs" selected-items="billingsSelectedItems" buttons-config="billingsButtonsConfig" grid-scope="gridScope" sort-info="sortInfo" disable-footer="disableFooter"></ng-grid-custom>

                <!-- Início footer com totais -->
                <div class="col-sm-12 grid-footer clearfix">
                    <div class="form-group no-margin-hr text-left">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <strong>TOTAL</strong>
                            </div>
                            <div class="col-sm-3 text-left">
                                <strong>{{totalFaturamentoPrevisto | currency: ''}}</strong>
                            </div>
                            <div class="col-sm-3 text-left">
                                <strong>{{totalFaturamentoRealizado | currency: ''}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim footer com totais -->
			</div>

			<!-- Grid de empregos -->
			<div class="panel-body" ng-controller="JobsGridCtrl">
               <ng-grid-custom data-model="jobsList" small="true" column-defs="jobsColumnDefs" selected-items="jobsSelectedItems" buttons-config="jobsButtonsConfig" grid-scope="gridScope" sort-info="sortInfo" disable-footer="disableFooter"></ng-grid-custom>

                <!-- Início footer com totais -->
                <div class="col-sm-12 grid-footer clearfix">
                    <div class="form-group no-margin-hr text-left">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <strong>TOTAL</strong>
                            </div>
                            <div class="col-sm-3 text-left">
                                <strong>{{totalEmpregoPrevisto}}</strong>
                            </div>
                            <div class="col-sm-3 text-left">
                                <strong>{{totalEmpregoRealizado}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim footer com totais -->
			</div>

		</div>

		<!-- Seção de observações -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Observação</span>
                 <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.hints.highlight.project.changes' | translate }}"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="observationsTextArea" translate="common.observations"></label>
                        <textarea class="form-control" id="observationsTextArea" name="observationsTextArea" ng-model="relatorio.relatorioAcompanhamento.observacao" placeholder="{{ 'common.observations' | translate }}" maxlength="10000"  rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

		<!-- Seção de Responsável pelo Preenchimento deste Relatório -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Responsável pelo Preenchimento deste Relatório</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Responsável</label>
                            <input name="ResposibleInput" id="ResposibleInput" type="text" ng-model="relatorio.relatorioAcompanhamento.nomeResponsavelRelatorio" class="form-control" maxlength="100">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Telefone</label>
                            <input name="phoneInput" id="phoneInput" type="phone" ng-model="relatorio.relatorioAcompanhamento.telefoneResponsavelRelatorio" class="form-control" maxlength="18">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">E-mail</label>
                            <input name="emailInput" id="emailInput" type="email" ng-model="relatorio.relatorioAcompanhamento.emailResponsavelRelatorio" class="form-control" maxlength="255">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seção de Arquivos Anexados  -->
        <div class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="FilesGridCtrl as FilesCtrl">
            <div class="panel-heading">
                <span class="panel-title" translate="common.attached.files"></span>
            </div>
            <div class="grid-header">
                <button id="attachFileButton" type="file" class="btn btn-primary btn-labeled" flow-btn>
                    <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                    <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                </button>
            </div>
            <file-uploader flow-drop data-model="files" column-defs="filesColumnDefs" selected-items="filesSelectedFiles"></file-uploader>
        </div>

		<!-- Seção de Confiabilidade das Informações -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Confiabilidade das Informações</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label" for="observationsTextArea">Termo de Confiabilidade das Informações</label>
                        <textarea class="form-control" id="termsTextArea" name="termsTextArea" ng-disabled="true" rows="3">Declaro, sob as penas da lei, que as informações, que nesta oportunidade transmito ao Instituto de Desenvolvimento Integrado de Minas Gerais – INDI, referentes a acompanhamento de compromissos assumidos em protocolo de intenções, são verdadeiras.</textarea>
                    </div>
                    <div class="col-sm-4">
                    	<label class="control-label"></label>
                    	<div class="radio">
                    		<label>
                    			<input type="radio" name="acceptRadio" id="acceptRadio" ng-model="relatorio.relatorioAcompanhamento.aceiteTermo" ng-value="true">
                    			<span class="lbl">Eu aceito o termo ao lado</span>
                    		</label>
                    	</div>
                    	<div class="radio">
                    		<label>
                    			<input type="radio" name="acceptRadio" id="acceptRadio" ng-model="relatorio.relatorioAcompanhamento.aceiteTermo" ng-value="false">
                    			<span class="lbl">Não aceito</span>
                    		</label>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
	</fieldset>

	<!-- Seção de Responsável pelas Informações -->
    <responsible-for-information usuario="relatorio.relatorioAcompanhamento.usuarioResponsavel.nome" data="relatorio.relatorioAcompanhamento.dataUltimaAlteracao"></responsible-for-information>
</form>

<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="saveButton" ng-click="save()" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && (isUsuarioExternoResponsavel() || isResponsavelPeloInvestimento())" ng-disabled="isValidado() || !relatorio.relatorioAcompanhamento.aceiteTermo">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="validateButton" class="btn btn-labeled btn-warning" ng-if="!screenService.isShowScreen() && (!isExternalUser && isPendenteValidacao() && isResponsavelPeloInvestimento())" ng-click="validate()">
            <span class="btn-label icon fa fa-thumbs-o-up"></span>{{'common.validate' | translate}}
        </button>
        <button id="printButton" ng-click="print()" class="btn btn-labeled btn-info">
            <span class="btn-label icon fa fa-print"></span>{{'common.print' | translate}}
        </button>
        <button id="cancelButton" ng-click="screenService.cancelar('base.projectSearch', formAnnualMonitorProject)" class="btn btn-labeled btn-danger" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" onclick="window.history.back()" ng-if="screenService.isShowScreen() || isAnalistaInfra()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->




