<div growl></div>
<form name="formMonitorProject" novalidate form-check-changes>
    <fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || disableGrid()">
        <project-information nomeEmpresa="acompanhamento.projeto.nomeEmpresa" nomeProjeto="acompanhamento.projeto.nomeProjeto" versaoProjeto="acompanhamento.projeto.versao" estagioAtualProjeto="acompanhamento.projeto.estagioDescricao" situacaoProjeto="acompanhamento.projeto.situacaoDescricao"></project-information>
        <div class="row">
            <h4 class="col-xs-10 col-sm-4 text-center text-left-sm"><i class="fa fa-clock-o page-header-icon"></i>&nbsp;&nbsp;Cronograma</h4>
        </div>
        <!-- <div class="row"> -->
            <div class="table-responsive">
                <table class="table table-bordered table-gpi" style="border-bottom:0">
                    <thead>
                        <tr>
                            <th class="text-center" data-title="'Estágio'">Estágio</th>
                            <th class="text-center" data-title="'Início Previsto'">Início Previsto</th>
                            <th class="text-center" data-title="'Realizado'">Realizado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-class="{yellowRow: isCI()}">
                            <td>Início de Projeto (IP)</td>
                            <td></td>
                            <td>{{acompanhamento.cronograma.inicioProjetoRealizado | dateTransformFilter}}</td>
                        </tr>
                        <tr class="text-center" ng-class="{yellowRow: isPP()}">
                            <td>Projeto Promissor (PP)</td>
                            <td></td>
                            <td>{{acompanhamento.cronograma.projetoPromissorRealizado | dateTransformFilter}}</td>
                        </tr>
                        <tr class="text-center" ng-class="{yellowRow: isDF()}">
                            <td>Decisão Formalizada (DF)</td>
                            <td>{{acompanhamento.cronograma.dfPrevisto | dateTransformFilter}}</td>
                            <td>{{acompanhamento.cronograma.dfRealizado | dateTransformFilter}}</td>
                        </tr>
                        <tr class="text-center" ng-class="{yellowRow: isII()}">
                            <td>Implantação Iniciada (II)</td>
                            <td>{{acompanhamento.cronograma.inicioImplantacaoPrevisto | dateTransformFilter}}</td>
                            <td>{{acompanhamento.cronograma.inicioImplantacaoRealizado | dateTransformFilter}}</td>
                        </tr>
                        <tr class="text-center" ng-class="{yellowRow: isOI()}">
                            <td>Operação Iniciada (OI)</td>
                            <td>{{acompanhamento.cronograma.inicioOperacaoPrevisto | dateTransformFilter}}</td>
                            <td>{{acompanhamento.cronograma.inicioOperacaoRealizado | dateTransformFilter}}</td>
                        </tr>
                        <tr class="text-center" ng-class="{yellowRow: isCC()}">
                            <td>Compromisso Cumprido (CC)</td>
                            <td></td>
                            <td>{{acompanhamento.cronograma.compromissoRealizado | dateTransformFilter}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- </div> -->
        <!-- Tabela Histórico Status  -->
        <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0">
            <tbody>
                <tr class="text-center" ng-repeat="situacao in acompanhamento.projeto.situacoesProjeto">
                    <td ng-class="{yellowRow: true}" data-title="'Status'">{{situacao.situacaoDescricao}}</td>
                    <td data-title="'Data'">
                        {{situacao.dataSituacao | dateTransformFilter}}
                    </td>
                    <td data-title="'Justificativa'">
                        {{situacao.justificativa != null? situacao.justificativa : " - "}}
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Início Grid Atividades -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title">Atividades</span>
            </div>
            <div class="grid-header">
                <button id="addActivity" type="file" class="btn btn-primary btn-labeled" ng-click="gridScope.addActivity()">
                    <span class="btn-label icon fa fa-paperclip"></span>Nova Atividade</button>
            </div>
            <ng-grid-activities data-model="acompanhamento.atividades" column-defs="columnDefs" selected-items="selectedItems" has-all="{{true}}" grid-scope="gridScope" delete-service-path="deleteServicePath" save-service-path="saveServicePath" grid-type="gridType"></ng-grid-activities>
        </div>
        <!-- Fim Grid Atividades -->
        <!-- Responsável pelas Informações -->
        <responsible-for-information usuario="acompanhamento.projeto.usuarioResponsavel.nome" data="acompanhamento.projeto.dataUltimaAlteracao"></responsible-for-information>
    </fieldset>
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.projectSearch">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
        </div>
    </div>
</form>
