    <div growl></div>
<fieldset ng-disabled="screenService.isShowScreen() || isAnalistaInfra() || !canEditProject()">
    <form id="formProject" name="formProject" class="form-horizontal" novalidate form-check-changes>
        <!-- Início Dados da Empresa -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="company.data"></span>
            </div>
            <div class="panel-body">
                <!-- Início Nome da empresa -->
                <div ng-if="!screenService.isNewScreen()">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label">{{ 'company.name' | translate }}</label>
                            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.company.data.name' | translate }}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a id="openCompanyOrUnitLink" href="" ng-click="openCompanyOrUnit()">{{projeto.empresaUnidadeDTO.nomePrincipal}}</a>
                        </div>
                    </div>
                </div>
                <!-- Fim Nome da empresa -->

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="companyInput">{{ 'common.company' | translate }} *
                                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'project.tooltip.company' | translate }}"></span>
                            </label>

                            <div ng-class="{'has-error': checkValidation(formProject.companyInput)}">
                                <input type="text" id="companyInput" name="companyInput" class="form-control" placeholder="{{ 'common.company' | translate }}" typeahead-on-select="empresaSelected($item)" ng-model="empresaUnidadeSelecionadaTxt" typeahead="empresa.nomeExibicao for empresa in updateCompanies($viewValue) | filter:$viewValue" typeahead-min-length="3" />

                                <div ng-if="checkValidation(formProject.companyInput)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr no-label">
                            <button id="newCompanyButton" class="btn btn-labeled btn-info" ng-click="addCompany()">
                                <span class="btn-label icon fa fa-plus-circle"></span>{{'company.new' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="companyOrUnitInput">{{'project.company.unit' | translate}} *</label>
                            <div ng-class="{'has-error': checkValidation(formProject.companyOrUnitInput)}">

                                <input type="text" id="companyOrUnitInput" name="companyOrUnitInput" placeholder="{{ 'project.company.unit' | translate}}" ng-model="projeto.empresaUnidadeDTO.nomeExibicao" class="form-control" maxlength="200" ng-disabled="true" required>
                                <div ng-if="checkValidation(formProject.companyOrUnitInput)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Fim Dados da Empresa -->

        <!-- Início Dados do Projeto -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="project.data"></span>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="projectNameInput">{{ 'project.name' | translate }} *</label>

                            <div ng-class="{'has-error': checkValidation(formProject.projectNameInput)}">
                                <input type="text" id="projectNameInput" name="projectNameInput" ng-model="projeto.nome" class="form-control" placeholder="{{ 'project.name' | translate }}" maxlength="200" required>
                                <div ng-if="checkValidation(formProject.projectNameInput)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="shortDescriptionTextArea">{{ 'common.short.description' | translate }} *</label>

                            <div ng-class="{'has-error': checkValidation(formProject.shortDescriptionTextArea)}">
                                <textarea class="form-control" id="shortDescriptionTextArea" name="shortDescriptionTextArea" ng-model="projeto.descricao" placeholder="{{ 'common.short.description' | translate }}" maxlength="4000" required></textarea>
                                <div ng-if="checkValidation(formProject.shortDescriptionTextArea)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.stage" for="stageInput"></label>
                            <input type="text" id="stageInput" name="stageInput" ng-model="projeto.estagio" class="form-control" placeholder="{{ 'common.stage' | translate }}" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.situation" for="situationSelect"></label>
                            <select id="situationSelect" name="situationSelect" ng-model="projeto.situacao" ng-change="situationChanged()" class="form-control" ng-options="sit.id as sit.descricao for sit in situacoes">
                                <option value="" translate="common.select"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="project.active.prospecting" for="activeProspectingSelect"></label>
                            <select id="activeProspectingSelect" name="activeProspectingSelect" ng-model="prospeccaoAtiva" class="form-control">
                                <option value="false" translate="common.no"></option>
                                <option value="true" translate="common.yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.type" for="typeSelect"></label>
                            <select id="typeSelect" name="typeSelect" ng-model="projeto.tipo" class="form-control">
                                <option value="" translate="common.select"></option>
                                <option value="1">Expansão</option>
                                <option value="2">Novo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="showJustificative()">
                    <div class="col-sm-12">
                        <div ng-class="{'has-error': checkValidation(formProject.situationJustificative)}">
                            <textarea ng-disabled="disableJustificative" class="form-control" id="situationJustificative" name="situationJustificative" ng-model="projeto.justificativa" placeholder="{{'common.justificative' | translate }}" maxlength="4000" required></textarea>
                            <div ng-if="checkValidation(formProject.situationJustificative)" class="help-block">{{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="productiveChainSelect">{{'common.productive.chain' | translate}} *</label>

                            <div ng-class="{'has-error': checkValidation(formProject.productiveChainSelect)}">
                                <select id="productiveChainSelect" name="productiveChainSelect" ng-model="projeto.cadeiaProdutiva.id" class="form-control" ng-options="pc.id as pc.descricao for pc in cadeiasProdutivas" required>
                                    <option value="" translate="common.select"></option>
                                </select>
                                <div ng-if="checkValidation(formProject.productiveChainSelect)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label class="control-label" for="projectRecordDateInput">{{'project.record.date' | translate}} *</label>

                        <datepicker-custom id="projectRecordDatepicker" date="projeto.dataCadastro" ng-disabled = "true" configs="configsDatepickerProject" form-submitted="formSubmitted"></datepicker-custom>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="project.responsible.for.investiment" for="responsibleForInvestimentSelect"></label>
                            <select id="responsibleForInvestimentSelect" name="responsibleForInvestimentSelect" ng-model="projeto.usuarioInvestimento.id" ng-options="usuario.id as usuario.nome for usuario in usuarios" class="form-control" ng-disabled="disableResponsavelInvestimento()">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="firstContactInformationTextArea">{{ 'project.first.contact.information' | translate }} *</label>

                            <div ng-class="{'has-error': checkValidation(formProject.firstContactInformationTextArea)}">
                                <textarea class="form-control" id="firstContactInformationTextArea" name="firstContactInformationTextArea" ng-model="projeto.informacaoPrimeiroContato" placeholder="{{ 'project.first.contact.information' | translate }}" maxlength="4000" required>
                                </textarea>
                                <div ng-if="checkValidation(formProject.firstContactInformationTextArea)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Dados do Projeto -->

        <!-- Início Arquivos Anexados -->
        <div class="panel ng-scope" flow-init="{testChunks:false}" ng-controller="ProjectAttachedFilesGridCtrl as attachedFilesCtrl">
            <div class="panel-heading">
                <span class="panel-title" translate="common.attached.files"></span>
            </div>
            <div class="grid-header">
                <button id="attachFileButton" type="file" class="btn btn-success btn-labeled" flow-btn>
                    <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                    <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                </button>
            </div>
            <file-uploader grid-scope="gridScope" flow-drop data-model="projeto.anexos" column-defs="attachedFilesColumnDefs" selected-items="attachedSelectedFiles" sort-info="sortInfo"></file-uploader>
        </div>
        <!-- Fim Arquivos Anexados -->

        <responsible-for-information usuario="projeto.usuarioResponsavel.nome" data="projeto.dataUltimaAlteracao"></responsible-for-information>

</fieldset>
<!-- Início Botoes -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="saveButton" ng-click="submit(formProject.$valid)" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen() && !isAnalistaInfra() && canEditProject()">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar()" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" class="btn btn-labeled btn-danger" ng-click="goBack()" ng-if="screenService.isShowScreen()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
<!-- Fim Botoes -->
</form>
