<div growl></div>

<!-- Início Top Bar -->
<div id="main-navbar" class="navbar navbar-inverse" role="navigation" style="background-color: #B40404">
    <!-- Logo -->
    <a ui-sref="base.home" class="navbar-brand" style="font-size: 20px;">
        <img alt="Versão 1.0" src="images/gpi-mini.png" title="Versão 1.0">
    </a>
    <div class="right clearfix">
        <ul class="nav navbar-nav pull-right right-navbar-nav">
            <li>
                <div class="btn-group idioma">
                    <button type="button" class="btn btn-default" ng-class="{active: langKey === 'pt'}" ng-click="changeLanguage('pt')">PT</button>
                    <button type="button" class="btn btn-default" ng-class="{active: langKey === 'en'}" ng-click="changeLanguage('en')">EN</button>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Fim Top Bar -->

<div id="wrapper" style="padding: 20px;">
    <fieldset>
        <form name="formRequestContact" class="form-horizontal" novalidate form-check-changes>
            <div class="page-header"></div>
            <div class="page-header">
                <div class="row">
                    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-plus page-header-icon"></i> {{'common.requestContact' | translate}}</h1>
                </div>
            </div>
            <!-- Início Informações do Contato -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title" translate="company.contact.information"></span>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'projectInformation.companyName' | translate}} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.companyNameInput)}">
                                    <input type="text" id="companyNameInput" name="companyNameInput" placeholder="{{'projectInformation.companyName' | translate}}" ng-model="solicitarContato.nomePrincipal" class="form-control" maxlength="100" required>
                                    <div ng-if="checkValidation(formRequestContact.companyNameInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>common.cnpj</label>
                                <div ng-class="{'has-error': !isCNPJValid}">
                                    <input type="text" id="cnpjInput" name="cnpjInput" class="form-control" ui-mask="99.999.999/9999-99" ng-model="solicitarContato.cnpj" ng-blur="blurCNPJ()">
                                    <div ng-if="!isCNPJValid" class="help-block">{{'message.error.MSG36_CNPJ_INVÁLIDO' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group no-margin-hr">
                                <div class="row" style="margin-left:3px;">
                                    <label class="control-label">{{ 'company.from.minas' | translate }} *</label>
                                </div>
                                <label class="radio-inline">
                                    <input name="fromMinasRadio" id="fromMinasRadio" type="radio" ng-value="true" ng-model="solicitarContato.empresaMineira" ng-change="loadMunicipios(true)">{{ 'common.yes' | translate }}
                                </label>
                                <label class="radio-inline">
                                    <input name="fromMinasRadio" id="fromMinasRadio" type="radio" ng-value="false" ng-model="solicitarContato.empresaMineira" ng-change="changeEmpresaMineira()">{{ 'common.no' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'common.productive.chain' | translate}} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.productiveChainSelect)}">
                                    <select id="productiveChainSelect" name="productiveChainSelect" ng-model="solicitarContato.cadeiaProdutiva.id" ng-options="cadeia.id as cadeia.descricao for cadeia in cadeiasProdutivas" class="form-control" required>
                                        <option value="" translate>common.select</option>
                                    </select>
                                    <div ng-if="checkValidation(formRequestContact.productiveChainSelect)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5"  ng-if="solicitarContato.empresaMineira">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>company.inscricao.estadual</label>
                                <input type="text" placeholder="{{'company.inscricao.estadual' | translate}}" name="inscricaoEstadualInput" ng-model="solicitarContato.inscricaoEstadual" class="form-control" maxlength="200">
                            </div>
                        </div>

                        <!-- Exibido apenas se a empresa não for mineira -->
                        <div class="col-md-5" ng-if="!solicitarContato.empresaMineira">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'company.company.origin' | translate}} *</label>
                                <div ng-class="{'has-error': !isOriginValid}">
                                    <select id="companyOriginSelect" name="companyOriginSelect" class="form-control" ng-model="origemEmpresa.id" ng-options="origem.id as origem.nome for origem in origensEmpresa" ng-change="changeCompanyOrign()">
                                        <option value="" translate>common.select</option>
                                    </select>
                                    <div ng-if="!isOriginValid" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Somente é exibido se a empresa for internacional -->
                    <div class="row" ng-if="isInternational">
                        <div class="col-md-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'address.country' | translate}} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.countrySelect)}">
                                    <select id="countrySelect" name="countrySelect" ng-model="solicitarContato.endereco.pais.id" ng-options="pais.id as pais.nome for pais in paises" class="form-control" required>
                                        <option value="" translate>common.select</option>
                                    </select>
                                    <div ng-if="checkValidation(formRequestContact.countrySelect)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'address.city' | translate}}</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.cityInput)}">
                                    <input type="text" id="cityInput" name="cityInput" class="form-control" ng-model="solicitarContato.endereco.cidade" placeholder="{{'address.city' | translate}}" maxlength="100">
                                    <div ng-if="checkValidation(formRequestContact.cityInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'common.subject' | translate}} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.subjectInput)}">
                                    <input type="text" id="subjectInput" name="subjectInput" class="form-control" ng-model="solicitarContato.assuntoFaleConosco" placeholder="{{'common.subject' | translate}}" maxlength="150" required>
                                    <div ng-if="checkValidation(formRequestContact.subjectInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">{{'common.date' | translate}} *</label>
                            <datepicker-custom id="datepicker" date="solicitarContato.data" configs="configsDatepicker" form-submitted="formSubmitted"></datepicker-custom>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label" for="descriptionTextArea">{{ 'common.description' | translate }} *</label>
                            <div ng-class="{'has-error': checkValidation(formRequestContact.descriptionTextArea)}">
                                <textarea class="form-control" id="descriptionTextArea" name="descriptionTextArea" ng-model="solicitarContato.descricaoFaleConosco" placeholder="{{ 'common.description' | translate }}" maxlength="1500" required></textarea>
                                <div ng-if="checkValidation(formRequestContact.descriptionTextArea)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Informações do Contato -->

            <!-- Início Informações do Endereço -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title" translate>address.information</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>address.street</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.streetInput)}">
                                    <input type="text" id="streetInput" name="streetInput" class="form-control" placeholder="{{'address.street' | translate}}" ng-required="enderecoObrigatorio" ng-model="solicitarContato.endereco.logradouro" maxlength="250" ng-change="changeEndereco()">
                                    <div ng-if="checkValidation(formRequestContact.streetInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>address.number</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.addressNumberInput)}">
                                    <input type="numeric" id="addressNumberInput" name="addressNumberInput" placeholder="{{'address.number' | translate}}" class="form-control" ng-model="solicitarContato.endereco.numero" maxlength="15" ng-required="enderecoObrigatorio" ng-change="changeEndereco()">
                                    <div ng-if="checkValidation(formRequestContact.addressNumberInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>address.complement</label>
                                <input type="text" id="addressComplementInput" name="addressComplementInput" class="form-control" placeholder="{{'address.complement' | translate}}" ng-model="solicitarContato.endereco.complemento" maxlength="50" ng-change="changeEndereco()">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" ng-if="!isInternational">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>CEP</label>
                                <input type="text" id="cepInput" name="cepInput" class="form-control" ui-mask="99.999-999" ng-model="solicitarContato.endereco.cep" ng-change="changeEndereco()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group no-margin-hr" ng-if="!isInternational">
                                <label class="control-label" translate>address.district</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.addressDistrictInput)}">
                                    <input type="text" id="addressDistrictInput" name="addressDistrictInput" class="form-control" placeholder="{{'address.district' | translate}}" ng-model="solicitarContato.endereco.bairro" maxlength="150" ng-required="enderecoObrigatorio" ng-change="changeEndereco()">
                                    <div ng-if="checkValidation(formRequestContact.addressDistrictInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group no-margin-hr" ng-if="!isInternational">
                                <label class="control-label" translate>location.city</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.addressCountrySelect)}">
                                    <select id="addressCountrySelect" name="addressCountrySelect" class="form-control" ng-model="solicitarContato.endereco.municipio.id" ng-options="municipio.id as municipio.nome for municipio in municipios" ng-change="changeEndereco()" ng-required="enderecoObrigatorio">
                                        <option value="" translate>common.select</option>
                                    </select>
                                    <div ng-if="checkValidation(formRequestContact.addressCountrySelect)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Fim Informações do Endereço -->

            <!-- Início Informações do Responsável pelo Contato -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title" translate>common.responsibleForContactInfo</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'common.name' | translate}} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.nameInput)}">
                                    <input type="text" class="form-control" id="nameInput" name="nameInput" ng-model="solicitarContato.responsavel.nome" placeholder="{{ 'common.name' | translate }}" maxlength="100" required>
                                    <div ng-if="checkValidation(formRequestContact.nameInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{'common.job.title' | translate}} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.jobTitleInput)}">
                                    <input type="text" class="form-control" id="jobTitleInput" name="jobTitleInput" ng-model="solicitarContato.responsavel.cargoExterno" placeholder="{{ 'common.job.title' | translate }}" maxlength="100" required>
                                    <div ng-if="checkValidation(formRequestContact.jobTitleInput)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.phone1' | translate }} *</label>
                                <div ng-class="{'has-error': checkValidation(formRequestContact.phone1Input)}">
                                    <input type="phone" class="form-control" id="phone1Input" name="phone1Input" ng-model="solicitarContato.responsavel.telefone" placeholder="{{ 'common.phone1' | translate }}" maxlength="18" required>
                                    <div ng-if="checkValidation(formRequestContact.phone1Input)" class="help-block">{{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>common.phone2</label>
                                <input type="phone" class="form-control" id="phone2Input" maxlength="18" name="phone2Input" ng-model="solicitarContato.responsavel.telefone2" placeholder="{{ 'common.phone2' | translate }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.email' | translate }} *</label>
                                <div ng-class="{'has-error' : checkValidation(formRequestContact.emailInput)}">
                                    <input id="emailInput" name="emailInput" type="email" class="form-control" placeholder="{{ 'common.email' | translate }}" ng-model="solicitarContato.responsavel.email" maxlength="50" required>
                                    <div class="help-block" ng-if="checkValidation(formRequestContact.emailInput)">
                                        {{ 'message.error.MSG74_FORMATO_INVALIDO' | translate:'{"value": "\'E-Mail\'"}' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.confirmEmail' | translate }} *</label>
                                <div ng-class="{'has-error' : validationEmail(formRequestContact.confirmEmailInput)}">
                                    <input id="confirmEmailInput" name="confirmEmailInput" type="email" class="form-control" placeholder="{{ 'common.confirmEmail' | translate }}" ng-model="solicitarContato.responsavel.confirmarEmail" maxlength="50" required>
                                    <div class="help-block" ng-if="validationEmail(formRequestContact.confirmEmailInput)">
                                        {{ messageConfirmEmail }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Informações do Responsável pelo Contato -->
    </fieldset>
    <!-- Início Botoes -->
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="saveButton" ng-click="save()" class="btn btn-labeled btn-success">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="cancelButton" class="btn btn-labeled btn-danger" ng-click="cancel()">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
            <button id="cleanButton" class="btn btn-labeled btn-secondary" ng-click="clean()">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
    </div>
    <!-- Fim Botoes -->
    </form>
</div>
