<div growl></div>
<div class="page-signin">
    <div id="page-signin-bg">
        <!-- Background overlay -->
        <div class="overlay"></div>
        <!-- Replace this with your bg image -->
        <img src="images/login-bg.jpg" alt="">
    </div>
    <!-- / Page background -->

    <!-- Container -->
    <div class="signin-container">
        <!-- Left side -->
        <div class="signin-info">
            <div class="logo">
                <!--GPI-->
                <img src="images/indi.png" alt="" />
            </div>
            <!-- / Info list -->
        </div>
        <!-- / Left side -->

        <!-- Right side -->
        <div class="signin-form">
            <!-- Form -->
            <form name="formChangePasswordRequest" novalidate ng-submit="submit()">
                <div class="signin-text">
                    <span>Cadastrar Nova Senha</span>
                </div>
                <!-- / .signin-text -->

                <!-- Password -->
                <div class="form-group" ng-class="{'has-error': hasErrors}">
                    <div class="form-group w-icon">
                        <input type="password" name="password" class="form-control input-lg" placeholder="Senha" ng-model="credentials.password" required maxlength="40" ng-change="cleanInputMessages()">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <div ng-if="validationHelper.password" class="help-block">{{validationHelper.password}}</div>
                </div>

                <div class="form-group" ng-class="{'has-error': hasErrors}">
                    <div class="form-group w-icon">
                        <input type="password" name="confirmPassword" class="form-control input-lg" placeholder="Confirme sua senha" ng-model="credentials.confirmPassword" ng-change="cleanInputMessages()" required maxlength="40">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <div ng-if="validationHelper.confirmPassword" class="help-block">{{validationHelper.confirmPassword}}</div>
                </div>
                <!-- / Password -->

                <div class="form-actions btnEnter row">
                    <div class="text-center">
                        <input type="submit" value="CADASTRAR" class="signin-btn bg-primary">
                    </div>
                </div>

                <!-- / .form-actions -->
            </form>
            <!-- / Form -->

            <!-- Login errors -->
            <div class="signin-with bg-danger" ng-if="errorMessage">
                {{errorMessage}}
            </div>
            <!-- / Login errors -->

        </div>
        <!-- Right side -->
    </div>
</div>
<script type="text/javascript">
var $ph = $('#page-signin-bg'),
    $img = $ph.find('> img');

$(window).on('resize', function() {
    $img.attr('style', '');
    if ($img.height() < $ph.height()) {
        $img.css({
            height: '100%',
            width: 'auto'
        });
    }
});
</script>
