<form name="registerUserForm" class="form-horizontal">
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-plus page-header-icon"></i> {{'user.registerPassword' | translate}}</h1>
        </div>
    </div>
    <!-- / .signin-text -->

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group no-margin-hr">
                    <label class="control-label" translate="common.email"></label>
                    <input type="text" ng-disabled="true" id="username" name="username" ng-model="credentials.username" class="form-control" placeholder="E-Mail" maxlength="200">
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group no-margin-hr" ng-class="{'has-error': hasErrors}">
                    <label class="control-label" translate="common.newPassword"></label>
                    <input type="password" id="newPassword" name="newPassword" ng-model="credentials.password" class="form-control" placeholder="Nova Senha" maxlength="200">
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group no-margin-hr" ng-class="{'has-error': hasErrors}">
                    <label class="control-label" translate="common.confirmNewPassword"></label>
                    <input type="password" id="confirmNewPassWord" name="confirmNewPassWord" ng-model="credentials.confirmPassword" class="form-control" placeholder="Confirmação nova senha" maxlength="200">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" >
        <div class="grid-header">
            <input type="button" value="Salvar" class="btn btn-labeled btn-success" ng-click="salvar()">
        </div>
    </div>


    <!-- / .form-actions -->
</form>

    <!-- Login errors -->
    <div class="signin-with bg-danger" ng-if="errorMessage">
        {{errorMessage}}
    </div>
<!-- / Form -->
