<div growl></div>
<div class="page-header">
    <!-- Page header, center on small screens -->
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i> {{'user.find' | translate}}</h1>
</div>
<form name="formUser" class="form-horizontal" novalidate>
	<!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.registration' | translate }}
                            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'common.only.alphanum.allowed' | translate }}"></span>
                        </label>
                        <input name="user-matricula-input" id="user-matricula-input" type="text" ng-model="filtro.matricula" class="form-control" placeholder="{{ 'common.registration' | translate }}" maxlength="15">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.name' | translate }}</label>
                        <input name="user-nome-input" id="user-nome-input" type="text" ng-model="filtro.nome" class="form-control" placeholder="{{ 'common.name' | translate }}" maxlength="50">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.user.group' | translate }}</label>
                        <select name="user-usergroup-select" id="user-usergroup-select" ng-model="filtro.grupoUsuario" class="form-control" ng-options="g.id as g.descricao for g in gruposUsuarios">
                            <option value="">{{ 'common.select' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select name="user-department-input" id="user-department-select" ng-model="filtro.departamento" class="form-control" ng-options="d.id as d.descricao for d in departamentos">
                        	<option value="">{{ 'common.select' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.role' | translate }}</label>
                        <select name="user-role-select" id="user-role-select" type="text" ng-model="filtro.cargo" class="form-control" ng-options="c.id as c.descricao for c in cargos">
                            <option value="">{{ 'common.select' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr text-left">
                        <div class="row">
                            <div class="col-md-10">
                                <label class="control-label">Status</label>
                            </div>
                        </div>
                        <label class="radio-inline">
                            <input name="user-status-radio" id="user-status-radio" type="radio" ng-value="true" ng-model="filtro.ativo">{{ 'common.active' | translate }}
                        </label>

                        <label class="radio-inline">
                            <input name="user-status-radio" id="user-status-radio" type="radio" ng-value="false" ng-model="filtro.ativo">{{ 'common.inactive' | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
			<button id="search-button" ng-click="search(formUser)" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="reset-button" ng-click="reset()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
    </div>
</form>

<!-- Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body" ng-controller="UserGridCtrl">
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="grid-header">
                    <button id="active-button" ng-disabled="disableDeleteFn()" ng-click="preActiveInactive()" class="btn btn-labeled btn-info ng-scope ng-binding">
                        <span class="btn-label icon fa fa-check-circle-o"></span>{{ 'user.activate.inactivate' | translate }}
                    </button>
                    <button id="new-button" ng-disabled="disableNewFn()" ng-click="prepareNewFn()" class="btn btn-labeled btn-info ng-scope ng-binding">
                        <span class="btn-label icon fa fa-plus-circle"></span>{{ 'user.add' | translate }}
                    </button>
                    <button id="edit-button" ng-disabled="disableEditFn()" ng-click="prepareEditFn()" class="btn btn-labeled btn-warning ng-scope ng-binding">
                        <span class="btn-label icon fa fa-edit"></span>{{ 'common.edit' | translate }}
                    </button>
                    <button id="delete-button" ng-disabled="disableDeleteFn()" ng-click="preDelete()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-trash-o"></span>{{ 'common.delete' | translate }}
                    </button>
                </div>

                <ng-grid-custom data-model="usuariosEncontrados" column-defs="usuariosColumnDefs" sort-info="usuariosSortInfo" buttons-config="usuariosButtonsConfig" selected-items="usuariosSelectedItems"></ng-grid-custom>
			</div>
		</div>
    </div>
</div>