<div growl></div>
<div class="page-header">
    <!-- Page header, center on small screens -->
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa {{screenType.icon}} page-header-icon"></i>&nbsp;&nbsp;{{ screenType.titlePath | translate }}</h1>
</div>
<form name="formUser" form-check-changes>
    <!-- Dados do Usuário -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'user.data' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-sm-5">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">
                            {{ 'user.enter.registration' | translate }} *
                            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ 'common.only.alphanum.allowed' | translate }}"></span>
                        </label>
                        <div ng-class="{'has-error' : formHasError(formUser.userRegistrationInput)}">
                            <div class="input-group">
                                <input name="userRegistrationInput" id="user-registration-input" type="text" ng-model="usuario.matricula" class="form-control" ng-disabled="screenType !== type.INCLUIR" maxlength="15" required placeholder="{{ 'user.enter.registration' | translate }}">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search" ng-click="search_LDAP()"></i>
                                </span>
                            </div>
                            <div class="help-block" ng-if="formHasError(formUser.userRegistrationInput)">
                                {{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <label class="control-label"></label>
                    <div class="form-group no-margin-hr">
                        <div style="display:block; float:right">
                            <button class="btn btn-secondary" ng-show="screenType == type.EDITAR" ng-click="search_LDAP()"><i class="glyphicon glyphicon-ok"></i>&nbsp; {{ 'user.update.from.ad' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Informações do AD de usuário -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'user.ad.information' | translate }}</span>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-sm-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.name' | translate }} *</label>
                                <input name="user-name-input" id="user-name-input" type="text" ng-model="usuario.nome" class="form-control" placeholder="{{ 'common.name' | translate }}" maxlength="50" disabled>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.email' | translate }} *</label>
                                <input name="user-email-input" id="user-email-input" type="text" ng-model="usuario.email" class="form-control" placeholder="{{ 'common.email' | translate }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.phone' | translate }} *</label>
                                <input name="user-phone-input" id="user-phone-input" type="text" ng-model="usuario.telefone" class="form-control" placeholder="{{ 'common.phone' | translate }}" disabled>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.role' | translate }} *</label>
                                <input name="user-role-input" id="user-role-input" type="text" ng-model="usuario.cargo.descricao" class="form-control" placeholder="{{ 'common.role' | translate }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Informações do AD de usuário -->

            <fieldset ng-disabled="disabled">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Status *</label>
                            <br>
                            <input name="user-status-radio" id="user-status-radio" type="radio" class="px" value="true" ng-model="usuario.ativo" ng-checked="screenType == type.INCLUIR || usuario.ativo">
                            <span class="lbl">{{ 'common.active' | translate }}</span>
                            <input name="user-status-radio" id="user-status-radio" type="radio" class="px" value="false" ng-model="usuario.ativo" ng-checked="usuario.ativo == false">
                            <span class="lbl">{{ 'common.inactive' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <div ng-class="{'has-error': formHasError(formUser.userDepartmentSelect)}">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.manage' | translate }}</label>
                                <select name="userDepartmentSelect" id="userDepartmentSelect" ng-model="usuario.departamento.id" class="form-control" ng-options="d.id as d.descricao for d in departamentos" required>
                                    <option value="">{{ 'common.select' | translate }}</option>
                                </select>
                            </div>
                            <div class="help-block" ng-if="formHasError(formUser.userDepartmentSelect)">
                                {{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div ng-class="{'has-error': formHasError(formUser.userRoleSelect)}">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'common.role' | translate }}</label>
                                <select name="userRoleSelect" id="userRoleSelect" type="text" ng-model="usuario.role.id" class="form-control" ng-options="g.id as g.descricao for g in gruposUsuarios" required>
                                    <option value="">{{ 'common.select' | translate }}</option>
                                </select>
                            </div>
                            <div class="help-block" ng-if="formHasError(formUser.userRoleSelect)">
                                {{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row form-group no-margin-hr">
                    <div controller="MultiselectCtrl" class="col-sm-12">
                        <div ng-class="{'has-error' : formHasError(formUser.userDepartmentSelect)}">
                            <multi-select id="userDepartmentSelect" name="userDepartmentSelect" ng-model="usuario.departamentos" available="departamentos" selected-label="{{ 'common.selected' | translate }}" available-label="{{ 'common.department' | translate }}*" display-attr="descricao" required></multi-select>
                            <div class="help-block" ng-if="formHasError(formUser.userDepartmentSelect)">
                                {{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group no-margin-hr">
                    <div controller="MultiselectCtrl" class="col-sm-12">
                        <div ng-class="{'has-error' : formHasError(formUser.userGroupSelect)}">
                            <multi-select id="userGroupSelect" name="userGroupSelect" ng-model="usuario.roles" available="gruposUsuarios" selected-label="{{ 'common.selected' | translate }}" available-label="{{ 'common.user.group' | translate }}*" display-attr="descricao" required></multi-select>
                            <div class="help-block" ng-if="formHasError(formUser.userGroupSelect)">{{'common.field.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div> -->
            </fieldset>
        </div>
    </div>
    <!-- Fim Dados do Usuário -->
</form>

<!-- Responsavel pelas informações -->
<responsible-for-information usuario="usuario.usuarioResponsavel.nome" data="usuario.dataUltimaAlteracao"></responsible-for-information>

<!-- Botões -->
<div class="panel ng-scope">
    <div class="panel-footer text-right">
        <button id="save-button" ng-click="save(formUser.$valid)" class="btn btn-labeled btn-success" ng-if="!disabled">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="cancel-button" ng-click="screenService.cancelar('base.userSearch', formUser)" class="btn btn-labeled btn-danger" ng-if="!disabled">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" class="btn btn-labeled btn-danger ng-scope ng-binding" ui-sref="base.userSearch" ng-if="disabled">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
</div>
