<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{ 'address.information' | translate }}</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'address.country' | translate }}</label>
                    <select name="address-country-select" id="address-country-select" ng-model="endereco.pais" class="form-control form-group-margin" ng-options="pais.nome for pais in paises track by pais.id">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- spans desta div são exibidos condicionalmente, dependendo de qual pais é selecionado. -->
                <div class="form-group no-margin-hr">

                    <!-- SPAN estados do Brasil -->
                    <span class="estados-brasil-span" ng-if="isEnderecoBrasil()">
                        <label class="control-label">{{ 'address.state' | translate }}</label>
                        <select name="address-state-select" id="address-state-select" ng-change="loadMunicipios()" ng-model="endereco.uf" class="form-control form-group-margin" ng-options="uf.nome for uf in ufs track by uf.id">
                            <option value="">Selecione</option>
                        </select>
                    </span>

                    <!-- SPAN cidades do exterior -->
                    <span class="cidade-exterior-span" ng-if="!isEnderecoBrasil()">
                        <label class="control-labe  l">{{ 'address.city' | translate }}</label>
                        <input name="address-city-input" id="address-city-input" ng-model="endereco.cidade" type="text" class="form-control" placeholder="{{ 'address.city' | translate }}" maxlength="100">
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'address.street' | translate }}</label>
                    <input name="address-streetname-input" id="address-streetname-input" ng-model="endereco.logradouro" type="text" class="form-control" placeholder="{{ 'address.street' | translate }}" maxlength="250">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'address.number' | translate }}</label>
                    <input name="address-number-input" id="address-number-input" ng-model="endereco.numero" type="numeric" class="form-control" placeholder="{{ 'address.number' | translate }}" maxlength="15">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'address.complement' | translate }}</label>
                    <input name="address-complement-input" id="address-complement-input" ng-model="endereco.complemento" type="text" class="form-control" placeholder="{{ 'address.complement' | translate }}" maxlength="50">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'address.zipcode' | translate }}</label>
                    <input name="address-cep-input" id="address-cep-input" ng-model="endereco.cep" ng-model="cep" ui-mask="{{'99999-999'}}" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">{{ 'address.district' | translate }}</label>
                    <input name="address-district-input" id="address-district-input" ng-model="endereco.bairro" type="text" class="form-control" placeholder="{{ 'address.district' | translate }}" maxlength="150">
                </div>
            </div>

            <!-- Exibido apenas se o pais selecionado for Brasil -->
            <div class="col-sm-6">
                <div class="form-group no-margin-hr">
                    <span class="estados-brasil-span" ng-if="isEnderecoBrasil()">
                        <label class="control-label">{{ 'address.county' | translate }}</label>
                        <select name="address-municipio-select" id="address-municipio-select" ng-model="endereco.municipio" class="form-control form-group-margin" ng-options="municipio.nome for municipio in municipiosEncontrados track by municipio.id">
                            <option value="">Selecione</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>