<div growl></div>
<div class="page-header">
    <!-- Page header, center on small screens -->
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i> {{'satisfactionSurvey.find' | translate}}</h1>
</div>

<!-- Grid da Consulta -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body" ng-controller="SatisfactionSurveyGridCtrl">
        <div class="row form-group">
            <div class="col-sm-12">
                <ng-grid-custom data-model="pesquisaSatisfacaoList" column-defs="pesquisaSatisfacaoColumnDefs" sort-info="pesquisaSatisfacaoSortInfo" buttons-config="pesquisaSatisfacaoButtonsConfig" selected-items="pesquisaSatisfacaoSelectedItems" grid-scope="gridScope"></ng-grid-custom>
			</div>
		</div>
    </div>
</div>