<div class="page-header">

    <div class="row">

    </div>
</div>
<!-- / .page-header -->

<div id="mainPage">
    <img id="logoCentro" src="images/indi-color.png" width="146" height="49" style="margin-left: 41%;">
</div>