.multiSelect {
    overflow: auto;
}
.multiSelect .select {
    margin-right: 20px;
    float: left;
}
.multiSelect .text {
    clear: both;
    font-size: 11px;
}
.multiSelect label::after {
    content: ":";
}
.btn.mover {
    display: block;
    margin-top: 40px;
    vertical-align: top;
}
.btn.mover.right {
    padding: 3px 8px 2px 6px;
}
.btn.mover.left {
    margin-top: 10px;
    padding: 3px 7px 2px;
}
.btn.mover i {
    margin: 0px;
}

