<div class="row">  
  <div class="col-sm-5">
    <label class="control-label" for="multiSelectAvailable">{{ availableLabel }} ({{ available.length ? available.length : 0 }})</label>
    <select id="multiSelectAvailable" name="multiSelectAvailable" ng-model="selected.available" multiple ng-options="e as e[displayAttr] for e in available" class="form-control"></select>
  </div>
  <div class="col-sm-1">
    <button class="btn mover right" ng-click="add()" title="Add selected" ng-disabled="selected.available.length == 0">
      <i class="fa fa-arrow-circle-right"></i>
    </button>
    <button class="btn mover left" ng-click="remove()" title="Remove selected" ng-disabled="selected.current.length == 0">
      <i class="fa fa-arrow-circle-left"></i>
    </button>
  </div>
  <div class="col-sm-5">
    <label class="control-label" for="multiSelectSelected">{{ selectedLabel }} ({{ model.length ? model.length : 0; }})</label>
    <select id="currentRoles" name="currentRoles" ng-model="selected.current" multiple class="pull-left form-control" ng-options="e as e[displayAttr] for e in model"></select>
  </div>
</div>