<div ng-show="message.error" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Erro: </strong>
    {{ message.error | translate }}    
</div>
<div ng-show="message.success" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Sucesso: </strong>
    {{ message.succes | translate }}    
</div>
<div ng-show="message.info" class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">x</button>    
    <strong>Informativo: </strong>
    {{ message.info | translate }}    
</div>