<div growl></div>
<!-- Início Fieldset da página inteira -->
    <form id="formContactInformation" name="formContactInformation" class="form-horizontal" novalidate form-check-changes>
        <fieldset ng-disabled="screenService.isShowScreen() || showContactForm || isExternalUser">
        <!-- Início panel Contatos cadastrados -->
        <div class="panel ng-scope">
            <div class="panel-heading">
                <span class="panel-title" translate="company.registered.contacts"></span>
            </div>

            <!-- GRID -->

            <div class="panel-body">
                <div class="grid-header">
                    <button id="new-button" ng-disabled="disableNewFn()" ng-click="prepareCreateContact()" class="btn btn-labeled btn-info ng-scope ng-binding">
                        <span class="btn-label icon fa fa-plus-circle"></span>{{ 'contact.new' | translate }}
                    </button>
                    <button id="edit-button" ng-disabled="disableEditFn()" ng-click="prepareEditContact()" class="btn btn-labeled btn-warning ng-scope ng-binding">
                        <span class="btn-label icon fa fa-edit"></span>{{ 'common.edit' | translate }}
                    </button>
                    <button id="delete-button" ng-disabled="disableDeleteFn()" ng-click="deleteContact()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-trash-o"></span>{{ 'common.delete' | translate }}
                    </button>
                </div>

                <ng-grid-custom data-model="informacoesContato" small="true" column-defs="registeredContactsColumnDefs" selected-items="contactsSelectedItems" sort-info="sortInfo" buttons-config="buttonsConfig" injection-functions="contactGridFunctions" ng-controller="ContactInformationGridCtrl" grid-scope="gridScope"></ng-grid-custom>
            </div>
        </div>
        <!-- Fim panel Contatos cadastrados -->
        </fieldset>

        <!-- Início Seção que será inicialmente escondida -->
        <div id="contactFormDiv" ng-if="showContactForm">
            <fieldset ng-disabled="disableContactFormDiv">
                <div>
                    <!-- Início panel Informações do contato -->
                    <div class="panel ng-scope">
                        <div class="panel-heading">
                            <span class="panel-title" translate="company.contact.information"></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label" for="contactTypeSelect">{{ 'common.contact.relationship.type' | translate }} *</label>
                                        <div ng-class="{'has-error': checkValidation(formContactInformation.contactTypeSelect)}">
                                            <select id="contactTypeSelect" name="contactTypeSelect" ng-model="contato.tipoContato" class="form-control" ng-options="tipo.id as tipo.descricao for tipo in TIPO_CONTATOS" required>
                                                <option value="" translate="common.select"></option>
                                            </select>
                                            <div ng-if="checkValidation(formContactInformation.contactTypeSelect)" class="help-block">{{'common.field.required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label" for="subjectInput">{{ 'common.subject' | translate }} *</label>
                                        <div ng-class="{'has-error': checkValidation(formContactInformation.subjectInput)}">
                                            <input type="text" id="subjectInput" name="subjectInput" ng-model="contato.assunto" class="form-control" placeholder="{{ 'common.subject' | translate }}" maxlength="150" enabled="false" required>
                                            <div ng-if="checkValidation(formContactInformation.subjectInput)" class="help-block">{{'common.field.required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label" for="dateInput">{{ 'common.date' | translate }} *</label>
                                        <datepicker-custom id="contactInformationDatepicker" date="contato.dataEfetivado" configs="configs" form-submitted="formSubmitted"></datepicker-custom>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label" for="descriptionTextArea">{{ 'common.description' | translate }} *</label>
                                        <div ng-class="{'has-error': checkValidation(formContactInformation.descriptionTextArea)}">
                                            <textarea class="form-control" rows="6" id="descriptionTextArea" name="descriptionTextArea" ng-model="contato.descricao" placeholder="{{ 'common.description' | translate }}" maxlength="4000" required></textarea>
                                            <div ng-if="checkValidation(formContactInformation.descriptionTextArea)" class="help-block">{{'common.field.required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim panel Informações do contato -->

                    <!-- Início Arquivos Anexados -->
                    <div class="panel ng-scope" flow-init="{testChunks:false}"  ng-controller="ContactAttachedFilesGridCtrl">
                        <div class="panel-heading">
                            <span class="panel-title" translate="common.attached.files"></span>
                        </div>
                        <div class="grid-header">
                            <button id="attachFileButton" type="file" class="btn btn-success btn-labeled" flow-btn>
                                <span class="btn-label icon fa fa-paperclip"></span>{{'common.attach.file' | translate}}</button>
                            <button id="deleteAttachedButton" class="btn btn-labeled btn-danger" ng-click="preDeleteFile()" ng-disabled="disableFn()">
                                <span class="btn-label icon fa fa-trash-o"></span>{{'common.delete' | translate}}
                            </button>
                        </div>
                        <file-uploader grid-scope="gridScope" flow-drop data-model="anexos" column-defs="attachedFilesColumnDefs" selected-items="attachedSelectedFiles"></file-uploader>
                    </div>
                    <!-- Fim Arquivos Anexados -->

                    <responsible-for-information usuario="contato.usuarioResponsavel.nome" data="contato.dataUltimaAlteracao"></responsible-for-information>
                </div>
            </fieldset>

<!-- Início Botoes -->
<div class="panel ng-scope" ng-if="contactInformationsVisible">
    <div class="panel-footer text-right">
        <button id="saveButton" ng-click="save(formContactInformation.$valid)" class="btn btn-labeled btn-success" ng-if="!disableContactFormDiv">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="cancelButton" type="reset" class="btn btn-labeled btn-danger" ng-click="cancel()" ng-if="!disableContactFormDiv">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>
        <button id="backButton" ng-click="closeForm()" class="btn btn-labeled btn-danger" ng-if="disableContactFormDiv">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>

    </div>
</div>
<!-- Fim Botoes -->
</div>

<!-- Fim Seção que será inicialmente escondida -->
</form>
