<div growl></div>
<form name="companyForm" novalidate form-check-changes>
    <fieldset ng-disabled="screenService.isShowScreen()">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title" translate>company.data</span>
            </div>
            <!--panel-body-->
            <div class="panel-body">
                <!-- <div class="row"> -->
                <!--panel-->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title" translate>company.logo.image</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div flow-init="{testChunks:false}" flow-file-success="$growl.success('Upload realizado!');" ng-controller="PersistCompanyCtrl">
                                <div class="col-md-5">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label" translate>company.logo.upload</label>
                                        <input id="logo-upload-input" flow-drop class="form-control" type="text" name="logo-upload-input" ng-model="flow.files[0].name" placeholder="{{'file.no.file.selected' | translate}}">
                                        <p class="help-block text-sm">
                                            {{'file.only.files.allowed' | translate}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 no-label">
                                    <button id="choose-file-id" class="btn btn-labeled btn-info" flow-btn="">
                                        <span class="btn-label icon fa fa-paperclip">
                                            <input type="file" class="ng-hide">
                                        </span>{{'common.choose.file' | translate}}
                                    </button>

                                    <button id="cancel-file-id" class="btn btn-labeled btn-danger" ng-show="flow.files.length" ng-click="flow.cancel()" data-toggle="tooltip" data-placement="bottom">
                                        <span class="btn-label icon fa fa-ban" translate>
                                        </span>{{'common.delete' | translate}}
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail logoSquare" ng-show="!flow.files.length">
                                        <img ng-show="hasLogo()" src="{{logoUrl}}">
                                    </div>
                                    <div class="thumbnail logoSquare" ng-show="flow.files.length">
                                        <img ng-if="flow.files.length > 0" flow-img="flow.files[0]" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--panel-->
                    <!-- </div> -->
                </div>
                <div class="row">
                    <!-- col-xs-3 -->
                    <div class="col-md-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate>common.cnpj</label>
                            <input type="text" id="cnpjInput" name="cnpjInput" class="form-control" ui-mask="99.999.999/9999-99" ng-model="empresa.cnpj" ng-disabled="disableCnpj()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <!-- <label class="control-label"></label> -->
                            <button id="retrieveIRSButton" type="button" class="btn btn-secondary no-label" disabled="true" translate>common.retrieve.irs</button>
                        </div>
                    </div>

                    <!-- col-xs-3 -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{'company.main.name' | translate}} *</label>
                            <div ng-class="{'has-error': checkValidation(companyForm.mainNameInput)}">
                                <input type="text" id="mainNameInput" placeholder="{{'company.main.name' | translate}}" ng-model="empresa.nomePrincipal" name="mainNameInput" class="form-control" maxlength="100" required>
                                <div ng-if="checkValidation(companyForm.mainNameInput)" class="help-block">{{'common.field.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <!--row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <!-- <label class="control-label">{{'company.from.minas' | translate}} *</label> -->
                                    <label class="control-label">{{'company.company.origin' | translate}} *</label>
                                </div>
                            </div>
                            <!--row-->
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" name="companyOriginRadio" id="companyOriginRadio" ng-model="empresa.origemEmpresa" value="{{origemEmpresaEnum.MINEIRA.id}}" ng-change="changeOrigemEmpresa()" ng-click="loadMunicipios(true)">{{'company.fromMinas' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="companyOriginRadio" id="companyOriginRadio" ng-model="empresa.origemEmpresa" value="{{origemEmpresaEnum.OUTRO_ESTADO.id}}" ng-change="changeOrigemEmpresa()">{{'company.other.states' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="companyOriginRadio" id="companyOriginRadio" ng-model="empresa.origemEmpresa" value="{{origemEmpresaEnum.INTERNACIONAL.id}}" ng-change="changeOrigemEmpresa()">{{'company.international' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--row-->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{'company.new.in.minas' | translate}} *</label>
                                </div>
                            </div>
                            <!--row-->
                            <!--row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" name="newInMinasRadio" id="newInMinasRadio" ng-model="empresa.empresaNovaMG" ng-value="{{true}}">{{'common.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="newInMinasRadio" id="newInMinasRadio" ng-model="empresa.empresaNovaMG" ng-value="{{false}}">{{'common.no' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--row-->
                        </div>
                    </div>
                </div>
                <!--row-->

                <div class="row" ng-if="isMineira()">
                    <div class="col-md-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate>company.inscricao.estadual</label>
                            <input type="text" placeholder="{{'company.inscricao.estadual' | translate}}" name="inscricaoEstadualInput" ng-model="empresa.inscricaoEstadual" class="form-control" maxlength="200">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div>
                            <div class="col-md-4">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>company.country.from</label>
                                    <select ng-disabled="!isInternacional()" id="countrySelect" name="countrySelect" class="form-control" ng-model="empresa.paisOrigem.id" ng-options="pais.id as pais.nome for pais in paises" placeholder="{{'address.country' | translate}}" maxlength="100">
                                        <option value="">{{'common.select' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-show="isOrigemBrasil()">
                            <div class="form-group no-margin-hr">
                                <label class="control-label" translate>company.state.from</label>
                                <select ng-disabled="isMineira()" id="companyOriginSelect" name="companyOriginSelect" class="form-control" ng-model="empresa.estadoOrigem.id" ng-options="origem.id as origem.nome for origem in origensEmpresa">
                                    <option value="">{{'common.select' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <!--row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate>company.company.name</label>
                            <input type="text" id="companyNameInput" name="companyNameInput" class="form-control" ng-model="empresa.razaoSocial" placeholder="{{'company.company.name' | translate}}" maxlength="200">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group no-margin-hr">
                            <!--row-->
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{'company.are.there.another.names' | translate}} *</label>
                                </div>
                            </div>
                            <!--row-->
                            <!--row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" name="anotherNamesRadio" id="anotherNamesRadio" ng-model="anotherNamesRadio" ng-value='{{true}}'>{{'common.yes' | translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="anotherNamesRadio" id="anotherNamesRadio" ng-model="anotherNamesRadio" ng-value='{{false}}' ng-change="checkIfHasNotNomesEmpresa()">{{'common.no' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!--row-->
                        </div>
                    </div>
                </div>
                <!--row-->
                <!-- panel other names -->
                <div class="panel" ng-controller="OtherNameCtrl as onctrl" ng-if="anotherNamesRadio==true">
                    <div class="panel-heading">
                        <span class="panel-title" translate>company.other.names</span>
                    </div>
                    <div class="panel-body">
                        <ng-grid-custom data-model="otherNames" column-defs="columnDefs" small="true" selected-items="selectedItems" sort-info="sortInfo" buttons-config="buttonsConfig"></ng-grid-custom>

                    </div>
                </div>
                <!-- panel other names-->

                <!-- Informações Mailing Instritucional -->
                <!-- <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title" translate>company.institutional.mailling</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group no-margin-hr">

                                    <label class="control-label" translate>common.responsible</label>
                                    <select id="responsibleSelect" name="responsibleSelect" class="form-control" ng-model="empresa.responsavel" ng-options="responsavel as responsavel.nome for responsavel in responsaveis">
                                        <option value="" translate>common.select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>common.role</label>
                                    <input  ng-disabled ="true" type="text" name="InstitutionalRoleInput" id="InstitutionalRoleInput" class="form-control" maxlength="250" placeholder="{{'common.role' | translate}}" ng-model="empresa.responsavel.cargoExterno">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>common.email</label>
                                    <div ng-class="{'has-error' : companyForm.institutionalEmailInput.$dirty && companyForm.institutionalEmailInput.$invalid}">
                                        <input type="email" ng-disabled ="true" id="institutionalEmailInput" name="institutionalEmailInput" class="form-control" maxlength="50" ng-model="empresa.responsavel.email" placeholder="example@email.com">
                                        <div class="help-block" ng-if="companyForm.institutionalEmailInput.$dirty && companyForm.institutionalEmailInput.$invalid">
                                            {{ 'message.error.MSG24_E-MAIL_INVALIDO' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>common.phone</label>
                                    <input type="phone" ng-disabled = "true" name="phoneInput" class="form-control" ng-model="empresa.responsavel.telefone" maxlength="18">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Fim informações Mailing Instritucional -->

                <!-- Dados do endereço -->
                <address endereco="empresa.endereco" readonly="screenService.isShowScreen()"></address>

                <!-- panel company info-->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title" translate>company.info</span>
                    </div>
                    <!--panel-body company info-->
                    <div class="panel-body">
                        <!--row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>company.legal.nature</label>
                                    <select id="legalNatureSelect" name="legalNatureSelect" class="form-control" ng-model="empresa.naturezaJuridica.id" ng-options="natureza.id as natureza.descricao for natureza in naturezasJuridicas">
                                        <option value="" translate>common.select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label">{{'common.productive.chain' | translate}} *</label>
                                    <div ng-class="{'has-error': checkValidation(companyForm.productiveChainSelect)}">


                                        <select id="productiveChainSelect" name="productiveChainSelect" ng-model="empresa.cadeiaProdutiva.id" ng-options="cadeia.id as cadeia.descricao for cadeia in cadeiasProdutivas" class="form-control" required>
                                            <option value="" translate>common.select</option>
                                        </select>
                                        <div ng-if="checkValidation(companyForm.productiveChainSelect)" class="help-block">{{'common.field.required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--row-->
                        <!--panel economic-activities-->
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title" translate>company.economic.activities</span>
                            </div>
                            <!--panel-body economic-activities-->
                            <div class="panel-body">
                                <!--row-->
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group no-margin-hr">
                                            <label class="control-label" translate>common.divisions</label>
                                            <select id="cnae-divisions-multi-select" name="cnae-divisions-multi-select" class="form-control" ng-model="selectedDivisoesCnae" multiple="true">
                                                <option title="{{divisao.denominacao}}" ng-value="divisao.id" ng-repeat="divisao in divisoesCnae" ng-selected="{{selectedDivisoesCnae.indexOf(divisao.id) !== -1}}">{{divisao.id}} - {{divisao.denominacao}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group no-margin-hr">
                                            <label class="control-label" translate>common.groups</label>
                                            <select id="cnae-groups-select" name="cnae-groups-select" ng-model="selectedGruposCnae" class="form-control" multiple="true">
                                                <option title="{{grupo.denominacao}}" ng-value="grupo.id" ng-repeat="grupo in gruposCnae track by grupo.id" ng-selected="{{selectedGruposCnae.indexOf(grupo.id) !== -1}}">{{grupo.id}} - {{grupo.denominacao}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group no-margin-hr">
                                            <label class="control-label" translate>common.classes</label>
                                            <select id="cnae-classes-select" name="cnae-classes-select" class="form-control" ng-model="selectedClassesCnae" multiple="true">
                                                <option title="{{classe.denominacao}}" ng-value="classe.id" ng-repeat="classe in classesCnae track by classe.id" ng-selected="{{selectedClassesCnae.indexOf(classe.id) > -1}}">{{classe.id}} - {{classe.denominacao}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group no-margin-hr">
                                            <label class="control-label" translate>common.subclasses</label>
                                            <select id="cnae-subclasses-select" name="cnae-subclasses-select" ng-model="selectedSubclassesCnae" class="form-control" multiple="true">
                                                <option title="{{subclasse.denominacao}}" ng-value="subclasse.id" ng-repeat="subclasse in subclassesCnae" ng-selected="{{selectedSubclassesCnae.indexOf(subclasse.id) !== -1}}">{{subclasse.id}} - {{subclasse.denominacao}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--row-->

                            </div>
                            <!--panel-body economic-activities-->
                        </div>
                        <!--panel economic-activities-->
                    </div>
                    <!--panel-body company info-->
                </div>
                <div class="panel" ng-controller="SocietaryCompositionCtrl as scctrl">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" translate>company.societary.composition</label>
                        <ng-grid-custom data-model="societaryComposition" small="true" column-defs="columnDefs" sort-info="sortInfo" buttons-config="buttonsConfig" selected-items="selectedItems"></ng-grid-custom>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate>company.brief.company.history</label>
                            <textarea id="brief-company-history-textarea" name="brief-company-history-textarea" class="form-control" ng-model="empresa.historico" maxlength="4000" rows="4"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin-hr" ng-show="isCadastroArquivado()">
                            <label class="control-label">{{'common.justificative' | translate}}*</label>
                            <textarea id="justificative-input" ng-disabled="true" name="justificative-input" class="form-control" ng-model="empresa.justificativaArquivamento" maxlength="1000" rows="4"></textarea>
                        </div>
                    </div>
                </div>

                <!-- panel company info-->
                <!-- panel contactData -->
                <!-- div class="panel" ng-controller="ContactCtrl">
                    <div class="panel-heading">
                        <span class="panel-title" translate>contact.data</span>
                    </div>
                    <ng-grid-custom data-model="contacts" column-defs="columnDefs" sort-info="sortInfo" buttons-config="buttonsConfig" selected-items="selectedItems"></ng-grid-custom>
                </div> -->
                <!-- panel contactData -->

                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title" translate>common.investor.area.responsible</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>common.name</label>
                                    <!-- <input id="investor-name-input" type="text" name="investor-name-input" class="form-control" ng-model="empresa.nomeResponsavel" maxlength="100" placeholder="{{'common.name' | translate}}"> -->
                                    <select id="responsibleSelect" name="responsibleSelect" class="form-control" ng-model="empresa.responsavel" ng-options="responsavel.nome for responsavel in responsaveis track by responsavel.id">
                                        <option value="" translate>common.select</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group no-margin-hr">
                                    <label class="control-label" translate>common.email</label>
                                    <div ng-class="{'has-error' : companyForm.investorEmailInput.$dirty && companyForm.investorEmailInput.$invalid}">
                                        <input id="investorEmailInput" type="email" placeholder="exemplo@email.com" maxlength="50" ng-model="empresa.emailResponsavel" name="investorEmailInput" class="form-control">
                                        <div class="help-block" ng-if="companyForm.investorEmailInput.$dirty && companyForm.investorEmailInput.$invalid">
                                            {{ 'message.error.MSG24_E-MAIL_INVALIDO' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>

            </div>

            <responsible-for-information usuario="empresa.usuarioResponsavel.nome" data="empresa.dataUltimaAlteracao"></responsible-for-information>
    </fieldset>
    <div class="text-right">
        <button id="save-button" class="btn btn-labeled btn-success" ng-if="!screenService.isShowScreen()" ng-click="save(companyForm.$valid)">
            <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
        </button>
        <button id="validate-button" class="btn btn-labeled btn-warning" ng-if="screenService.isEditScreen() && !isEmpresaAtiva() && !isExternalUser" ng-click="validateRegister()">
            <span class="btn-label icon fa fa-thumbs-o-up"></span>{{'common.validate.register' | translate}}
        </button>
        <button id="archive-button" data-toggle="modal" data-target="#archive-modal" class="btn btn-labeled btn-info" ng-if="screenService.isEditScreen() && !isEmpresaAtiva() && !isExternalUser">
            <span class="btn-label icon fa fa-archive"></span>{{'common.archive.register' | translate}}
        </button>
        <button id="cancel-button" class="btn btn-labeled btn-danger" ng-click="screenService.cancelar('base.searchCompany', companyForm)" ng-if="!screenService.isShowScreen()">
            <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
        </button>

        <button id="back-button" class="btn btn-labeled btn-danger" ui-sref="base.searchCompany" ng-if="screenService.isShowScreen()">
            <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
        </button>
    </div>
    <div id="archive-modal" class="modal fade modal-blur">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <h4 class="col-xs-8 text-center text-left-sm" style="color: #eee;"><i class="fa fa-archive page-header-icon"></i>&nbsp;&nbsp;{{'common.archive.register' | translate}}</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title" translate>common.data.archive.register</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group no-margin-hr">
                                        <label class="control-label">{{'common.justificative' | translate}}*</label>
                                        <textarea id="justificative-input" name="justificative-input" class="form-control" ng-model="empresa.justificativaArquivamento" maxlength="1000" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-right">
                                    <button id="save-button" class="btn btn-labeled btn-success" data-dismiss="modal" ng-click="archiveEmpresa(companyForm.$valid)">
                                        <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
                                    </button>
                                    <button id="close-button" class="btn btn-labeled btn-danger" data-dismiss="modal" ng-click="cleanJustificative()">
                                        <span class="btn-label icon fa fa-times-circle"></span>{{'common.close' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .panel -->
                </div>
            </div>
            <!-- / .modal-content -->
        </div>
        <!-- / .modal-dialog -->
    </div>
</form>
