<div growl></div>
<form id="unitForm" name="unitForm" class="form-horizontal" novalidate form-check-changes>
<fieldset ng-disabled="screenService.isShowScreen() || showUnitForm">
        <!-- Unidades Cadastradas -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'unit.registred.units' | translate }}</span>
            </div>
            <div class="panel-body" ng-controller="UnitsGridCtrl">
                <div class="grid-header">
                    <button id="new-button" ng-disabled="disableNewFn()" ng-click="prepareCreateUnit()" class="btn btn-labeled btn-info ng-scope ng-binding">
                        <span class="btn-label icon fa fa-plus-circle"></span>{{ 'unit.new' | translate }}
                    </button>
                    <button id="edit-button" ng-click="prepareEditUnit()" class="btn btn-labeled btn-warning ng-scope ng-binding" ng-disabled="disableEditFn()">
                        <span class="btn-label icon fa fa-edit"></span>{{ 'common.edit' | translate }}
                    </button>
                    <button id="delete-button" ng-click="gridScope.preDelete()" class="btn btn-labeled btn-danger ng-scope ng-binding" ng-disabled="disableDeleteFn()">
                        <span class="btn-label icon fa fa-trash-o"></span>{{ 'common.delete' | translate }}
                    </button>
                </div>
                <ng-grid-custom data-model="unidades" small="true" column-defs="unidadesColumnDefs" sort-info="unidadesSortInfo" selected-items="unidadesSelectedItems" buttons-config="unidadesButtonsConfig" injection-functions="unitGridFunctions"></ng-grid-custom>
            </div>
        </div>
    </fieldset>

<!-- Informações da Unidade -->
<div id="unitFormDiv" ng-if="showUnitForm">
    <fieldset ng-disabled="disableUnitFormDiv">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'unit.information' | translate }}</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <div ng-class="{'has-error' : checkValidation(unitForm.unitNameInput)}">
                                    <label class="control-label">{{ 'unit.name' | translate }} *</label>
                                    <input name="unitNameInput" id="unit-name-input" type="text" ng-model="unidade.nome" class="form-control" placeholder="{{ 'unit.name' | translate }}" maxlength="150" required>
                                    <div class="help-block" ng-if="checkValidation(unitForm.unitNameInput)">
                                        {{'common.field.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'unit.contact.email' | translate }}</label>
                                <div ng-class="{'has-error' : checkValidation(unitForm.unitEmailInput)}">
                                    <input name="unitEmailInput" id="unit-email-input" type="email" ng-model="unidade.email" class="form-control" placeholder="{{ 'unit.contact.email' | translate }}" maxlength="50">
                                    <div class="help-block" ng-if="checkValidation(unitForm.unitEmailInput)">
                                        {{ 'message.error.MSG24_E-MAIL_INVALIDO' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">{{ 'unit.contact.phone' | translate }}</label>
                                <input name="unitTelephoneInput" id="unit-telephone-input"  type="phone" ng-model="unidade.telefone" class="form-control" maxlength="18">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dados do endereço -->
            <address endereco="unidade.endereco" readonly="screenService.isShowScreen()"></address>

            <!-- Dados do Contato -->
           <!--  <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'common.contact.details' | translate }}</span>
                </div>
                <div class="panel-body" ng-controller="UnitContactGridCtrl">
                   <ng-grid-custom data-model="contatosPessoa" column-defs="contatoUnidadeColumnDefs" sort-info="contatoUnidadeSortInfo" selected-items="contatoUnidadeSelectedItems" buttons-config="contatoUnidadeButtonsConfig"></ng-grid-custom>
                </div>
            </div> -->

            <!-- Responsavel pelas informações -->
            <responsible-for-information usuario="unidade.usuarioResponsavel.nome" data="unidade.dataUltimaAlteracao"></responsible-for-information>
    </fieldset>

    <!-- Botões -->
    <div class="panel ng-scope">
        <div class="panel-footer text-right">
            <button id="save-button" ng-click="save(unitForm.$valid)" class="btn btn-labeled btn-success" ng-if="!disableUnitFormDiv">
                <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
            </button>
            <button id="back-button" ng-click="returnBack()" class="btn btn-labeled btn-danger" ng-if="disableUnitFormDiv">
                <span class="btn-label icon fa fa-arrow-circle-o-left"></span>{{'common.back' | translate}}
            </button>
            <button id="cancel-button" class="btn btn-labeled btn-danger" ng-click="cancel()" ng-if="!disableUnitFormDiv">
                <span class="btn-label icon fa fa-ban"></span>{{'common.cancel' | translate}}
            </button>
        </div>
    </div>
</div>
</form>