<div ng-class="{gridStyle:!small,gridStyleSmall:small}" ng-grid="gridOptions"></div>
<div id="observations-modal" class="modal fade modal-blur">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">

                    </div>
                </div>
                <div class="modal-body">
                    <div class="panel" ng-click="logar(this)">
                        <div class="panel-heading">
                            <span class="panel-title" translate>common.observation</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group no-margin-hr">
                                        <textarea class="form-control" ng-model="currentObservation" maxlength="4000" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-right">
                                    <button id="save-button" class="btn btn-labeled btn-success" data-dismiss="modal" ng-click="saveObservation()">
                                        <span class="btn-label icon fa fa-check-circle-o"></span>{{'common.save' | translate}}
                                    </button>
                                    <button id="close-button" class="btn btn-labeled btn-danger" data-dismiss="modal" ng-click="cleanObservation()">
                                        <span class="btn-label icon fa fa-times-circle"></span>{{'common.close' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .panel -->
                </div>
            </div>
            <!-- / .modal-content -->
        </div>
        <!-- / .modal-dialog -->
    </div>