<div class="grid-header" ng-show="!disableHeader()">
    <button class="btn btn-labeled btn-primary" ng-click="search()" ng-disabled="searchButton.disableFn()" ng-show='searchButton.show'>
        <span class="btn-label icon fa fa-search"></span>{{searchButton.translationKey | translate}}
    </button>
    <button class="btn btn-labeled btn-info" ng-click="addNew()" ng-disabled="newButton.disableFn()" ng-show='newButton.show'>
        <span class="btn-label icon fa fa-plus-circle"></span>{{newButton.translationKey | translate}}
    </button>
    <button class="btn btn-labeled btn-warning" ng-click="edit()" ng-disabled="editButton.disableFn()" ng-show='editButton.show'>
        <span class="btn-label icon fa fa-edit"></span>{{editButton.translationKey | translate}}
    </button>
    <button class="btn btn-labeled btn-danger" ng-click="preDelete()" ng-disabled="deleteButton.disableFn()" ng-show='deleteButton.show'>
        <span class="btn-label icon fa fa-trash-o"></span>{{deleteButton.translationKey | translate}}
    </button>
</div>
<div ng-class="{gridStyle:!small,gridStyleSmall:small}" ng-grid="options"></div>
<div class="grid-footer clearfix" ng-show="!disableFooter()">

    <div class="col-md-4" id="showing-footer-div">{{'common.showing' | translate}} {{initialPageRow}} - {{finalPageRow}} {{'common.of' | translate}} {{totalItems}} {{'common.entries' | translate}}
    </div>

    <div class="col-md-2 text-center">
        <div class="form-group">
            <label for="page-size-select">{{'common.items.per.page' | translate}}:</label>
            <select name="page-size-select" id="page-size-select" ng-model="pagingOptions.pageSize" ng-options="page for page in pagingOptions.pageSizes"></select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-right" id="pagination-div">

            <pagination total-items="totalServerItems" items-per-page="pagingOptions.pageSize" ng-model="pagingOptions.currentPage" max-size="pagingOptions.maxSize" class="pagination pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

        </div>
    </div>
</div>
