<div class="grid-footer clearfix">
    <div class="form-group">
        <div class="col-xs-3">

            <!-- <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite" aria-relevant="all">  {{'common.showing' | translate}} 1 - 10 {{'common.of' | transalte}} 57 {{'common.entries' | translate}}</div> -->
            <div id="footer-text-div">{{footerShowingText}}</div>

        </div>

        <label for="page-size-select" class="col-xs-2 control-label">{{footerPerPageText}}</label>
        <div class="col-xs-2">
            <div>
                <select name="page-size-select" id="page-size-select" class="form-control input-sm" ng-model="pagingOptions.pageSize" ng-options="page for page in pagingOptions.pageSizes"></select>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="DT-pagination">
                <div class="dataTables_paginate paging_simple_numbers" id="jq-datatables-example_paginate">

                    <pagination total-items="totalServerItems" items-per-page="pagingOptions.pageSize" ng-model="pagingOptions.currentPage" max-size="pagingOptions.maxSize" class="pagination" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

                </div>
            </div>
        </div>
    </div>
</div>
