<div growl></div>
<form name="formCarteira" class="form-horizontal" novalidate>
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6 text-center text-left-sm"><i class="fa fa-table page-header-icon"></i> {{'reportProjects.title' | translate}}</h1>
        </div>
    </div>

    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.currentStage' | translate }}</label>
                        <select id="stageMultiSelect" name="estagios" class="form-control" ng-model="filtro.estagios" multiple="true" >
                            <option title="{{estagio.descricao}}" ng-value="estagio.id" ng-repeat="estagio in estagios" ng-selected="{{stageMultiSelect.indexOf(estagio.id) > -1}}">{{estagio.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.currentStatus' | translate }}</label>
                        <select id="statsMultiSelect" name="status" class="form-control" ng-model="filtro.status" multiple="true" >
                            <option title="{{status.descricao}}" ng-value="status.id" ng-repeat="status in status" ng-selected="{{(status.id) === 'ATIVO'}}">{{status.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'location.planing.region' | translate }}</label>
                        <select id="planningRegionMultiSelect" name="regioesPlanejamento" class="form-control" ng-model="filtro.regioesPlanejamento" multiple="true">
                            <option title="{{regioesPlanejamento.nome}}" ng-value="regioesPlanejamento.id" ng-repeat="regioesPlanejamento in regioesPlanejamento" ng-selected="{{planningRegionMultiSelect.indexOf(regioesPlanejamento.id) > -1}}">{{regioesPlanejamento.nome}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-show="!(isGerente() || isPromocao())">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select id="manageMultiSelect" name="gerencias" class="form-control" ng-model="filtro.departamentos" multiple="true" ng-change="changeManageMultiSelect()">
                            <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias" ng-selected="{{manageMultiSelect.indexOf(gerencia.id) > -1}}">{{gerencia.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-show="!isPromocao()">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.analyst' | translate }}</label>
                        <select id="analystMultiSelect" name="analistas" class="form-control" ng-model="filtro.usuariosResponsavel" multiple="true">
                            <option title="{{analista.nome}}" ng-value="analista.id" ng-repeat="analista in analistas" ng-selected="{{filtro.usuariosResponsavel.indexOf(analista.id) > -1}}">{{analista.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.productive.chain' | translate }}</label>
                        <select id="productiveChainMultiSelect" name="cadeiasProdutivas" class="form-control" ng-model="filtro.cadeiasProdutivas" multiple="true">
                            <option title="{{cadeiaProdutiva.descricao}}" ng-value="cadeiaProdutiva.id" ng-selected="{{filtro.cadeiasProdutivas.indexOf(cadeiaProdutiva.id) > -1}}" ng-repeat="cadeiaProdutiva in cadeiasProdutivas" >{{cadeiaProdutiva.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Início botões filtro -->
        <div class="panel-footer text-right">
            <button id="searchButton" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="resetButton" ng-click="clean()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
        <!-- Fim botões filtro -->
    </div>
</form>

<!-- Início Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <!-- Início botões grid -->
                <div class="grid-header">
                    <button id="exportExcelButton" ng-click="export('xlsx')" ng-disabled="disabledExport()" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-excel-o"></span>{{ 'common.exportExcel' | translate }}
                    </button>
                    <button id="exportPdfButton" ng-click="export('pdf')" ng-disabled="disabledExport()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-pdf-o"></span>{{ 'common.exportPdf' | translate }}
                    </button>
                </div>
                <!-- Fim botões grid -->
            <!-- Início Grid -->
            <ng-grid-custom data-model="data" column-defs="columnDefs" selected-items="selectedItems" disable-header="disableHeader" grid-scope="gridScope" sort-info="sortInfo"></ng-grid-custom>
            <!-- Fim Grid -->
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->