<div growl></div>
<form name="formTrackingStage" class="form-horizontal" novalidate>
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6 text-center text-left-sm"><i class="fa fa-table page-header-icon"></i> {{'reportTrackingEnvironment.title' | translate}}</h1>
        </div>
    </div>

    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.currentStage' | translate }}</label>
                        <select id="stageMultiSelect" name="estagios" class="form-control" ng-model="filtro.estagios" multiple="true" >
                            <option title="{{estagios.descricao}}" ng-value="estagios.id" ng-repeat="estagios in estagios">{{estagios.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.currentStatus' | translate }}</label>
                        <select id="statsMultiSelect" name="status" class="form-control" ng-model="filtro.status" multiple="true" >
                            <option title="{{status.descricao}}" ng-value="status.id" ng-repeat="status in status" ng-selected="{{(status.id) === 'ATIVO'}}">{{status.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'location.planing.region' | translate }}</label>
                        <select id="planningRegionMultiSelect" name="regioesPlanejamento" class="form-control" ng-model="filtro.regioesPlanejamento" multiple="true">
                            <option title="{{regioesPlanejamento.nome}}" ng-value="regioesPlanejamento.id" ng-repeat="regioesPlanejamento in regioesPlanejamento">{{regioesPlanejamento.nome}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-if="!(isGerente() || isPromocao())">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select id="manageMultiSelect" name="gerencias" class="form-control" ng-model="filtro.gerencias" multiple="true" ng-change="changeManageMultiSelect()">
                            <option title="{{gerencias.descricao}}" ng-value="gerencias.id" ng-repeat="gerencias in gerencias">{{gerencias.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-if="!isPromocao()">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.analyst' | translate }}</label>
                        <select id="analystMultiSelect" name="analistas" class="form-control" ng-model="filtro.analistas" multiple="true">
                            <option title="{{analistas.nome}}" ng-value="analistas.id" ng-repeat="analistas in analistas">{{analistas.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.productive.chain' | translate }}</label>
                        <select id="productiveChainMultiSelect" name="cadeiasProdutivas" class="form-control" ng-model="filtro.cadeiasProdutivas" multiple="true">
                            <option title="{{cadeiasProdutivas.descricao}}" ng-value="cadeiasProdutivas.id" ng-repeat="cadeiasProdutivas in cadeiasProdutivas">{{cadeiasProdutivas.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'reportTrackingEnvironment.processStatus' | translate }}</label>
                        <select id="processStatusMultiSelect" name="statusProcesso" class="form-control" ng-model="filtro.statusProcesso" multiple="true" >
                            <option title="{{statusProcesso.descricao}}" ng-value="statusProcesso.id" ng-repeat="statusProcesso in statusProcesso">{{statusProcesso.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'reportTrackingEnvironment.step' | translate }}</label>
                        <select id="stepMultiSelect" name="etapa" class="form-control" ng-model="filtro.etapa" multiple="true" >
                            <option title="{{etapa.descricao}}" ng-value="etapa.tipoMeioAmbiente" ng-repeat="etapa in etapa">{{etapa.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Início botões filtro -->
        <div class="panel-footer text-right">
            <button id="searchButton" ng-click="search({filtros: filtro})" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="resetButton" ng-click="clean()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
        <!-- Fim botões filtro -->
    </div>
</form>

<!-- Início Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <!-- Início botões grid -->
                <div class="grid-header">
                    <button id="exportExcelButton" ng-click="export('xlsx')" ng-disabled="disabledExport()" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-excel-o"></span>{{ 'common.exportExcel' | translate }}
                    </button>
                    <button id="exportPdfButton" ng-click="export('pdf')" ng-disabled="disabledExport()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-pdf-o"></span>{{ 'common.exportPdf' | translate }}
                    </button>
                </div>
                <!-- Fim botões grid -->
            <!-- Início Grid -->
            <ng-grid-custom data-model="data" column-defs="columnDefs" selected-items="selectedItems" disable-header="disableHeader" grid-scope="gridScope" sort-info="sortInfo"></ng-grid-custom>
            <!-- Fim Grid -->
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->