<div growl></div>
<form name="formTrackingStage" class="form-horizontal" novalidate>
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-6 text-center text-left-sm"><i class="fa fa-table page-header-icon"></i> {{'project.report.tracking' | translate}}</h1>
        </div>
    </div>
    <!-- Critérios de Pesquisa -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'common.filters' | translate }}</span>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.currentStage' | translate }}</label>
                        <select id="stageMultiSelect" class="form-control" name="estagios" ng-model="filtro.estagios" multiple="true">
                            <option title="{{estagio.descricao}}" ng-value="estagio.id" ng-repeat="estagio in estagios" ng-selected="{{stageMultiSelect.indexOf(estagio.id) !== -1}}">{{estagio.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.currentStatus' | translate }}</label>
                        <select id="statsMultiSelect" name="status" class="form-control" ng-model="filtro.status" multiple="true">
                            <option title="{{status.descricao}}" ng-value="status.id" ng-repeat="status in status" ng-selected="{{(status.id) === 'ATIVO'}}">{{status.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!--div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.period' | translate }}</label>
                        <datepicker-custom id="datepickerIni" name="dataIni" date="filtro.dataIni" configs="configsDatepicker" form-submitted="formSubmitted"></datepicker-custom>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr no-label">
                        <datepicker-custom id="datepickerFim" date="filtro.dataFim" configs="configsDatepicker" form-submitted="formSubmitted"></datepicker-custom>
                    </div>
                </div>
            </div-->
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'location.planing.region' | translate }}</label>
                        <select id="planningRegionMultiSelect" name="regioesPlanejamento" class="form-control" ng-model="filtro.regioesPlanejamento" multiple="true">
                            <option title="{{regioesPlanejamento.nome}}" ng-value="regioesPlanejamento.id" ng-repeat="regioesPlanejamento in regioesPlanejamento" ng-selected="{{stageMultiSelect.indexOf(regioesPlanejamento.id) !== -1}}">{{regioesPlanejamento.nome}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-show="!(isGerente() || isPromocao())">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.manage' | translate }}</label>
                        <select id="manageMultiSelect" name="gerencias" class="form-control" ng-model="filtro.departamentos" multiple="true" ng-change="changeManageMultiSelect()">
                            <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias">{{gerencia.descricao}}</option>
                        </select>
                    </div>
                </div>
                <!-- RNE163 se for gerente não exibe o campo Gerência e se for analista de portfolio
                não exibe os campos Gerência e Analista -->
                <div class="col-sm-4" ng-show="!isPromocao()">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.analyst' | translate }}</label>
                        <select id="analystMultiSelect" name="analistas" class="form-control" ng-model="filtro.analistas" multiple="true">
                            <option title="{{analista.nome}}" ng-value="analista.id" ng-repeat="analista in analistas">{{analista.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">{{ 'common.productive.chain' | translate }}</label>
                        <select id="productiveChainMultiSelect" name="cadeiasProdutivas" class="form-control" ng-model="filtro.cadeiasProdutivas" multiple="true">
                            <option title="{{cadeiaProdutiva.descricao}}" ng-value="cadeiaProdutiva.id" ng-selected="filtro.cadeiasProdutivas.indexOf(cadeiaProdutiva.id) > -1" ng-repeat="cadeiaProdutiva in cadeiasProdutivas">{{cadeiaProdutiva.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <!-- Início Versão -->
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr text-left" width="50%">
                        <label class="control-label">{{ 'common.company' | translate }}:</label>
                        <input name="companyTextBox" id="companyFilterTextBox" type="text" ng-value="true" ng-model="filtro.empresa" />
                    </div>
                </div>
            </div>
            <!-- Fim Versão -->
        </div>
        <!-- Início botões filtro -->
        <div class="form-group no-margin-hr text-right" width="50%">
            <button id="searchButton" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                <span class="btn-label icon fa fa-search"></span>{{ 'common.search' | translate }}
            </button>
            <button id="resetButton" ng-click="clean()" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
        <!-- Fim botões filtro -->
    </div>
</form>
<!-- Início Resultados da Pesquisa -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <!-- Início botões grid -->
                <div class="grid-header">
                    <button id="exportExcelButton" ng-click="export('xlsx')" ng-disabled="disabledExport()" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-excel-o"></span>{{ 'common.exportExcel' | translate }}
                    </button>
                    <button id="exportPdfButton" ng-click="export('pdf')" ng-disabled="disabledExport()" class="btn btn-labeled btn-danger ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-pdf-o"></span>{{ 'common.exportPdf' | translate }}
                    </button>
                </div>
                <ng-grid-custom data-model="data" column-defs="columnDefs" selected-items="selectedItems" disable-header="disableHeader" grid-scope="gridScope" sort-info="sortInfo"></ng-grid-custom>
                <!-- Fim botões grid -->
                <!-- Início Grid -->
                <!-- <div class="table-responsive search-table-outter">
                <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="data.length > 2">
                    <thead>
                        <tr class="tableGrayRow">
                            <td class="text-center" data-title="'Empresa'">Empresa</td>
                            <td class="text-center" data-title="'Projeto'">Projeto</td>
                            <td class="text-center" data-title="'Cidade'">Cidade</td>
                            <td class="text-center" data-title="'RegiaoPlanejamento'">Região de Planejamento</td>
                            <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
                            <td class="text-center" data-title="'StatusAtual'">Status Atual</td>
                            <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
                            <td class="text-center" data-title="'Analista'">Analista</td>
                            <td class="text-center" data-title="'Gerencia'">Gerência</td>
                            <td class="text-center" data-title="'Ano'">Ano</td>
                            <td class="text-center" data-title="'InvestPrevisto'">Invest. Previsto (R$ mil)</td>
                            <td class="text-center" data-title="'InvestRealizado'">Invest. Realizado (R$ mil)</td>
                            <td class="text-center" data-title="'FatPrevisto'">Fat. Previsto(R$ mil)</td>
                            <td class="text-center" data-title="'FatRealizado'">Fat. Realizado(R$ mil)</td>
                            <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos Previstos</td>
                            <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos Realizados </td>


                        </tr>
                    </thead>
                    <tbody ng-repeat="row in data" ng-class="{tableLightRow: (data.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}">

                        <td data-title="'Empresa'">
                            {{row.empresa}}
                        </td>
                        <td data-title="'Projeto'">
                            {{row.nomeProjeto}}
                        </td>
                        <td data-title="'Cidade'">
                            {{row.cidade}}
                        </td>
                        <td data-title="'RegiaoPlanejamento'">
                            {{row.regiaoPlanejamento}}
                        </td>
                         <td data-title="'CadeiaProdutiva'">
                            {{row.cadeiaProdutiva}}
                        </td>
                        <td data-title="'StatusAtual'">
                            {{row.statusAtual}}
                        </td>
                        <td data-title="'EstagioAtual'">
                            {{row.estagioAtual}}
                        </td>
                        <td data-title="'Analista'">
                            {{row.analista}}
                        </td>
                        <td data-title="'Gerencia'">
                            {{row.gerencia}}
                        </td>
                        <td data-title="'Ano'">
                            {{row.ano}}
                        </td>
                        <td data-title="'InvestPrevisto'" class="text-right">
                            {{row.investimentoPrevisto | currency: ''}}
                        </td>
                        <td data-title="'InvestRealizado'" class="text-right">
                            {{row.investimentoRealizado | currency: ''}}
                        </td>
                         <td data-title="'FatPrevisto'" class="text-right">
                            {{row.faturamentoPrevisto | currency: ''}}
                        </td>
                         <td data-title="'FatRealizado'" class="text-right">
                            {{row.faturamentoRealizado | currency: ''}}
                        </td>
                        <td data-title="'EmpregosDiretosPrevistos'" class="text-right">
                            {{row.empregosPermanentesDiretos}}
                        </td>
                        <td data-title="'EmpregosDiretosRealizados'" class="text-right">
                            {{row.empregoPermanentesDiretosRealizados}}
                        </td>
                            <tr class="text-center" ng-class="{yellowRow: isCI()}">
                        </tr>
                    </tbody>
                </table>

            </div> -->
                <!-- Fim Grid -->
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->
