<div growl></div>
<div class="page-header ng-scope">
    <h1 class="col-xs-12 col-sm-8 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i>&nbsp;&nbsp;Busca Avançada</h1>
</div>
<form name="advancedSearchForm">
    <!-- Inicio Filtros de Empresas -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Filtros de Empresas</span>
        </div>
        <div class="panel-body">
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Empresa/Unidade</label>
                        <input class="form-control" id="empresaInput" type="text" maxlength="100" ng-model="filtro.empresaUnidade.value" ng-change="filtro.empresaUnidade.onChange()" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Natureza Jurídica</label>
                        <select id="naturezaJuridicaMultiSelect" name="naturezaJuridicaMultiSelect" class="form-control" ng-model="filtro.naturezasJuridicas.values" multiple="true">
                            <option title="{{natureza.descricao}}" ng-value="natureza.id" ng-repeat="natureza in naturezasJuridicas" ng-selected="{{filtro.naturezasJuridicas.values.indexOf(natureza.id) !== -1}}">{{natureza.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Origem</label>
                        <select id="origemEmpresaSelect" name="origemEmpresaSelect" class="form-control" ng-model="filtro.origens.values" multiple="true">
                            <option title="{{origem.descricao}}" ng-value="origem.idValue" ng-repeat="origem in ORIGEM_EMPRESA_ENUM" ng-selected="{{filtro.origens.values.indexOf(origem.idValue) !== -1}}">{{origem.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Localização</label>
                        <input class="form-control" id="localizacaoEmpresaInput" maxlength="100" ng-change="filtro.localizacaoEmpresa.onChange()" type="text" ng-model="filtro.localizacaoEmpresa.value" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Possui Projetos</label>
                        <br>
                        <input name="hasProjectsCompanyRadio" ng-change="filtro.temProjetosEmpresa.onChange()" id="hasProjectsCompanyRadio" type="radio" ng-value="1" ng-model="filtro.temProjetosEmpresa.value"> {{ 'common.yes' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="hasProjectsCompanyRadio" ng-change="filtro.temProjetosEmpresa.onChange()" id="hasProjectsCompanyRadio" type="radio" ng-value="0" ng-model="filtro.temProjetosEmpresa.value"> {{ 'common.no' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="hasProjectsCompanyRadio" ng-change="filtro.temProjetosEmpresa.onChange()" id="hasProjectsCompanyRadio" type="radio" ng-model="filtro.temProjetosEmpresa.value"> {{ 'common.all' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Empresa Nova em MG</label>
                        <br>
                        <input name="newCompanyInMGRadio" id="newCompanyInMGRadio" type="radio" ng-change="filtro.empresaNovaEmMG.onChange()" ng-value="1" ng-model="filtro.empresaNovaEmMG.value"> {{ 'common.yes' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="newCompanyInMGRadio" id="newCompanyInMGRadio" type="radio" ng-change="filtro.empresaNovaEmMG.onChange()" ng-value="0" ng-model="filtro.empresaNovaEmMG.value"> {{ 'common.no' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="newCompanyInMGRadio" id="newCompanyInMGRadio" type="radio" ng-change="filtro.empresaNovaEmMG.onChange()" ng-model="filtro.empresaNovaEmMG.value"> {{ 'common.all' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Situacao Atual</label>
                        <select id="situacaoAtualCompanySelect" name="situacaoAtualCompanySelect" class="form-control" ng-model="filtro.situacoesEmpresa.values" multiple="true">
                            <option title="{{situacao.descricao}}" ng-value="situacao.idValue" ng-repeat="situacao in SITUACOES_EMPRESA" ng-selected="{{filtro.situacoesEmpresa.values.indexOf(situacao.idValue) !== -1}}">{{situacao.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Cadeia Produtiva</label>
                        <select id="productiveChainSelect" name="productiveChainSelect" class="form-control" ng-model="filtro.cadeiasProdutivasEmpresa.values" multiple="true">
                            <option title="{{cadeia.descricao}}" ng-value="cadeia.id" ng-repeat="cadeia in cadeiasProdutivas" ng-selected="{{filtro.cadeiasProdutivasEmpresa.values.indexOf(cadeia.id) !== -1}}">{{cadeia.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Tipo de Relacionamento</label>
                        <select id="relationshipTypeCompanySelect" name="relationshipTypeCompanySelect" class="form-control" ng-model="filtro.tiposRelacionamentosEmpresa.values" multiple="true">
                            <option title="E-mail" ng-value="1" ng-selected="{{filtro.tiposRelacionamentosEmpresa.values.indexOf(1) !== -1}}">E-mail</option>
                            <option title="E-mail" ng-value="2" ng-selected="{{filtro.tiposRelacionamentosEmpresa.values.indexOf(2) !== -1}}">Reunião</option>
                            <option title="E-mail" ng-value="{{3}}" ng-selected="{{filtro.tiposRelacionamentosEmpresa.values.indexOf(3) !== -1}}">Telefone</option>
                            <option title="E-mail" ng-value="{{4}}" ng-selected="{{filtro.tiposRelacionamentosEmpresa.values.indexOf(4) !== -1}}">Outros</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-inline">
                        <label class="control-label">Datas de relacionamento entre:</label>
                        <br>
                        <datepicker-custom id="dateRelationshipCompanyStartDatepicker" date="filtro.dataRelacionamentoEmpresa.dataInicio" on-change-method="filtro.dataRelacionamentoEmpresa.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                        &nbsp;&nbsp;a&nbsp;&nbsp;
                        <datepicker-custom id="dateRelationshipCompanyEndDatepicker" date="filtro.dataRelacionamentoEmpresa.dataFim" on-change-method="filtro.dataRelacionamentoEmpresa.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">CNAE (Divisão)</label>
                        <select id="cnae-divisions-multi-select" name="cnae-divisions-multi-select" class="form-control" ng-model="selectedDivisoesCnae" multiple="true">
                            <option title="{{divisao.denominacao}}" ng-value="divisao.id" ng-repeat="divisao in divisoesCnae" ng-selected="{{selectedDivisoesCnae.indexOf(divisao.id) !== -1}}">{{divisao.id}} - {{divisao.denominacao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">CNAE (Grupo)</label>
                        <select id="cnae-groups-select" name="cnae-groups-select" ng-model="selectedGruposCnae" class="form-control" multiple="true">
                            <option title="{{grupo.denominacao}}" ng-value="grupo.id" ng-repeat="grupo in gruposCnae track by grupo.id" ng-selected="{{selectedGruposCnae.indexOf(grupo.id) !== -1}}">{{grupo.id}} - {{grupo.denominacao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">CNAE (Classe)</label>
                        <select id="cnae-classes-select" name="cnae-classes-select" class="form-control" ng-model="selectedClassesCnae" multiple="true">
                            <option title="{{classe.denominacao}}" ng-value="classe.id" ng-repeat="classe in classesCnae track by classe.id" ng-selected="{{selectedClassesCnae.indexOf(classe.id) > -1}}">{{classe.id}} - {{classe.denominacao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">CNAE (Subclasse)</label>
                        <select id="cnae-subclasses-select" name="cnae-subclasses-select" ng-model="selectedSubclassesCnae" class="form-control" multiple="true">
                            <option title="{{subclasse.denominacao}}" ng-value="subclasse.id" ng-repeat="subclasse in subclassesCnae" ng-selected="{{selectedSubclassesCnae.indexOf(subclasse.id) !== -1}}">{{subclasse.id}} - {{subclasse.denominacao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
        </div>
    </div>
    <!-- Inicio Filtros de Projetos -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Filtros de Projetos</span>
        </div>
        <div class="panel-body">
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Estagio Atual</label>
                        <select id="stageMultiSelect" name="stageMultiSelect" class="form-control" ng-model="filtro.estagios.values" multiple="true">
                            <option title="{{estagio.descricao}}" ng-value="estagio.idValue" ng-repeat="estagio in estagios" ng-selected="{{filtro.estagios.values.indexOf(estagio.idValue) !== -1}}">{{estagio.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Situação Atual</label>
                        <select id="situationMultiSelect" name="situationMultiSelect" class="form-control" ng-model="filtro.situacoesProjeto.values" multiple="true">
                            <option title="{{situacao.descricao}}" ng-value="situacao.idValue" ng-repeat="situacao in situacoes" ng-selected="{{filtro.situacoesProjeto.values.indexOf(situacao.idValue) !== -1}}">{{situacao.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Cadeia Produtiva</label>
                        <select id="productiveChainProjectSelect" name="productiveChainProjectSelect" class="form-control" ng-model="filtro.cadeiasProdutivasProjeto.values" multiple="true">
                            <option title="{{cadeia.descricao}}" ng-value="cadeia.id" ng-repeat="cadeia in cadeiasProdutivas" ng-selected="{{filtro.cadeiasProdutivasProjeto.values.indexOf(cadeia.id) !== -1}}">{{cadeia.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Responsável pelo Investimento</label>
                        <select class="form-control" id="responsibleInvestimentProjectMultiSelect" ng-model="filtro.responsaveisInvestimento.values" multiple="true">
                            <option title="{{responsavel.nome}}" ng-value="responsavel.id" ng-repeat="responsavel in responsaveis" ng-selected="{{filtro.responsaveisInvestimento.values.indexOf(responsavel.id) !== -1}}">{{responsavel.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Gerência</label>
                        <select class="form-control" id="managementProjectSelect" ng-model="filtro.gerencias.values" multiple="true">
                            <option title="{{gerencia.descricao}}" ng-value="gerencia.id" ng-repeat="gerencia in gerencias">{{gerencia.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Localização</label>
                        <input class="form-control" id="locationProjectInput" maxlength="100" type="text" ng-change="filtro.localizacaoProjeto.onChange()" ng-model="filtro.localizacaoProjeto.value" />
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Tipo</label>
                        <select class="form-control" id="typeProjetoSelect" ng-model="filtro.tipoProjeto.values" multiple="true">
                            <option ng-value="1" translate>Expansão</option>
                            <option ng-value="2" translate>Novo</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Versão</label>
                        <br>
                        <input name="currentVersionProjectRadio" id="currentVersionProjectRadio" ng-change="filtro.versaoCorrenteProjeto.onChange()" type="radio" ng-model="filtro.versaoCorrenteProjeto.value" ng-value="1"> Corrente &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="currentVersionProjectRadio" id="currentVersionProjectRadio" ng-change="filtro.versaoCorrenteProjeto.onChange()" type="radio" ng-model="filtro.versaoCorrenteProjeto.value" ng-value="0"> Congelada &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="currentVersionProjectRadio" id="currentVersionProjectRadio" ng-change="filtro.versaoCorrenteProjeto.onChange()" type="radio" ng-model="filtro.versaoCorrenteProjeto.value"> Todos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Prospecção Ativa</label>
                        <br>
                        <input name="activeProspectionProjectRadio" id="activeProspectionProjectRadio" type="radio" ng-change="filtro.prospeccaoAtivaProjeto.onChange()" ng-value="1" ng-model="filtro.prospeccaoAtivaProjeto.value"> {{ 'common.yes' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="activeProspectionProjectRadio" id="activeProspectionProjectRadio" type="radio" ng-change="filtro.prospeccaoAtivaProjeto.onChange()" ng-value="0" ng-model="filtro.prospeccaoAtivaProjeto.value"> {{ 'common.no' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="activeProspectionProjectRadio" id="activeProspectionProjectRadio" type="radio" ng-change="filtro.prospeccaoAtivaProjeto.onChange()" ng-model="filtro.prospeccaoAtivaProjeto.value"> {{ 'common.all' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- <h4 class="padding-sm no-padding-t padding-xs-hr">Alteração de Estágio</h4> -->
            <!-- Inicio linha -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Alteração de Estágio</span>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">Estagio</label>
                                <select id="stageChangeMultiSelect" name="stageChangeMultiSelect" class="form-control" ng-model="filtro.estagiosAlteracao.values" multiple="true">
                                    <option title="{{estagio.descricao}}" ng-value="estagio.idValue" ng-repeat="estagio in estagios" ng-selected="{{filtro.estagiosAlteracao.values.indexOf(estagio.idValue) !== -1}}">{{estagio.descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-inline">
                                <label class="control-label">Período:</label>
                                <br>
                                <datepicker-custom id="dateStageChangeStartProjectDatepicker" date="filtro.dataAlteracaoEstagioProjeto.dataInicio" on-change-method="filtro.dataAlteracaoEstagioProjeto.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                                &nbsp;a&nbsp;
                                <datepicker-custom id="dateStageChangeEndProjectDatepicker" name="finalDatepicker" date="filtro.dataAlteracaoEstagioProjeto.dataFim" on-change-method="filtro.dataAlteracaoEstagioProjeto.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- <h4 class="padding-sm no-padding-t padding-xs-hr">Previsão de Estágio</h4> -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Previsão de Estágio</span>
                </div>
                <div class="panel-body">
                    <!-- Inicio linha -->
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">Estagio</label>
                                <select class="form-control" id="stageForecastProjectSelect" ng-model="filtro.previsaoEstagioProjeto.estagiosPrevistos.values" ng-change="filtro.previsaoEstagioProjeto.estagiosPrevistos.onChange()" multiple="true">
                                    <option title="{{estagio.descricao}}" ng-value="estagio.idValue" ng-repeat="estagio in estagiosPrevistos">{{estagio.descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-inline">
                                <label class="control-label">Período:</label>
                                <br>
                                <datepicker-custom id="dateStageForecastStartProjectDatepicker" date="filtro.previsaoEstagioProjeto.dataInicio" on-change-method="filtro.previsaoEstagioProjeto.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                                &nbsp;a&nbsp;
                                <datepicker-custom id="dateStageForecastEndProjectDatepicker" name="finalDatepicker" date="filtro.previsaoEstagioProjeto.dataFim" on-change-method="filtro.previsaoEstagioProjeto.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                            </div>
                        </div>
                    </div>
                    <!-- Fim linha -->
                </div>
            </div>
            <!-- <h4 class="padding-sm no-padding-t padding-xs-hr">Alteração de Situação</h4> -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Alteração de Situação</span>
                </div>
                <div class="panel-body">
                    <!-- Inicio linha -->
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-group no-margin-hr">
                                <label class="control-label">Situação</label>
                                <select id="statusChangeProjectMultiSelect" name="statusChangeProjectMultiSelect" class="form-control" ng-model="filtro.situacoesProjetoAlteracao.values" multiple="true">
                                    <option title="{{situacao.descricao}}" ng-value="situacao.idValue" ng-repeat="situacao in situacoes" ng-selected="{{filtro.situacoesProjetoAlteracao.values.indexOf(situacao.idValue) !== -1}}">{{situacao.descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-inline">
                                <label class="control-label">Período:</label>
                                <br>
                                <datepicker-custom id="dateChangeStatusProjectStartDatepicker" date="filtro.dataAlteracaoSituacaoProjeto.dataInicio" on-change-method="filtro.dataAlteracaoSituacaoProjeto.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                                &nbsp;a&nbsp;
                                <datepicker-custom id="dateChangeStatusProjectEndDatepicker" date="filtro.dataAlteracaoSituacaoProjeto.dataFim" on-change-method="filtro.dataAlteracaoSituacaoProjeto.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- <h4 class="padding-sm no-padding-t padding-xs-hr">Range de Valores Previstos</h4> -->
            <!-- Inicio linha -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Range de Valores Previstos</span>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Emprego Direto Permanente Previsto</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentExpectedStartInput" ng-model="filtro.rangeEmpregoDiretoPermanentePrevisto.valorInicial" ng-change="filtro.rangeEmpregoDiretoPermanentePrevisto.onChange()" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentExpectedEndInput" ng-model="filtro.rangeEmpregoDiretoPermanentePrevisto.valorFinal" ng-change="filtro.rangeEmpregoDiretoPermanentePrevisto.onChange()" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Investimento Total Previsto</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeTotalInvestimenExpectedStartInput" ng-model="filtro.rangeInvestimentoTotalPrevisto.valorInicial" ng-change="filtro.rangeInvestimentoTotalPrevisto.onChange()" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeTotalInvestimenExpectedEndInput" ng-model="filtro.rangeInvestimentoTotalPrevisto.valorFinal" ng-change="filtro.rangeInvestimentoTotalPrevisto.onChange()" />
                            </div>
                        </div>
                    </div>
                    <!-- Fim linha -->
                    <!-- Inicio linha -->
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Faturamento Pleno Previsto</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFullExpectedValueStartInput" ng-model="filtro.rangeFaturamentoPlenoPrevisto.valorInicial" ng-change="filtro.rangeFaturamentoPlenoPrevisto.onChange()" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFullExpectedValueEndInput" ng-model="filtro.rangeFaturamentoPlenoPrevisto.valorFinal" ng-change="filtro.rangeFaturamentoPlenoPrevisto.onChange()" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Primeiro Faturamento Previsto</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFirstRevenueExpectedStartInput" ng-change="filtro.rangePrimeiroFaturamentoPrevisto.onChange()" ng-model="filtro.rangePrimeiroFaturamentoPrevisto.valorInicial" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFirstRevenueExpectedEndInput" ng-change="filtro.rangePrimeiroFaturamentoPrevisto.onChange()" ng-model="filtro.rangePrimeiroFaturamentoPrevisto.valorFinal" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- <h4 class="padding-sm no-padding-t padding-xs-hr">Range de Valores Realizados</h4> -->
            <!-- Inicio linha -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Range de Valores Realizados</span>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Emprego Direto Permanente Realizado</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentConductedStartInput" ng-change="filtro.rangeEmpregoDiretoPermanenteRealizado.onChange()" ng-model="filtro.rangeEmpregoDiretoPermanenteRealizado.valorInicial" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentConductedEndInput" ng-change="filtro.rangeEmpregoDiretoPermanenteRealizado.onChange()" ng-model="filtro.rangeEmpregoDiretoPermanenteRealizado.valorFinal" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Investimento Total Realizado</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeTotalInvestimenConductedStartInput" ng-change="filtro.rangeInvestimentoTotalRealizado.onChange()" ng-model="filtro.rangeInvestimentoTotalRealizado.valorInicial" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeTotalInvestimenConductedEndInput" ng-change="filtro.rangeInvestimentoTotalRealizado.onChange()" ng-model="filtro.rangeInvestimentoTotalRealizado.valorFinal" />
                            </div>
                        </div>
                    </div>
                    <!-- Fim linha -->
                    <!-- Inicio linha -->
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Faturamento Pleno Realizado</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFullConductedValueStartInput" ng-model="filtro.rangeFaturamentoPlenoRealizado.valorInicial" ng-change="filtro.rangeFaturamentoPlenoRealizado.onChange()" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFullConductedValueEndInput" ng-model="filtro.rangeFaturamentoPlenoRealizado.valorFinal" ng-change="filtro.rangeFaturamentoPlenoRealizado.onChange()" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <label class="control-label">Range de Primeiro Faturamento Realizado</label>
                                <br>
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFirstRevenueConductedStartInput" ng-model="filtro.rangePrimeiroFaturamentoRealizado.valorInicial" ng-change="filtro.rangePrimeiroFaturamentoRealizado.onChange()" /> &nbsp;a&nbsp;
                                <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeFirstRevenueConductedEndInput" ng-model="filtro.rangePrimeiroFaturamentoRealizado.valorFinal" ng-change="filtro.rangePrimeiroFaturamentoRealizado.onChange()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Código NCM Insumo</label>
                        <input type="numeric" maxlength="8" class="form-control" id="inputNCMCode" maxlength="8" ng-change="filtro.codigoNCMInsumo.onChange()" ng-model="filtro.codigoNCMInsumo.value" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Código NCM Produto</label>
                        <input type="numeric" maxlength="8" class="form-control" id="productNCMCode" maxlength="8" ng-change="filtro.codigoNCMProduto.onChange()" ng-model="filtro.codigoNCMProduto.value" />
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Origem do Recurso (Financeiro)</label>
                        <select class="form-control" id="resourceSourceSelect" ng-model="filtro.origemRecurso.values" multiple="true">
                            <option ng-value="1" translate>Nacional</option>
                            <option ng-value="0" translate>Internacional</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Necessidade Financiamento (BDMG)</label>
                        <select class="form-control" id="financingNeedSelect" ng-model="filtro.necessidadeFinanciamento.values" multiple="true">
                            <option ng-value="1" translate>Sim</option>
                            <option ng-value="0" translate>Não</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-inline">
                        <label class="control-label">Range de Demanda Contratada de Energia</label>
                        <br>
                        <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeEnergyContractedDemandStartInput" ng-model="filtro.rangeDemandaContratadaEnergia.valorInicial" ng-change="filtro.rangeDemandaContratadaEnergia.onChange()" /> &nbsp;a&nbsp;
                        <input type="numeric" maxlength="8" class="form-control" style="width:45%" id="rangeEnergyContractedDemandEndInput" ng-model="filtro.rangeDemandaContratadaEnergia.valorFinal" ng-change="filtro.rangeDemandaContratadaEnergia.onChange()" />
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Classe (Meio Ambiente)</label>
                        <select class="form-control" id="environmentClassSelect" ng-model="filtro.classeMeioAmbiente.values" multiple="true">
                            <option ng-repeat="classe in classesEmpreendimentos" value="{{classe.id}}" translate>{{classe.id}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Etapa Licenciamento Ambiental</label>
                        <select class="form-control" id="environmentLicensingStepSelect" ng-model="filtro.etapaLicenciamentoAmbiental.values" multiple="true">
                            <option ng-repeat="etapa in etapasMeioAmbiente" value="{{etapa.id}}" translate>{{etapa.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
        </div>
    </div>
    <!-- Inicio Filtros de Instrumentos de Formalização -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Filtros de Instrumentos de Formalização</span>
        </div>
        <div class="panel-body">
            <!-- Inicio linha -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Tipo</label>
                        <select class="form-control" id="typeInstrumentSelect" ng-model="filtro.tipoInstrumento.values" multiple="true">
                            <option ng-repeat="tipo in tiposInstrumentoFormalizacao" value="{{tipo.idValue}}" translate>{{tipo.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Situação</label>
                        <select class="form-control" id="statusInstrumentSelect" ng-model="filtro.situacaoInstrumento.values" multiple="true">
                            <option ng-repeat="sit in situacoesInstrumentoFormalizacao" value="{{sit.id}}" translate>{{sit.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Local do Documento</label>
                        <select class="form-control" id="localDocumentInstrumentSelect" ng-model="filtro.localDocumentoInstrumento.values" multiple="true">
                            <option ng-repeat="local in locais" value="{{local.id}}" translate>{{local.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
            <!-- Inicio linha -->
            <div class="row  form-group">
                <div class="col-sm-5">
                    <div class="form-inline">
                        <label class="control-label">Data Prevista de Assinatura:</label>
                        <br>
                        <datepicker-custom id="dateExpectedSignatureStartDatepicker" date="filtro.dataPrevistaAssinaturaInstrumento.dataInicio" on-change-method="filtro.dataPrevistaAssinaturaInstrumento.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                        &nbsp;a&nbsp;
                        <datepicker-custom id="dateExpectedSignatureEndDatepicker" date="filtro.dataPrevistaAssinaturaInstrumento.dataFim" on-change-method="filtro.dataPrevistaAssinaturaInstrumento.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-inline">
                        <label class="control-label">Data de Assinatura:</label>
                        <br>
                        <datepicker-custom id="dateSignatureStartDatepicker" date="filtro.dataAssinaturaInstrumento.dataInicio" on-change-method="filtro.dataAssinaturaInstrumento.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                        &nbsp;a&nbsp;
                        <datepicker-custom id="dateSignatureEndDatepicker" date="filtro.dataAssinaturaInstrumento.dataFim" on-change-method="filtro.dataAssinaturaInstrumento.onChange" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    </div>
                </div>
            </div>
            <div class="row  form-group">
                <div class="col-sm-5">
                    <div class="form-inline">
                        <label class="control-label">Data de Publicação:</label>
                        <br>
                        <datepicker-custom id="datePublicationStartDatepicker" date="filtro.dataPublicacaoInstrumento.dataInicio" configs="configsDatepicker" on-change-method="filtro.dataPublicacaoInstrumento.onChange" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                        &nbsp;a&nbsp;
                        <datepicker-custom id="datePublicationEndDatepicker" date="filtro.dataPublicacaoInstrumento.dataFim" configs="configsDatepicker" on-change-method="filtro.dataPublicacaoInstrumento.onChange" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Pesquisa de Satisfação</label>
                        <br>
                        <input name="satisfactionResearchAnsweredRadio" id="satisfactionResearchAnsweredRadio" type="radio" ng-change="filtro.pesquisaSatisfacaoRespondida.onChange()" ng-value="1" ng-model="filtro.pesquisaSatisfacaoRespondida.value"> Respondida &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="satisfactionResearchAnsweredRadio" id="satisfactionResearchAnsweredRadio" type="radio" ng-change="filtro.pesquisaSatisfacaoRespondida.onChange()" ng-value="0" ng-model="filtro.pesquisaSatisfacaoRespondida.value"> Não Respondida &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="satisfactionResearchAnsweredRadio" id="satisfactionResearchAnsweredRadio" type="radio" ng-change="filtro.pesquisaSatisfacaoRespondida.onChange()" ng-model="filtro.pesquisaSatisfacaoRespondida.value"> Todos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <!-- Fim linha -->
        </div>
    </div>
    <!-- Seleção de Campos -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Seleção de Campos</span>
        </div>
        <div class="panel-body">
            <div class="row form-group no-margin-hr">
                <div controller="MultiselectCtrl" class="col-sm-12">
                    <multi-select id="companiesGroupSelect" name="companiesGroupSelect" ng-model="fields.empresas" available="fieldsEmpresa" selected-label="{{ 'common.selected' | translate }}" available-label="{{ 'common.company' | translate }}*" display-attr="description"></multi-select>
                </div>
            </div>
            <div class="row form-group no-margin-hr">
                <div controller="MultiselectCtrl" class="col-sm-12">
                    <multi-select id="projectsGroupSelect" name="projectsGroupSelect" ng-model="fields.projetos" available="fieldsProjeto" selected-label="{{ 'common.selected' | translate }}" available-label="{{ 'common.project' | translate }}*" display-attr="description"></multi-select>
                </div>
            </div>
            <div class="row form-group no-margin-hr">
                <div controller="MultiselectCtrl" class="col-sm-12">
                    <multi-select id="instrumentsGroupSelect" name="instrumentsGroupSelect" ng-model="fields.instrumentos" available="fieldsInstrFormalizacao" selected-label="{{ 'common.selected' | translate }}" available-label="{{ 'common.formalizationInstrument' | translate }}*" display-attr="description"></multi-select>
                </div>
            </div>
        </div>
    </div>
    <!-- Início Botoes -->
    <div class="panel">
        <div class="panel-footer text-right">
            <button id="searchButton" class="btn btn-labeled btn-primary" ng-click="advancedSearch()">
                <span class="btn-label icon fa fa-search"></span>{{'common.search' | translate}}
            </button>
            <button id="cleanButton" ng-click="clean(filtro)" class="btn btn-labeled btn-secondary">
                <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
            </button>
        </div>
    </div>
    <!-- Fim Botoes -->
</form>
<!-- Início Resultados da Pesquisa -->
<script>
// init.push(function() {
//     $('#popovers-demo').popover();
// });
</script>
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">{{'common.results' | translate}}</span>
        <!-- <button id="popovers-demo" type="button" class="btn fa fa-question-circle" data-html="true" data-toggle="popover" data-placement="right" data-content="{{'common.open.csv.instruction' | translate}}" data-title="{{ 'common.open.csv.instruction.title' | translate }}" data-original-title="" title="">
        </button> -->
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-sm-12" style="overflow: auto">
                <div class="grid-header">
                    <button id="exportExcelButton" ng-csv="getCsvData()" ng-disabled="disabledExport()" filename="buscaAvancada.csv" field-separator=";" decimal-separator="." add-bom="true" class="btn btn-labeled btn-success ng-scope ng-binding">
                        <span class="btn-label icon fa fa-file-excel-o"></span>{{ 'common.exportExcel' | translate }}
                    </button>
                </div>
                <div ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter ng-class="{gridStyle:!small,gridStyleSmall:small}"></div>
                <div class="grid-footer clearfix">
                    <div class="col-md-3" id="showing-footer-div">{{'common.showing' | translate}} {{initialPageRow}} - {{finalPageRow}} {{'common.of' | translate}} {{totalItems}} {{'common.entries' | translate}}
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label for="page-size-select">{{'common.items.per.page' | translate}}:</label>
                            <select name="page-size-select" id="page-size-select" ng-model="gridOptions.paginationPageSize" ng-options="page for page in gridOptions.paginationPageSizes"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right" id="pagination-div">
                            <pagination total-items="totalItems" items-per-page="gridOptions.paginationPageSize" ng-model="gridOptions.paginationCurrentPage" max-size="gridOptions.maxSize" class="pagination pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Resultados da Pesquisa -->
