<!-- Inicio Filtros de Empresas -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Filtros de Empresas</span>
    </div>
    <div class="panel-body">
        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Empresa/Unidade</label>
                    <input class="form-control" id="empresaInput" type="text" ng-model="filtro.nomePrincipal" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Natureza Jurídica</label>
                    <select id="naturezaJuridicaSelect" name="naturezaJuridicaSelect" class="form-control" ng-model="filtro.naturezaJuridica" ng-options="natureza.id as natureza.descricao for natureza in naturezasJuridicas">
                        <option value="" translate>common.select</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Origem</label>
                    <select id="origemEmpresaSelect" name="origemEmpresaSelect" class="form-control" ng-model="filtro.origem" ng-options="origem.id as origem.descricao for orgigem in ORIGEM_EMPRESA_ENUM">
                        <option value="" translate>common.select</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Localização</label>
                    <input class="form-control" id="localizacaoEmpresaInput" type="text" ng-model="filtro.localizacaoEmpresa" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Possui Projetos</label>
                    <br>
                    <input name="hasProjectsCompanyRadio" id="hasProjectsCompanyRadio" type="radio" ng-value="true" ng-model="filtro.temProjetosEmpresa"> {{ 'common.yes' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="hasProjectsCompanyRadio" id="hasProjectsCompanyRadio" type="radio" ng-value="false" ng-model="filtro.temProjetosEmpresa"> {{ 'common.no' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="hasProjectsCompanyRadio" id="hasProjectsCompanyRadio" type="radio" ng-model="filtro.temProjetosEmpresa"> {{ 'common.all' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Empresa Nova em MG</label>
                    <br>
                    <input name="newCompanyInMGRadio" id="newCompanyInMGRadio" type="radio" ng-value="true" ng-model="filtro.empresaNovaEmMG"> {{ 'common.yes' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="newCompanyInMGRadio" id="newCompanyInMGRadio" type="radio" ng-value="false" ng-model="filtro.empresaNovaEmMG"> {{ 'common.no' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="newCompanyInMGRadio" id="newCompanyInMGRadio" type="radio" ng-model="filtro.empresaNovaEmMG"> {{ 'common.all' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Situacao Atual</label>
                    <select id="situacaoAtualCompanySelect" name="situation-select" ng-model="filtro.situacaoAtualEmpresa" ng-options="situacao.id as situacao.descricao for situacao in SITUACOES_EMPRESA" class="form-control">
                        <option value="" translate>common.select</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Tipo de Relacionamento</label>
                    <select class="form-control" name="relationshipTypeCompanySelect" id="relationshipTypeSelect" ng-model="filtro.tipoRelacionamentoEmpresa" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Datas de relacionamento entre:</label>
                    <br>
                    <datepicker-custom id="dateRelationshipCompanyStartDatepicker" date="filtro.dataRelacionamentoEmpresaInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;&nbsp;a&nbsp;&nbsp;
                    <datepicker-custom id="dateRelationshipCompanyEndDatepicker" date="filtro.dataRelacionamentoEmpresaFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Cadeia Produtiva</label>
                    <select id="productiveChainSelect" name="productiveChainSelect" ng-model="filtro.cadeiaProdutivaEmpresa" ng-options="cadeia.id as cadeia.descricao for cadeia in cadeiasProdutivas" class="form-control" required>
                        <option value="" translate>common.select</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group no-margin-hr">
                    <label class="control-label">CNAE (Divisão)</label>
                    <select id="cnae-divisions-multi-select" name="cnae-divisions-multi-select" class="form-control" ng-model="selectedDivisoesCnae" multiple="true">
                        <option title="{{divisao.denominacao}}" ng-value="divisao.id" ng-repeat="divisao in divisoesCnae" ng-selected="{{selectedDivisoesCnae.indexOf(divisao.id) !== -1}}">{{divisao.id}} - {{divisao.denominacao}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group no-margin-hr">
                    <label class="control-label">CNAE (Grupo)</label>
                    <select id="cnae-groups-select" name="cnae-groups-select" ng-model="selectedGruposCnae" class="form-control" multiple="true">
                        <option title="{{grupo.denominacao}}" ng-value="grupo.id" ng-repeat="grupo in gruposCnae track by grupo.id" ng-selected="{{selectedGruposCnae.indexOf(grupo.id) !== -1}}">{{grupo.id}} - {{grupo.denominacao}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group no-margin-hr">
                    <label class="control-label">CNAE (Classe)</label>
                    <select id="cnae-classes-select" name="cnae-classes-select" class="form-control" ng-model="selectedClassesCnae" multiple="true">
                        <option title="{{classe.denominacao}}" ng-value="classe.id" ng-repeat="classe in classesCnae track by classe.id" ng-selected="{{selectedClassesCnae.indexOf(classe.id) > -1}}">{{classe.id}} - {{classe.denominacao}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group no-margin-hr">
                    <label class="control-label">CNAE (Subclasse)</label>
                    <select id="cnae-subclasses-select" name="cnae-subclasses-select" ng-model="selectedSubclassesCnae" class="form-control" multiple="true">
                        <option title="{{subclasse.denominacao}}" ng-value="subclasse.id" ng-repeat="subclasse in subclassesCnae" ng-selected="{{selectedSubclassesCnae.indexOf(subclasse.id) !== -1}}">{{subclasse.id}} - {{subclasse.denominacao}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

    </div>
</div>

<!-- Inicio Filtros de Projetos -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Filtros de Projetos</span>
    </div>
    <div class="panel-body">
        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Estagio Atual</label>
                    <select id="stageSelect" name="stageSelect" ng-model="filtro.estagio" class="form-control" ng-options="est.id as est.descricao for est in estagios">
                        <option value="" translate="common.select"></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Situação Atual</label>
                    <select id="situationSelect" name="situationSelect" ng-model="filtro.situacaoProjeto" class="form-control" ng-options="sit.id as sit.descricao for sit in situacoes">
                        <option value="" translate="common.select"></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Cadeia Produtiva</label>
                    <select id="productiveChainSelect" name="productiveChainSelect" ng-model="filtro.cadeiaProdutiva" class="form-control" ng-options="pc.id as pc.descricao for pc in cadeiasProdutivas">
                        <option value="" translate="common.select"></option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Responsável pelo Investimento</label>
                    <select class="form-control" id="responsibleInvestimentProjectSelect" ng-model="filtro.responsavelInvestimentoProjeto" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Gerência</label>
                    <select class="form-control" id="managementProjectSelect" ng-model="filtro.situacaoProjeto" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Localização</label>
                    <input class="form-control" id="locationProjectInput" type="text" ng-model="filtro.localizacaoProjeto" />
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Tipo</label>
                    <select class="form-control" id="typeProjetoSelect" ng-model="filtro.tipoProjeto" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Versão</label>
                    <br>
                    <input name="currentVersionProjectRadio" id="currentVersionProjectRadio" type="radio" ng-value="true" ng-model="filtro.versaoCorrenteProjeto"> Corrente &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="currentVersionProjectRadio" id="currentVersionProjectRadio" type="radio" ng-value="false" ng-model="filtro.versaoCorrenteProjeto"> Congelada &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="currentVersionProjectRadio" id="currentVersionProjectRadio" type="radio" ng-model="filtro.versaoCorrenteProjeto"> Todos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Prospecção Ativa</label>
                    <br>
                    <input name="activeProspectionProjectRadio" id="activeProspectionProjectRadio" type="radio" ng-value="true" ng-model="filtro.prospeccaoAtivaProjeto"> {{ 'common.yes' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="activeProspectionProjectRadio" id="activeProspectionProjectRadio" type="radio" ng-value="false" ng-model="filtro.prospeccaoAtivaProjeto"> {{ 'common.no' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="activeProspectionProjectRadio" id="activeProspectionProjectRadio" type="radio" ng-model="filtro.prospeccaoAtivaProjeto"> {{ 'common.all' | translate }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <h4 class="padding-sm no-padding-t padding-xs-hr">Alteração de Estágio</h4>
        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Estagio</label>
                    <select class="form-control" id="stageChangeProjectSelect" ng-model="filtro.alteracaoEstagioProjeto" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Período:</label>
                    <br>
                    <datepicker-custom id="dateStageChangeStartProjectDatepicker" date="filtro.dataAlteracaoEstagioProjetoInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;a&nbsp;
                    <datepicker-custom id="dateStageChangeEndProjectDatepicker" name="finalDatepicker" date="filtro.dataAlteracaoEstagioProjetoFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <h4 class="padding-sm no-padding-t padding-xs-hr">Previsão de Estágio</h4>
        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Estagio</label>
                    <select class="form-control" id="stageForecastProjectSelect" ng-model="filtro.previsaoEstagioProjeto" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Período:</label>
                    <br>
                    <datepicker-custom id="dateStageForecastStartProjectDatepicker" date="filtro.dataPrevisaoEstagioProjetoInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;a&nbsp;
                    <datepicker-custom id="dateStageForecastEndProjectDatepicker" name="finalDatepicker" date="filtro.dataPrevisaoEstagioProjetoFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <h4 class="padding-sm no-padding-t padding-xs-hr">Alteração de Situação</h4>
        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Situação</label>
                    <select class="form-control" id="statusChangeProjectSelect" ng-model="filtro.alteracaoSituacaoProjeto" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Período:</label>
                    <br>
                    <datepicker-custom id="dateChangeStatusProjectStartDatepicker" date="filtro.dataAlteracaoSituacaoProjetoInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;a&nbsp;
                    <datepicker-custom id="dateChangeStatusProjectEndDatepicker" date="filtro.dataAlteracaoSituacaoProjetoFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <h4 class="padding-sm no-padding-t padding-xs-hr">Range de Valores Previstos</h4>
        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Emprego Direto Permanente Previsto</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentExpectedStartInput" ng-model="filtro.rangeEmpregoDiretoPermanentePrevistoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentExpectedEndInput" ng-model="filtro.rangeEmpregoDiretoPermanentePrevistoFim" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Investimento Total Previsto</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeTotalInvestimenExpectedStartInput" ng-model="filtro.rangeInvestimentoTotalPrevistoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeTotalInvestimenExpectedEndInput" ng-model="filtro.rangeInvestimentoTotalPrevistoFim" />
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Faturamento Pleno Previsto</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeFullExpectedValueStartInput" ng-model="filtro.rangeFaturamentoPlenoPrevistoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeFullExpectedValueEndInput" ng-model="filtro.rangeFaturamentoPlenoPrevistoFim" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Primeiro Faturamento Previsto</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeFirstRevenueExpectedStartInput" ng-model="filtro.rangePrimeiroFaturamentoPrevistoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeFirstRevenueExpectedEndInput" ng-model="filtro.rangePrimeiroFaturamentoPrevistoFim" />
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <h4 class="padding-sm no-padding-t padding-xs-hr">Range de Valores Realizados</h4>
        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Emprego Direto Permanente Realizado</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentConductedStartInput" ng-model="filtro.rangeEmpregoDiretoPermanenteRealizadoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeDirectEmploymentPermanentConductedEndInput" ng-model="filtro.rangeEmpregoDiretoPermanenteRealizadoFim" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Investimento Total Realizado</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeTotalInvestimenConductedStartInput" ng-model="filtro.rangeInvestimentoTotalRealizadoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeTotalInvestimenConductedEndInput" ng-model="filtro.rangeInvestimentoTotalRealizadoFim" />
                </div>
            </div>

        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row form-group">
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Faturamento Pleno Realizado</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeFullConductedValueStartInput" ng-model="filtro.rangeFaturamentoPlenoRealizadoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeFullConductedValueEndInput" ng-model="filtro.rangeFaturamentoPlenoRealizadoFim" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Range de Primeiro Faturamento Realizado</label>
                    <br>
                    <input type="text" class="form-control" style="width:45%" id="rangeFirstRevenueConductedStartInput" ng-model="filtro.rangePrimeiroFaturamentoRealizadoInicio" /> &nbsp;a&nbsp;
                    <input type="text" class="form-control" style="width:45%" id="rangeFirstRevenueConductedEndInput" ng-model="filtro.rangePrimeiroFaturamentoRealizadoFim" />
                </div>
            </div>
        </div>
        <!-- Fim linha -->
    </div>
</div>

<!-- Inicio Filtros de Instrumentos de Formalização -->
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Filtros de Instrumentos de Formalização</span>
    </div>
    <div class="panel-body">
        <!-- Inicio linha -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Tipo</label>
                    <select class="form-control" id="typeInstrumentSelect" ng-model="filtro.tipoInstrumento" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Situação</label>
                    <select class="form-control" id="statusInstrumentSelect" ng-model="filtro.situacaoInstrumento" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group no-margin-hr">
                    <label class="control-label">Local do Documento</label>
                    <select class="form-control" id="localDocumentInstrumentSelect" ng-model="filtro.localDocumentInstrument" />
                </div>
            </div>
        </div>
        <!-- Fim linha -->

        <!-- Inicio linha -->
        <div class="row  form-group">
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Data Prevista de Assinatura:</label>
                    <br>
                    <datepicker-custom id="dateExpectedSignatureStartDatepicker" date="filtro.dataPrevistaAssinaturaInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;a&nbsp;
                    <datepicker-custom id="dateExpectedSignatureEndDatepicker" date="filtro.dataPrevistaAssinaturaFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Data de Assinatura:</label>
                    <br>
                    <datepicker-custom id="dateSignatureStartDatepicker" date="filtro.dataAssinaturaInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;a&nbsp;
                    <datepicker-custom id="dateSignatureEndDatepicker" date="filtro.dataAssinaturaFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-inline">
                    <label class="control-label">Data de Publicação:</label>
                    <br>
                    <datepicker-custom id="datePublicationStartDatepicker" date="filtro.dataPublicacaoInicio" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                    &nbsp;a&nbsp;
                    <datepicker-custom id="datePublicationEndDatepicker" date="filtro.dataPublicacaoFim" configs="configsDatepicker" form-submitted="formSubmitted" data-toggle="dropdown" class="advanced-search-datepicker"></datepicker-custom>
                </div>
            </div>
        </div>
        <!-- Fim linha -->
    </div>
</div>
