<div class="invest-formalization-index-tab">
    <ul id="invest-formalization-index-tab" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.managementMeetingsPanel.investFormalizationIndex.protocolsInYear')}">
            <a ui-sref="base.managementMeetingsPanel.investFormalizationIndex.protocolsInYear">Protocolos Assinados no Ano</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.managementMeetingsPanel.investFormalizationIndex.projectsInYear')}">
            <a ui-sref="base.managementMeetingsPanel.investFormalizationIndex.projectsInYear">Projetos no Ano (Cadeia produtiva)</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.managementMeetingsPanel.investFormalizationIndex.projectsInDF')}">
            <a ui-sref="base.managementMeetingsPanel.investFormalizationIndex.projectsInDF">Relatório de Projetos em DF</a>
        </li>
    </ul>
    <div class="tab-content">        
        <div ui-view=""></div>
    </div>
</div>