<div class="notifications-tab">
    <ul id="notifications-tab" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.managementMeetingsPanel.notifications.exceededExpectDate')}">
            <a ui-sref="base.managementMeetingsPanel.notifications.exceededExpectDate">Documentos com Data Prevista de Assinatura Passada</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.notifications.intialContact')}">
            <a ui-sref="base.managementMeetingsPanel.notifications.intialContact">Início de Projeto a mais de 120 dias</a>
        </li>
    </ul>
    <div class="tab-content">        
        <div ui-view=""></div>
    </div>
</div>
