<reunion-panel-report service-url="'relatorio/agendaPositiva/agendaPositivaTOByFilters'" filter-options="filterOptions" columns-name="dataColumns" hide-totals="true" ng-model="dados"></reunion-panel-report>

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Resultados</span>
	</div>
	<div class="panel-body">
		<!-- Início Grid -->
		<div class="table-responsive">
		    <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="dataDF.length > 2">
		        <tdead>
		            <tr class="lightGrayRow">
		                <td data-title="'Decisão Formalizada'" colspan="13">{{ 'reportPositive.DFStage' | translate }}</td>
		            </tr>
		            <tr class="tableGrayRow">
		                <td class="text-center" data-title="'DataPrevista'">Data Prevista</td>
		                <td class="text-center" data-title="'DataReal'">Data Real</td>
		                <td class="text-center" data-title="'Empresa'">Empresa</td>
		                <td class="text-center" data-title="'Projeto'">Projeto</td>
		                <td class="text-center" data-title="'Cidade'">Cidade</td>
		                <td class="text-center" data-title="'RegiãoPlanejamento'">Região de Planejamento</td>
		                <td class="text-center" data-title="'Invest'">Invest. (R$ mil)</td>
		                <td class="text-center" data-title="'FatInicial'">Fat. Inicial (R$ mil)</td>
		                <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos</td>
		                <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
		                <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
		                <td class="text-center" data-title="'Analista'">Analista</td>
		                <td class="text-center" data-title="'Gerencia'">Gerência</td>
		            </tr>
		        </thead>

		        <tbody ng-repeat="row in dataDF" ng-class="{tableLightRow: (dataDF.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}" style="background-color: {{getRowColorByData(row)}}">
		            <td data-title="'DataPrevista'">
		                {{row.dataPrevisao | dateTransformFilter:'MMM/yyyy'}}
		            </td>
		            <td data-title="'DataReal'">
		                {{row.dataReal | dateTransformFilter:'MMM/yyyy'}}
		            </td>
		            <td data-title="'Empresa'">
		                {{row.nomeEmpresa}}
		            </td>
		            <td data-title="'Projeto'">
		                {{row.nomeProjeto}}
		            </td>
		            <td data-title="'Cidade'">
		                {{row.municipio}}
		            </td>
		            <td data-title="'RegiãoPlanejamento'">
		                {{row.regiaoPlanejamento}}
		            </td>
		            <td data-title="'Invest'" class="text-right">
		                {{row.totalInvestimentoPrevisto | currency: ''}}
		            </td>
		            <td data-title="'FatInicial'" class="text-right">
		                {{row.totalFaturamentoPrevisto | currency: ''}}
		            </td>
		            <td data-title="'EmpregosDiretos'" class="text-right">
		                {{row.totalEmpregoDireto}}
		            </td>
		            <td data-title="'CadeiaProdutiva'">
		                {{row.cadeiaProdutivaDesc}}
		            </td>
		            <td data-title="'EstagioAtual'">
		                {{row.estagioAtual}}
		            </td>
		            <td data-title="'Analista'">
		                {{row.usuarioResponsavel}}
		            </td>
		            <td data-title="'Gerencia'">
		                {{row.departamento}}
		            </td>
		            <tr class="text-center" ng-class="{yellowRow: isCI()}">
		            </tr>
		        </tbody>
		    </table>
		    <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="dataII.length > 2">
		        <tdead>
		            <tr class="lightGrayRow">
		                <td data-title="'Implantação Iniciada'" colspan="13">{{ 'reportPositive.IIStage' | translate }}</td>
		            </tr>
		            <tr class="tableGrayRow">
		                <td class="text-center" data-title="'DataPrevista'">Data Prevista</td>
		                <td class="text-center" data-title="'DataReal'">Data Real</td>
		                <td class="text-center" data-title="'Empresa'">Empresa</td>
		                <td class="text-center" data-title="'Projeto'">Projeto</td>
		                <td class="text-center" data-title="'Cidade'">Cidade</td>
		                <td class="text-center" data-title="'RegiãoPlanejamento'">Região de Planejamento</td>
		                <td class="text-center" data-title="'Invest'">Invest. R$ (mil)</td>
		                <td class="text-center" data-title="'FatInicial'">Fat. Inicial (mil)</td>
		                <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos</td>
		                <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
		                <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
		                <td class="text-center" data-title="'Analista'">Analista</td>
		                <td class="text-center" data-title="'Gerencia'">Gerência</td>
		            </tr>
		        </thead>
		        <tbody ng-repeat="row in dataII" ng-class="{tableLightRow: (dataII.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}" style="background-color: {{getRowColorByData(row)}}">

		            <td data-title="'DataPrevista'" class="d0">
		                {{row.dataPrevisao | dateTransformFilter:'MMM/yyyy'}}
		            </td>
		            <td data-title="'DataReal'" class="d0">
		                {{row.dataReal | dateTransformFilter:'MMM/yyyy'}}
		            </td>
		            <td data-title="'Empresa'">
		                {{row.nomeEmpresa}}
		            </td>
		            <td data-title="'Projeto'">
		                {{row.nomeProjeto}}
		            </td>
		            <td data-title="'Cidade'">
		                {{row.municipio}}
		            </td>
		            <td data-title="'RegiãoPlanejamento'">
		                {{row.regiaoPlanejamento}}
		            </td>
		            <td data-title="'Invest'" class="text-right">
		                {{row.totalInvestimentoPrevisto | currency: ''}}
		            </td>
		            <td data-title="'FatInicial'" class="text-right">
		                {{row.totalFaturamentoPrevisto | currency: ''}}
		            </td>
		            <td data-title="'EmpregosDiretos'" class="text-right">
		                {{row.totalEmpregoDireto}}
		            </td>
		            <td data-title="'CadeiaProdutiva'">
		                {{row.cadeiaProdutivaDesc}}
		            </td>
		            <td data-title="'EstagioAtual'">
		                {{row.estagioAtual}}
		            </td>
		            <td data-title="'Analista'">
		                {{row.usuarioResponsavel}}
		            </td>
		            <td data-title="'Gerencia'">
		                {{row.departamento}}
		            </td>
		            <tr class="text-center">
		            </tr>
		        </tbody>
		    </table>
		    <table ng-table="tableParams" class="table table-bordered table-gpi" style="border-bottom:0" ng-if="dataOI.length > 2">
		        <tdead>
		            <tr class="lightGrayRow">
		                <td data-title="'Operação Iniciada'" colspan="13">{{ 'reportPositive.OIStage' | translate }}</td>
		            </tr>
		            <tr class="tableGrayRow">
		                <td class="text-center" data-title="'DataPrevista'">Data Prevista</td>
		                <td class="text-center" data-title="'DataReal'">Data Real</td>
		                <td class="text-center" data-title="'Empresa'">Empresa</td>
		                <td class="text-center" data-title="'Projeto'">Projeto</td>
		                <td class="text-center" data-title="'Cidade'">Cidade</td>
		                <td class="text-center" data-title="'RegiãoPlanejamento'">Região de Planejamento</td>
		                <td class="text-center" data-title="'Invest'">Invest. R$ (mil)</td>
		                <td class="text-center" data-title="'FatInicial'">Fat. Inicial (mil)</td>
		                <td class="text-center" data-title="'EmpregosDiretos'">Empregos Diretos</td>
		                <td class="text-center" data-title="'CadeiaProdutiva'">Cadeia Produtiva</td>
		                <td class="text-center" data-title="'EstagioAtual'">Estágio Atual</td>
		                <td class="text-center" data-title="'Analista'">Analista</td>
		                <td class="text-center" data-title="'Gerencia'">Gerência</td>
		            </tr>
		        </thead>
		        <tbody ng-repeat="row in dataOI" ng-class="{tableLightRow: (dataOI.indexOf(row)%2 != 0), boldRow: !(row.dataPrevisao > 0)}" style="background-color: {{getRowColorByData(row)}}">

		            <td data-title="'DataPrevista'">
		                {{row.dataPrevisao | dateTransformFilter:'MMM/yyyy'}}
		            </td>
		            <td data-title="'DataReal'">
		                {{row.dataReal | dateTransformFilter:'MMM/yyyy'}}
		            </td>
		            <td data-title="'Empresa'">
		                {{row.nomeEmpresa}}
		            </td>
		            <td data-title="'Projeto'">
		                {{row.nomeProjeto}}
		            </td>
		            <td data-title="'Cidade'">
		                {{row.municipio}}
		            </td>
		            <td data-title="'RegiãoPlanejamento'">
		                {{row.regiaoPlanejamento}}
		            </td>
		            <td data-title="'Invest'" class="text-right">
		                {{row.totalInvestimentoPrevisto | currency: ''}}
		            </td>
		            <td data-title="'FatInicial'" class="text-right">
		                {{row.totalFaturamentoPrevisto | currency: ''}}
		            </td>
		            <td data-title="'EmpregosDiretos'" class="text-right">
		                {{row.totalEmpregoDireto}}
		            </td>
		            <td data-title="'CadeiaProdutiva'">
		                {{row.cadeiaProdutivaDesc}}
		            </td>
		            <td data-title="'EstagioAtual'">
		                {{row.estagioAtual}}
		            </td>
		            <td data-title="'Analista'">
		                {{row.usuarioResponsavel}}
		            </td>
		            <td data-title="'Gerencia'">
		                {{row.departamento}}
		            </td>
		            <tr class="text-center" ng-class="{yellowRow: isCI()}">
		            </tr>
		        </tbody>
		    </table>
		</div>
		<!-- Fim Grid -->
	</div>
</div>

<!-- Inicio Legenda -->
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Legenda</span>
	</div>
	<div class="panel-body">
		<div class="col-sm-6">
			<a class="label label-success">&nbsp;&nbsp;&nbsp;</a>&nbsp;Realizado
		</div>
		<div class="col-sm-6">
		<a class="label label-danger">&nbsp;&nbsp;&nbsp;</a>&nbsp;Data Prevista inferior ao mês de referência
		</div>
	</div>
</div>
<!-- Fim Legenda -->

