<reunion-panel-report callback-promise="initTreeMapData" service-url="'report/painelreuniao/projetosnoano'" filter-options="filterOptions" columns-name="dataColumns" hide-totals="true" ng-model="dados"></reunion-panel-report>
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Gráfico</span>
	</div>	
	<div class="panel-body">
		<form class="form-inline text-right"  ng-show="dados.length > 0">
			<div class="radio">
				<label><input type="radio" class="px" ng-model="filtro.termo" value="protocolos" id="protocolsInput"> Instrumentos
				</label>
			</div>
			<div class="radio">
				<label><input type="radio" class="px" ng-model="filtro.termo" value="investimentoPrevisto" id="predictedInvestInput"> Investimento</label>
			</div>
			<div class="radio">
				<label><input type="radio" class="px" ng-model="filtro.termo" value="faturamentoPleno" id="fullBillingInput"> Faturamento Pleno</label>
			</div>
			<div class="radio">
				<label><input type="radio" class="px" ng-model="filtro.termo" value="empregosDiretos" id="jobsInput" checked> Empregos</label>
			</div>
		</form>		
		<div class="div-treemap">		
		</div>
	</div>
</div>
<!-- <div id="tooltip-treemap" style="position: absolute">
	<p><strong id="heading"></strong></p>
	<p><span id="body"></span></p>
	<p><span id="bottom"></span></p>
</div>	
 -->
