<reunion-panel-report service-url="'report/painelreuniao/protocolosnoano'" filter-options="filterOptions" columns-name="dataColumns" callback-promise="initData" hide-totals="true" ng-model="dados"></reunion-panel-report>
<style type="text/css">
	.c3 text {
		font-size: 14px;
	}
</style>
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Gráfico</span>
	</div>
	<div class="panel-body">

		<div id="chart">
		<!-- local onde o gráfico será plotado-->
		</div>
	</div>
</div>
