<div class="satisfaction-index-tab">
    <ul id="satisfaction-index-tab" class="nav nav-tabs">
         <li ng-class="{active: screenService.isStateActive('base.managementMeetingsPanel.satisfactionIndex.satisfactionIndexChart')}">
            <a ui-sref="base.managementMeetingsPanel.satisfactionIndex.satisfactionIndexChart">Relatório de Indice de Satisfação</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.satisfactionIndex.surveyReceived')}">
            <a ui-sref="base.managementMeetingsPanel.satisfactionIndex.surveyReceived">Relatório de Pesquisas Recebidas</a>
        </li>
    </ul>
    <div class="tab-content">
        <div ui-view=""></div>
    </div>
</div>
