<!DOCTYPE html>
<html>

<head>
    <title>GPI - Projeto Cadastrado Com Sucesso</title>
    <meta charset="UTF-8">
</head>

<body style="margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333; background-color: #FFF;">
    <div style="padding:0;width:100%!important;margin:0" marginheight="0" marginwidth="0">
        <center>
            <table cellpadding="8" cellspacing="0" style="background:#ffffff;width:100%!important;margin:0;padding:0" border="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #E2F5DC solid" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td colspan="3" height="6"></td>
                                    </tr>
                                    <tr style="line-height:0px">
                                        <td width="100%" style="font-size:0px" align="center" height="1">
                                            <img width="57" height="75" alt="" src="http://www.indi.mg.gov.br/site_indi_en/wp-content/themes/indi/static/imgs/logo_indi.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" style="line-height:25px" border="0" align="center">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3" height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="36"></td>
                                                        <td width="454" align="left" style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';max-width:454px" valign="top">
                                                            Prezado Investidor,
                                                            <br>
                                                            <br>
                                                            O novo projeto de sua empresa, a ser implantando no estado de Minas Gerais, já est&aacute; cadastrado na &Aacute;rea do Investidor do Instituto de Desenvolvimento Integrado de Minas Gerais – INDI.
                                                            <br>
                                                            <br>
                                                            O pr&oacute;ximo passo que deve ser feito &eacute; o preenchimento do formul&aacute;rio “Informa&ccedil;&otilde;es de Caracteriza&ccedil;&atilde;o do Empreendimento” (ICE), que tamb&eacute;m j&aacute; est&aacute; dispon&iacute;vel na &Aacute;rea do Investidor.
                                                            <br>
                                                            <br>
                                                            Por favor, entre no nosso site (<a href="http://www.indi.mg.gov.br">www.indi.mg.gov.br</a>) e escolha a op&ccedil;&atilde;o “&Aacute;rea do Investidor” para obter mais detalhes e preencher os dados necess&aacute;rios para a continuidade do nosso atendimento.
                                                            <br>
                                                            <br>
                                                            <br>Atenciosamente,
                                                            <br>Equipe INDI
                                                            <br><a href="http://www.indi.mg.gov.br">www.indi.mg.gov.br</a>
                                                            <br>
                                                            <br><b>Nota: Este e-mail foi gerado automaticamente. Favor n&atilde;o respond&ecirc;-lo.</b>
                                                        </td>
                                                        <td width="36"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" height="36"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                                <tbody>
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0;border-collapse:collapse">
                                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                                                <tbody>
                                                    <tr style="color:#a8b9c6;font-size:11px;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif'">
                                                        <td width="150" align="left"></td>
                                                        <td width="378" align="right">©INDI - Instituto de Desenvolvimento Integrado de Minas Gerais</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>

</html>
	