<div class="page-header ng-scope">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa {{screenService.getScreen(screenType).icon}} page-header-icon"></i>&nbsp;&nbsp;{{screenService.getScreen(screenType).translationKey | translate}}</h1>
    </div>
</div>
<div class="col-xs-12">
    <ul id="<company-tabs></company-tabs>" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.company.companyTpl')}">
            <a ui-sref="base.company.companyTpl({screen: screenService.getScreenName(), id: getId()})" translate="common.company"></a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.company.unitTpl')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.company.unitTpl({screen: screenService.getScreenName(), id: getId()})" translate>common.units</a>
            <a ng-if="screenService.isNewScreen()" ng-click="screenService.notAllowed()" translate>common.units</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.company.contactInformationTpl')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.company.contactInformationTpl({screen: screenService.getScreenName(), id: getId()})" translate>common.additional.info</a>
            <a ng-if="screenService.isNewScreen()" ng-click="screenService.notAllowed()" translate>common.additional.info</a>
        </li>
        <li ng-class="{active: screenService.isStateActive('base.company.registerExternalContact')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.company.registerExternalContact({screen: screenService.getScreenName(), id: getId()})" translate>common.contacts</a>
            <a ng-if="screenService.isNewScreen()" ng-click="screenService.notAllowed()" translate>common.contacts</a>
        </li>        
    </ul>
    <div class="tab-content tab-content-bordered">
        <div ui-view=""></div>
    </div>
</div>

