<form name="formSearch" class="form-horizontal">
    <div>
        <div class="page-header ng-scope">

            <div class="row">
                <!-- Page header, center on small screens -->
                <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i>&nbsp;&nbsp;{{'company.search' | translate}}</h1>
            </div>
        </div>
        <div growl></div>
        <div class="panel" ng-if="!isExternalUser">
            <div class="panel-heading">
                <span class="panel-title">{{'common.filters' | translate}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="company" translate>common.company</label>
                            <input type="text" id="company-input" name="company-input" class="form-control" placeholder="{{'common.company' | translate}}" ng-model="filters.empresa" maxlength="200">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-xs-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{'common.cnpj' | translate}}</label>
                            <input type="text" name="cnpj" class="form-control" ui-mask="99.999.999/9999-99" ng-model="filters.cnpj">
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{'common.productive.chain' | translate}}</label>
                            <select id="productive-chain-select" name="productive-chain-select" ng-model="filters.cadeiaProdutiva.id" ng-options="cadeia.id as cadeia.descricao for cadeia in cadeiasProdutivas" class="form-control">
                                <option value="" translate>common.select</option>
                            </select>
                        </div>
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-xs-3">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">{{'common.situation' | translate}}</label>
                            <select id="situation-select" name="situation-select" ng-model="filters.situacao.id" ng-options="situacao.id as situacao.descricao for situacao in SITUACOES_EMPRESA" class="form-control">
                                <option value="" translate>common.select</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="company" translate>company.county.or.city</label>
                            <input type="text" id="county-or-city-input" name="county-or-city-input" class="form-control" placeholder="{{'company.county.or.city' | translate}}" ng-model="filters.municipioOuCidade" maxlength="200">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="company" translate>address.state</label>
                            <input type="text" id="state-input" name="state-input" class="form-control" placeholder="{{'address.state' | translate}}" ng-model="filters.estado" maxlength="200">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" for="company" translate>address.country</label>
                            <input type="text" id="country-input" name="country-input" class="form-control" placeholder="{{'address.country' | translate}}" ng-model="filters.pais" maxlength="200">
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-labeled btn-primary" ng-click="search()">
                        <span class="btn-label icon fa fa-search"></span>{{'common.search' | translate}}
                    </button>
                    <button class="btn btn-labeled btn-secondary" ng-click="clean()">
                        <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{'common.results' | translate}}</span>
            </div>
            <ng-grid-custom data-model="companies" column-defs="columnDefs" sort-info="sortInfo" buttons-config="buttonsConfig" selected-items="selectedItems" row-template="rowTemplate" row-style="rowStyle" paged-data-function="getPagedCompany" grid-scope="gridScope"></ng-grid-custom>
        </div>
    </div>
</form>