<div class="page-header ng-scope" ng-init="initializeMainProject()">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa {{screenService.getScreen(screenType).icon}} page-header-icon"></i> {{screenService.getScreen(screenType).titleTranslationKey | translate}}</h1>
    </div>
</div>
<div class="col-xs-12">
    <ul id="project-tabs" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.project.projectTpl')}">
            <a ui-sref="base.project.projectTpl({screen: screenService.getScreenName(), id: getId()})" translate="common.project"></a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.project.ice')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.project.ice.locationTpl({screen: screenService.getScreenName(), id: getId()})" translate="common.ice"></a>
            <a ng-if="screenService.isNewScreen()" ng-click="screenService.notAllowed()" translate="common.ice"></a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.project.monitor')}">
            <a ng-if="!screenService.isNewScreen() && !isExternalUser" ui-sref="base.project.monitor({screen: screenService.getScreenName(), id: getId()})" translate="common.project.tracking"></a>
            <a ng-if="screenService.isNewScreen() && !isExternalUser" ng-click="screenService.notAllowed()" translate="common.project.tracking"></a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.project.completeReportAnnualMonitoring')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.project.completeReportAnnualMonitoring({screen: screenService.getScreenName(), id: getId()})" translate="common.project.annual.monitor"></a>
            <a ng-if="screenService.isNewScreen()" ng-click="screenService.notAllowed()" translate="common.project.annual.monitor"></a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered">
        <div ui-view=""></div>
    </div>
</div>
