<form name="formSearch" class="form-horizontal">
    <div class="page-header ng-scope">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i> {{'common.consult.project' | translate}}</h1>
        </div>
    </div>
    <div ng-controller="SearchProjectGridCtrl">
        <div class="panel ng-scope" ng-if="!isExternalUser">
            <div class="panel-heading">
                <span class="panel-title" translate="common.filters"></span>
            </div>
            <!-- Início Filtros -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.company"></label>
                            <input type="text" id="companyInput" name="companyInput" ng-model="filtro.nomeEmpresa" class="form-control" placeholder="{{ 'common.company' | translate }}" maxlength="200">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="project.name"></label>
                            <input type="text" id="projectNameInput" name="projectNameInput" ng-model="filtro.nomeProjeto" class="form-control" placeholder="{{ 'project.name' | translate }}" maxlength="200">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.cnpj"></label>
                            <input type="text" id="cnpjInput" name="cnpjInput" ng-model="filtro.cnpj" class="form-control" ui-mask="99.999.999/9999-99">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.stage"></label>
                            <select id="stageSelect" name="stageSelect" ng-model="filtro.estagio" class="form-control" ng-options="est.id as est.descricao for est in estagios">
                                <option value="" translate="common.select"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.productive.chain"></label>
                            <select id="productiveChainSelect" name="productiveChainSelect" ng-model="filtro.cadeiaProdutiva" class="form-control" ng-options="pc.id as pc.descricao for pc in cadeiasProdutivas">
                                <option value="" translate="common.select"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.situation"></label>
                            <select id="situationSelect" name="situationSelect" ng-model="filtro.situacaoProjeto" class="form-control" ng-options="sit.id as sit.descricao for sit in situacoes">
                                <option value="" translate="common.select"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.manage"></label>
                            <select id="departmentSelect" name="departmentSelect" ng-model="filtro.departamento" ng-change="loadAnalists()" class="form-control" multiple ng-multiple="true" ng-options="d.id as d.descricao for d in departamentos track by d.id"></select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group no-margin-hr">
                            <label class="control-label" translate="common.user"></label>
                            <select id="userSelect" name="userSelect" ng-model="filtro.usuarioResponsavel" class="form-control" multiple ng-multiple="true" ng-options="u.id as u.nome for u in analistas"></select>
                        </div>
                    </div>
                </div>
                <!-- Final Filtros-->
            </div>
        </div>
        <div class="row" ng-if="!isExternalUser">
            <div>
                <!-- Início Botoes -->
                <div class="panel-footer text-right">
                    <button id="searchButton" class="btn btn-labeled btn-primary" ng-click="search()">
                        <span class="btn-label icon fa fa-search"></span>{{'common.search' | translate}}
                    </button>
                    <button id="cleanButton" type="reset" class="btn btn-labeled btn-secondary" ng-click="resetFilters()">
                        <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
                    </button>
                </div>
            </div>
            <!-- Fim Botoes -->
        </div>
        <!-- Início painel resultados -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{'common.results' | translate}}</span>
            </div>
            <div class="grid-header">
                <button id="new-button" ng-disabled="disableNewFn()" ng-if="!isExternalUser" ng-click="prepareNewFn()" class="btn btn-labeled btn-info ng-scope ng-binding">
                    <span class="btn-label icon fa fa-plus-circle"></span>{{ 'common.new' | translate }}
                </button>
                <button id="edit-button" ng-disabled="disableEditFn()" ng-click="prepareEditFn()" class="btn btn-labeled btn-warning ng-scope ng-binding">
                    <span class="btn-label icon fa fa-edit"></span>{{ 'common.edit' | translate }}
                </button>
                <button id="printIceButton" ng-disabled="disableIceFn()" ng-click="printICEfn()" class="btn btn-labeled btn-info">
                    <span class="btn-label icon fa fa-print"></span>{{'project.print.ice' | translate}}
                </button>
            </div>

            <ng-grid-custom data-model="projetos" column-defs="columnDefs" selected-items="selectedItems" row-template="rowTemplate" row-style="rowStyle" class="form-group no-margin-hr grid-style" aggregate-template="aggregateTemplate" groups="gridGroups" child-attribute="versions" buttons-config="buttonsConfig" paged-data-function="getPagedProject" grid-scope="gridScope"></ng-grid-custom>
        </div>
        <!-- Fim painel resultados -->
    </div>
</form>
