<reunion-panel-report callback-promise="initData" service-url="'report/painelreuniao/paineldemetas'" filter-options="filterOptions" columns-name="dataColumns" hide-totals="true" ng-model="dados"></reunion-panel-report>

<style type="text/css">
	.c3 text {
		font-size: 14px;
	}
</style>

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Quantidade de Projetos</span>
	</div>
	<div class="panel-body">
		<!-- local onde o gráfico será plotado-->
		<div id="chartProjetos"></div>
	</div>
</div>
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Investimento (R$ em Milhões)</span>
	</div>
	<div class="panel-body">
		<!-- local onde o gráfico será plotado-->
		<div id="chartInvestimento"></div>
	</div>
</div>
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Empregos Diretos</span>
	</div>
	<div class="panel-body">
		<!-- local onde o gráfico será plotado-->
		<div id="chartEmpregos"></div>
	</div>
</div>
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Faturamento Pleno (R$ em Milhões)</span>
	</div>
	<div class="panel-body">
		<!-- local onde o gráfico será plotado-->
		<div id="chartFaturamento"></div>
	</div>
</div>
