<!-- Inicio abas do painel de reuniões -->
<div class="management-meetings-panel-tab">
    <ul id="management-meetings-panel-tab" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.managementMeetingsPanel.investFormalizationIndex.protocolsInYear')}">
            <a ui-sref="base.managementMeetingsPanel.investFormalizationIndex.protocolsInYear">Indíce de Formalização de Investimentos</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.canceledProtocols')}">
            <a ui-sref="base.managementMeetingsPanel.canceledProtocols">Protocolos Cancelados</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.canceledProjects')}">
            <a ui-sref="base.managementMeetingsPanel.canceledProjects">Projetos Cancelados</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.positiveSchedule')}">
            <a ui-sref="base.managementMeetingsPanel.positiveSchedule">Agenda Positiva</a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.statusReport')}">
            <a ui-sref="base.managementMeetingsPanel.statusReport">Status Report</a>            
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.notifications.exceededExpectDate')}">
            <a ui-sref="base.managementMeetingsPanel.notifications.exceededExpectDate">Notificações</a>
        </li>        
        <li ng-class="{active: screenService.isParentStateActive('base.managementMeetingsPanel.satisfactionIndex.satisfactionIndexChart')}">
            <a ui-sref="base.managementMeetingsPanel.satisfactionIndex.satisfactionIndexChart">Indíce de Satisfação</a>
        </li>
    </ul>
    <div class="tab-content">        
        <div ui-view=""></div>
    </div>
</div>
<!-- Fim abas do painel de reuniões -->
