<div class="panel ng-scope">
    <div class="panel-heading">
        <span class="panel-title" translate="common.responsible.for.information"></span>
    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="form-group no-margin-hr">
                <h5>{{'common.user.name' | translate}}</h5>
                <label class="control-label">{{usuario}}</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group no-margin-hr">
                <h5>{{'common.date.hour' | translate}}</h5>
                <label class="control-label">{{dataUltimaAlteracao}}</label>
            </div>
        </div>
    </div>
</div>