<div class="page-header ng-scope">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-8 text-center text-left-sm"><i class="fa {{screenService.getScreen(screenType).icon}} page-header-icon"></i>&nbsp;&nbsp;{{screenService.getScreen(screenType).translationKey | translate}}</h1>
    </div>
</div>
<div class="col-xs-12">
    <ul id="formalizationInstrumentTabs" class="nav nav-tabs">
        <li ng-class="{active: screenService.isStateActive('base.formalizationInstrument.formalizationInstrumentTpl')}">
            <a ui-sref="base.formalizationInstrument.formalizationInstrumentTpl({screen: screenService.getScreenName(), id: getId()})" translate="common.formalizationInstrument"></a>
        </li>

        <li ng-class="{active: screenService.isParentStateActive('base.formalizationInstrument.monitorTpl')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.formalizationInstrument.monitorTpl({screen: screenService.getScreenName(), id: getId()})" translate="formalizationInstrument.transaction.activities"></a>
            <a ng-if="screenService.isNewScreen()" ng-click="screenService.notAllowed()" translate="formalizationInstrument.transaction.activities"></a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.formalizationInstrument.publicationTpl')}">
            <a ng-if="!screenService.isNewScreen()" ui-sref="base.formalizationInstrument.publicationTpl({screen: screenService.getScreenName(), id: getId()})" translate="common.publication"></a>
            <a ng-if="screenService.isNewScreen()" ng-click="notAllowed()" translate="common.publication"></a>
        </li>
        <li ng-class="{active: screenService.isParentStateActive('base.formalizationInstrument.satisfactionSurveyTpl')}">
            <a ng-if="screenService.isShowScreen()" ui-sref="base.formalizationInstrument.satisfactionSurveyTpl({screen: screenService.getScreenName(), id: getId()})" translate="common.satisfactionSurvey"></a>
            <a ng-if="!screenService.isShowScreen()" ng-click="screenService.notAllowedGeneric()" translate="common.satisfactionSurvey"></a>
        </li>
    </ul>
    <div class="tab-content tab-content-bordered">
        <div ui-view=""></div>
    </div>
</div>
