<div>
    <div class="page-header ng-scope">

        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-sm-8 text-center text-left-sm"><i class="fa fa-search page-header-icon"></i>&nbsp;&nbsp;{{'formalizationInstrument.search' | translate}}</h1>
        </div>
    </div>
    <div growl></div>
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{'common.filters' | translate}}</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" for="formalization-type-select">{{'formalizationInstrument.type' | translate}}</label>
                        <select id="formalization-type-select" name="formalization-type-select" ng-model="filters.tipoInstrumento" ng-options="tipo.id as tipo.descricao for tipo in formalizationTypes" class="form-control">
                            <option value="" translate>common.select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" for="situation-select">{{'common.situation' | translate}}</label>
                        <select id="situation-select" name="situation-select" ng-model="filters.situacao" ng-options="situacao.id as situacao.descricao for situacao in situations" class="form-control">
                            <option value="" translate>common.select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" for="company-input">{{'common.company' | translate}}</label>
                        <input type="text" id="company-input" name="company-input" class="form-control" placeholder="{{'common.company' | translate}}" ng-model="filters.empresa" maxlength="250">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" for="protocol-input">{{'formalizationInstrument.protocolCode' | translate}}</label>
                        <input type="text" id="protocol-input" name="protocol-input" class="form-control" ui-mask="999/9999" ng-model="filters.protocolo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" for="formalization-title-input">{{'formalizationInstrument.title' | translate}}</label>
                        <input type="text" id="formalization-title-input" name="formalization-title-input" class="form-control" placeholder="{{'formalizationInstrument.title' | translate}}" ng-model="filters.titulo" maxlength="200">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label" for="project-name-input">{{'formalizationInstrument.projectName' | translate}}</label>
                        <input type="text" id="project-name-input" name="project-name-input" class="form-control" placeholder="{{'formalizationInstrument.projectName' | translate}}" ng-model="filters.nomeProjeto" maxlength="250">
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-labeled btn-primary" ng-click="search()">
                    <span class="btn-label icon fa fa-search"></span>{{'common.search' | translate}}
                </button>
                <button class="btn btn-labeled btn-secondary" ng-click="clean()">
                    <span class="btn-label icon fa fa-eraser"></span>{{'common.clean' | translate}}
                </button>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{'common.results' | translate}}</span>
        </div>
        <ng-grid-custom data-model="instrumentos" column-defs="columnDefs" sort-info="sortInfo" buttons-config="buttonsConfig" selected-items="selectedItems" row-template="rowTemplate" row-style="rowStyle"></ng-grid-custom>
    </div>
</div>
